<div class="small-12 medium-9 large-6">
    <div class="small-12 columns">
        <label>
            {{ 'dummyPaymentInvoice.date_of_birth' | trans }}*
            {{ form_widget(form.dummyPaymentInvoice.date_of_birth, { 'attr': {'placeholder': 'Format: DD.MM.YYYY' | trans } }) }}
        </label>
        {{ form_errors(form.dummyPaymentInvoice.date_of_birth) }}
    </div>
</div>
