{{ form_widget(productsForm) }}

<h3>Select products to assign</h3>

{{ tabs(productConcreteFormTabs, {
    'productTable': productTable,
}) }}

{% if assignedProductConcreteTabs is defined %}
    <h3>Assigned products</h3>

    {{ tabs(assignedProductConcreteTabs, {
        'productTable': productAssignedTable,
    }) }}
{% endif %}
