<h3>Selected products</h3>

<table class="table table-striped table-bordered table-hover gui-table-data" id="selectedProductsTable" data-paging="false">
    <thead>
        <tr>
            <th id="ID">ID</th>
            <th id="SKU">SKU</th>
            <th id="Name">Name</th>
            <th id="Selected">Selected</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
