{{ form_widget(productsForm) }}

<h3>Select products to assign</h3>

{{ tabs(productConcreteFormTabs, {
    'productTable': productTable,
}) }}

<h3>Assigned products</h3>

{{ tabs(assignedProductConcreteTabs, {
    'productTable': productAssignedTable,
}) }}
