{% extends '@Application/layout.twig' %}


{% block body_header %}{% endblock %}
{% block body_menu %}{% endblock %}


{% block body_class %}spy-login{% endblock %}


{% block content %}
    <h1>Spryker</h1>
    <h2>Commerce Framework</h2>

    <div class="container">
        <div class="text-center lead">
            <p>Forgot your password? Please enter<br/>your email below to receive a new password.</p>
        </div>
        {{ form|raw }}
        <a href="/auth/login" class="link">Back to login
            page</a>
    </div>
{% endblock %}
