parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Constant T_SEMICOLON not found.#'
        - '#Constant T_OPEN_PARENTHESIS not found.#'
        - '#Constant T_OPEN_SQUARE_BRACKET not found.#'
        - '#Call to an undefined method ReflectionType::getName\(\)#'
        - '#Call to an undefined method ReflectionType::isBuiltin\(\)#'
        - '#Call to an undefined method Nette\\DI\\Config\\Adapter::dump\(\)#'
        - '#Comparison operation ">" between int<2, max> and 1 is always true.#'
        - '#Instanceof between string and Nette\\DI\\Config\\Adapter will always evaluate to false.#'
        - '#Parameter \#1 \$[a-zA-Z]* of class ReflectionClass constructor expects class-string<T of object>\|T of object, string given.#'
        - '#Parameter \#1 \$callback of function spl_autoload_unregister expects callable\(\): mixed, array given.#'
        - '#Parameter \#2 \$callback of function array_filter expects .+, .+glob.+ given#'
        - '#Parameter \#2 \$callback of function array_filter expects \(callable\(mixed\): bool\)\|null, .+ given.#'
        - '#Parameter \#2 \$callback of function array_filter expects \(callable\(string\): bool\)\|null, .+ given.#'
        -
            identifier: missingType.iterableValue
