parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Constant T_SEMICOLON not found.#'
        - '#Constant T_OPEN_PARENTHESIS not found.#'
        - '#Constant T_OPEN_SQUARE_BRACKET not found.#'
        - '#Call to an undefined method ReflectionType::getName\(\)#'
        - "#Call to function method_exists\\(\\) with Symfony\\\\Component\\\\Console\\\\Helper\\\\ProgressBar and 'maxSecondsBetweenRe…' will always evaluate to false.#"
