parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
    - '#Constant T_SEMICOLON not found.#'
    - '#Constant T_OPEN_PARENTHESIS not found.#'
    - '#Constant T_OPEN_SQUARE_BRACKET not found.#'
    - '#Instantiated class PHP_CodeSniffer not found.#'
    - '#Call to method process\(\) on an unknown class PHP_CodeSniffer.#'
    - '#Instantiated class PHP_CodeSniffer_File not found.#'
    - '#Call to method start\(\) on an unknown class PHP_CodeSniffer_File.#'
    - '#Method Spryker\\Zed\\Development\\Business\\DependencyTree\\DependencyFinder\\ExternalDependency::getFile\(\) should return PHP_CodeSniffer\\Files\\File but returns PHP_CodeSniffer_File.#'

services:
    -
        class: PhpStan\DynamicType\FacadeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\QueryContainerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ConsoleDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ControllerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\PluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ServiceDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ConfigDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ClientDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ClientPluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\YvesFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ZedFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\YvesFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PhpStan\DynamicType\ZedFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
