nav.spy-page-nav {
	@include fitem(1, 200px, null, 0);
	position:relative;		//Safari
	z-index:-1;				//Safari
	background: $_rgbSpyEbonyClay;
	padding-top:50px;
	@include font(40px, 13px, $_rgbWhite, $_ffCopy);

	&+* {
		margin-left: -200px;
		@include pre(transition, margin-left $_tMed cubic-bezier(0.42, 0.0, 0.05, 1.25));
	}

	&.open+* {
		margin-left: 0;
		@include pre(transition-timing-function, cubic-bezier(0.1, 0.9, 0.25, 0.95));
	}

	ul {
		@extend %reset-list;

		outline:none;

		ul {
			overflow: hidden;
			height: 0;
			@include vis(false, $_tFast, ease, height);
			margin-left:-$_xSpacing;
		}
	}

	&>ul>li {
		border-bottom:1px solid lighten($_rgbSpyEbonyClay, 10%);
		background:transparent;
		padding:0 $_xSpacing 0 $_xGutter;
		@include pre(transition, background $_tFast ease-in);

		&:first-child {
			padding-top:$_ySpacing * 0.5;
		}

		&:last-child {
			border-bottom:none;
		}

		&.open {
			background:$_rgbSpyRiverBed;
			@include pre(transition-timing-function, ease-out);
		}
	}

	li {
		span {
			@extend %menu-label-level1-assembly;
			cursor: pointer;

			&:before {
				content: '+';
				@include h(null, baseline, $_xSpacing * 0.67);
				margin-left: -($_xSpacing * 0.67);
			}
		}

		a {
			@extend %reset-link;
			@extend %menu-label-level1-assembly;
		}

		&.active {
			&>span,
			&>a {
				@extend %menu-label-level1-active;
			}
		}

		li {
			margin: 0 0 0 $_xSpacing;
			padding: 0 0 0 ($_xSpacing * 0.5);

			&:last-child {
				padding-bottom: $_ySpacing * 0.5;
			}

			span,
			a {
				@extend %menu-label-level2-assembly;
			}

			&.active {
				&>span,
				&>a {
					@extend %menu-label-level2-active;
				}
			}

			li {
				span,
				a {
					@extend %menu-label-level3-assembly;
				}

				&.active {
					@extend %menu-label-level3-active;
				}
			}
		}
	}

	li.open {
		&>span:before {
			content: '-';
		}

		&>ul {
			@include vis(true, $_tFast, ease, height);
		}
	}
}