{% extends '@Auth/Layout/layout.twig' %}

{% form_theme form '@Auth/Layout/form.twig' %}

{% block content %}

    {% include '@Auth/Partial/form-message.twig' %}

    {{ form(form) }}
    <div class="form-group text-center small">
        <a href="/auth/login">{{ 'Login' | trans }}</a>
    </div>
{% endblock %}
