{% for message in app.session.flashbag.get('flash.messages.success') %}
    <web-spy-notification type="success" closeable="true">
        <span title>{{ 'Success!' | trans }}</span>
        <span description>{{ message | trans }}</span>
    </web-spy-notification>
{% endfor %}

{% for message in app.session.flashbag.get('flash.messages.error') %}
    <web-spy-notification type="error">
        <span title>{{ message | trans }}</span>
    </web-spy-notification>
{% endfor %}
