{% for message in app.session.flashbag.get('flash.messages.success') %}
    <spy-notification type="success" closeable="true">
        <span title>{{ 'Success!' | trans }}</span>
        <span description>{{ message | trans }}</span>
    </spy-notification>
{% endfor %}

{% for message in app.session.flashbag.get('flash.messages.error') %}
    <spy-alert type="error">{{ message | trans }}</spy-alert>
{% endfor %}
