{% extends '@Application/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block head2 %}--{% endblock %}

{% block title_content %}Users Details{% endblock %}

{% block content %}
    <div class="spy-layout n2">
        <div class="spy-layout sparse">
            {% include '@User/Index/section/user-details-form.twig' %}
        </div>
        <div class="spy-layout sparse">

        </div>
    </div>

{% endblock %}
