{% extends '@Application/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block head2 %}--{% endblock %}

{% block title_content %}Users List{% endblock %}

{% block content %}
    <section
            class="spy-layout compact"
            spy-app="spyGrid,spyForm"
            ng-controller="GridController"
            ng-strict-di
            src="/user/grid"
            name="grid"
            on="{ form_success : 'update' }"
            ng-class="{ query : queryActive }"
            >

        <h3>{{ "user.index" | trans }}</h3>

        <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

        <table class="spy-grid">
            <thead>
            <tr>
                <th spy-grid-head="columns['name']" label="Name"></th>
                <th spy-grid-head="columns['username']" label="Email"></th>
                <th spy-grid-head="columns['group']" label="Group"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="row in rows">
                <td><a href="/user/index/details?id={[{ row.id_user }]}">{[{ row.first_name + ' ' + row.last_name }]}</a></td>
                <td>{[{ row.username }]}</td>
                <td>{[{ row.group }]}</td>
            </tr>
            <tr ng-if="!rows.length">
                <td colspan="4">{{ "grid.no.results" | trans }}</td>
            </tr>
            </tbody>
        </table>

        <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

    </section>

{% endblock %}
