<div class="progress hidden file-directory-progress-container {{ fileDirectoryProgressbarClass | default('') }}" id="{{ idProgressbar }}">
    <div class="file-directory-progress progress-bar progress-bar-100 progress-bar-striped active" role="progressbar"></div>
</div>
