.lumberjack__query-form {
  position: relative;
  @include experimental-value( position, sticky, -moz, -webkit, -o, -ms, not -khtml, official );
  z-index: 2;
  // top: 40px;
  top: 0;
  margin: 0;

  background: $ci-black;

  fieldset {
    border:0;
    padding: 0;
    margin: 0;
  }

  input {
    font-family: 'Source Code Pro', Monaco, monospace;
  }

  .lumberjack__main-query {
    margin-left: 125px;
    margin-right: 90px;
    position: relative;
  }
}

.lumberjack__query {
  display: block;

  font-family: 'Source Code Pro', Monaco, monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  min-height: 30px;
  padding: 8px 10px;

  border: 0;

  var {
    font-style: normal;
  }

  .key {
    color: $ci-blue-light;
  }

  .operator {
    color: $ci-red-light;
  }

  .setting {
    color: $ci-violet-light;
  }

  .value,
  .value span {
    color: $ci-green-light;
  }
}

$select-size: 125px;

.lumberjack__command-select-wrap {
  position: absolute;

  top: 0;
  bottom: 0;
  left: - $select-size;

  width: $select-size;

  color: $ci-black;

  background: $ci-blue-light;
  border-color: $ci-blue-light;

  cursor: pointer;

  &::before,
  &::after {
    line-height: 100%;
    position: absolute;
    top: 50%;

    pointer-events: none;
  }

  &::before {
    @extend %iconic;

    white-space: nowrap;

    content: '\e000 \00a0 \00a0' attr( data-value );

    left: 10px;

    height: 2em;
    line-height: 2em;
    margin-top: -1em;

    font-size: 16px;
  }

  &[data-value="compare"]::before {
    content: '\e001 \00a0 \00a0' attr( data-value );
  }
  &[data-value="histogram"]::before {
    content: '\e002 \00a0 \00a0' attr( data-value );
  }
  &[data-value="tacho"]::before {
    content: '\e003 \00a0 \00a0' attr( data-value );
  }
  &[data-value="l337"]::before {
    @extend %l337;
    content: '\1337 \00a0' attr( data-value );
  }

  &::after {
    content: '';

    $beak-size: 7px;

    border: $beak-size solid transparent;
    // border-left-color: inherit;
    // border-right: 0;
    // border-right: 0;
    border-right-color: $ci-black;

    right: 0;
    // left: 100%;


    margin-top: -$beak-size;
  }
}

.lumberjack__command-select {
  display: block;
  border: 0;
  height: 100%;
  width: 100%;

  color: inherit;

  padding: 0;
  line-height: 40px;

  outline: 0;
  @include appearance( none );
  text-indent: -1500px;
  background: inherit;
  cursor: pointer;
}

.lumberjack__input {
  overflow: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;

  &.ghost {
    pointer-events: none;
    background: $ci-black;
    color: #ddd;
  }

  &:focus {
    outline: 0;
    color: #fff;

    + .ghost {
      color: transparent !important;
    }
  }
}

textarea.lumberjack__input {
  z-index: 1;
  resize: none;

  color: transparent;
  background: transparent;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  border: 0;
  margin: 0;

  width: 100%;

  &:focus + .lumberjack__input {
    visibility: hidden;
  }
}

.lumberjack__settings-bar {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;

  border: 0;
  background: $ci-black;
  margin: 0;
  padding: 0 10px;

  color: #ccc;

  .lumberjack__action-bar {
    position: absolute;
    bottom: 100%;
    right: 5px;
    padding-bottom: 5px;

    white-space: nowrap;
  }

  .lumberjack__action-bar__button {
    color: #fff;
    font-size: 16px;
    font-style: normal;

    background: none;

    border: 0;
    margin: 0;
    display: inline-block;
    padding: 0 5px;

    opacity: .4;

    cursor: pointer;

    @include transition( all .25s );

    &:hover {
      opacity: 1;
    }

    &::before {
      @extend %iconic;
      color: inherit;
    }
  }

  .lumberjack__typehinter-toggle {
    &.active {
      color: $ci-orange-light;
      opacity: 1;
      text-shadow: 0 0 5px $ci-orange-light;

      // @include animation( orange-green-pulse 5s linear infinite );
    }

    &::before {
      content: '\e004';
    }
  }

  .lumberjack__settings-bar__toggle {
    &::before {
      content: '\e005';
    }
  }

  .lumberjack__query-form__submit-button {
    color: $ci-green-light;
    opacity: .8;

    &::before {
      content: '\e00a';
    }
  }

  > dl {
    display: none;
    margin: 0;

    dt, dd {
      // display: inline-block;
      // vertical-align: middle;
      float: left;
      line-height: 25px;
    }

    dt {
      width: 20px;
      height: 25px;
      clear: left;

      cursor: pointer;

      @extend %ir;

      &::before {
        conten: '';
        width: 100%;
        line-height: 25px;
        text-align: right;

        @include transition( color .25s );
      }

      &.timespan::before {
        content: '\e006';
      }

      &.refresh::before {
        content: '\e007';
      }

      &.results-per-page::before {
        content: '\e008';
      }

      &:hover::before {
        content: '\e00b';
        color: $ci-red-light;
      }

      ~ dt,
      ~ dt ~ dd {
        margin-top: 5px;
      }
    }

    dd {
      margin-left: 15px;

      height: 25px;
      line-height: 25px;

      font-size: 12px;

      + dt {
        // clear: left;
      }
    }

    .break {
      display: block;
      width: 100%;
      height: 0;
      line-height: 0;
    }

  }

  &.active-timespan,
  &.active {
    padding: 10px;

    border-radius: 0 0 0 10px;

    // &::after,
    &::before {
      content: '';
      border-radius: 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      right: 100%;
      border: $ci-black solid 10px;

      clip: rect( 10px, 30px, 20px, 20px );
      margin: -10px -10px 0 0;
    }

    &::after {
      top: 100%;
      right: 0;
    }

    > dl {
      display: block;
    }
  }

  &.active-timespan {
    dt,
    dd {
      &:not( .timespan ) {
        display: none;
      }
    }
  }

  .lumberjack__text-input {
    background: $ci-silver;
    border: 0;

    @include transition( all .35s );
    // border-bottom: 1px dashed #ccc;

    // box-shadow: inset 0 -5px 10px -7px #000, 0 2px 2px -2px #fff;

    outline: 0;

    color: $ci-black;
    font-size: 14px;
    text-align: center;

    padding: 2px 5px;
    margin: 0 5px;

    border-radius: 2px;

    &:focus {
      background-color: #fff;
      box-shadow: 0 0 15px -2px #fff;
      // border-bottom-color: #fff;
    }
  }

  .lumberjack__auto-refresh-checkbox {
    @include appearance( none );

    position: absolute;
    width: 0;
    height: 0;
    border: 0;
    background: none;
    opacity: .01;

    + label {
      font-size: 14px;

      color: $ci-violet-light;
      // text-decoration: line-through;

      cursor: pointer;

      display: inline-block;

      &::before {
        content: attr( data-no );
        color: #000;
        border-radius: 3px;
        padding: 0 3px;
        background: $ci-violet-light;
        margin-right: .35em;
      }
    }

    &:checked + label {
      color: $ci-green-light;
      text-decoration: none;

      &::before {
        background: $ci-green-light;
        content: attr( data-yes );
      }
    }
  }
}
