{% extends '@Application/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block content %}
    <div
        spy-app="spyFormat, spyGrid, spyForm, spyLayout"
        ng-strict-di
        ng-controller="ComController"
    >
        <div spy-form-update="update()" scope="voucher-pool-category-grid" channel="voucher-pool-category-form"></div>
        <div spy-form-update="closeLayer()" scope="voucher-pool-category-form" channel="voucher-pool-category-form"></div>
        <div spy-form-abort="closeLayer()" scope="voucher-pool-category-form" channel="voucher-pool-category-form"></div>

        <spy-listen on="voucher-pool-category-create-click" do="create = true ; read($argument); openLayer()" scope="voucher-pool-category-form" channel="voucher-pool-category-form"></spy-listen>
        <spy-listen on="voucher-pool-category-update-click" do="create = false; read($argument); openLayer()" scope="voucher-pool-category-form" channel="voucher-pool-category-form"></spy-listen>

        {% include '@Discount/Partials/navigation.twig' %}

        {% include '@Discount/Grid/voucher-pool-category-grid.twig' %}
        {% include '@Discount/Form/voucher-pool-category-form.twig' %}
    </div>
{% endblock %}
