{% extends '@Gui/Layout/layout.twig' %}

{% set section_title = 'Vouchers list' %}

{% block breadcrumb %}
    <li class="active"><strong>{{ section_title | trans }}</strong></li>
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: section_title } %}

        {% block widget_header_content %}
            <a class="btn btn-sm btn-primary" href="/discount/voucher/create">{{ 'Create Voucher' | trans }}</a>
        {% endblock %}

        {% block widget_content %}

            {{ vouchers | raw }}

        {% endblock %}

    {% endembed %}

{% endblock %}
