<div class="well">
    {{ tips | trans }}
</div>

{% embed '@ConfigurableBundleGui/Template/_partials/translations.twig' with {
    currentLocale: currentLocale,
    translations: form.translations
} %}
{% endembed %}
