<div class="well">
    {{ 'Some slots tips' | trans }}
</div>


<div id="slot-table-wrapper">
    {{ slotTable | raw }}
</div>

<hr/>

<h4 id="slot-products-table-name"></h4>
<div id="slot-products-table-wrapper" class="hidden">
    {{ slotProductsTable | raw }}
</div>
