<div style="text-align: center;">
    {{ 'mail.newsletter.subscribed.text' | trans }}
</div>
<br />
<div style="text-align: center;">
    {{ 'mail.newsletter.subscribed.footer.text' | trans }}
</div>
