<?xml version="1.0"?>
<transfers xmlns="http://xsd.spryker.com"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://xsd.spryker.com ../../src/Spryker/TransferObjectDefinitionSchema.xsd">

    <transfer name="Alfa">
        <interface>Cart\CartChangeTransferInterface</interface>
        <interface>Cart\CartChangeTransferInterface2</interface>
        <property name="cartItems" type="CartItem[]" collection="true" />
        <property name="properties" type="[]" collection="true" />
    </transfer>
    <transfer name="Delta">
        <interface>Cart\CartChangeTransferInterface3</interface>
        <interface>Cart\CartChangeTransferInterface4</interface>
        <property name="cartItems" type="CartItem[]" collection="true" />
        <property name="properties" type="[]" collection="true" />
    </transfer>

</transfers>
