<spy-layer>
    <form
        class="spy-layout sparse"
        ng-controller="FormController"
        src="/discount/form/decisionRule"
        name="decision-rule-form"
        channel="decision-rule-form"
    >
        <h3 ng-if="!create">Edit Decision Rule</h3>
        <h3 ng-if=" create">Create Decision Rule</h3>

        <div spy-input-select="field.fk_discount" options="{ label : 'Discount'}"></div>
        <div spy-input-text="field.name" options="{ label : 'Name' }"></div>
        <div spy-input-select="field.decision_rule_plugin" options="{ label : 'Decision Rule Plugin' }"></div>
        <div spy-input-text="field.value" options="{ label : 'Value' }"></div>

        <div class="spy-layout buttons">
            <button ng-if=" create" class="button default" ng-disabled="query" ng-click="update()">Create</button>
            <button ng-if="!create" class="button default" ng-disabled="query" ng-click="update()">Update</button>
            <button class="button cancel" ng-disabled="query" ng-click="abort()">Cancel</button>
        </div>
    </form>
</spy-layer>
