<div
	class="title"
	ng-class="{ active : filterEnabled, filter : column.filterable }"
>
	<span
		ng-class="{ clear : filterEnabled }"
		for="grid-{{ column.name }}"
		ng-show="column.filterable"
		ng-click="clearFilter()"
	></span>

	<label for="{{ name }}">{{ label }}</label>

	<input
		id="{{ name }}"
		ng-class="{ invalid : suggest && !suggest.length }"
		type="text"
		size="1"
		ng-model="filter"
		ng-model-options="{ debounce: 500 }"
	>
</div>

<div
	class="sort"
	ng-show="column.sortable"
	ng-class="{ selected : sortDir != 0, inverse : sortDir < 0 }"
	ng-click="sort()"
></div>

<ul ng-class="{ active : suggest && suggest.length }">
	<li ng-repeat="item in suggest">{{ item }}</li>
</ul>