{% extends "@FactFinderDemo/layout/layout.twig" %}

{% block content %}
    {% include "@FactFinderDemo/search/catalog.twig" %}
{% endblock %}

{% block breadcrumbItems %}
    {% for breadcrumb in searchResponse.breadCrumbs %}
        <li>{{ breadcrumb.item.label }}</li>
    {% endfor %}
{% endblock %}
