{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Plugins used in Projects DependencyProvider' } %}
        {% block widget_content %}
            <div class="spy-layout sparse">
                <table class="table-condensed table-hover table-striped">
                    {% for dependencProvider in dependencyProviderPluginUsages.dependencyProvider %}
                        <tr>
                            <td valign="top">{{ dependencProvider.fullyQualifiedClassName }}</td>
                            <td>
                                {% for usedPlugin in dependencProvider.usedPlugins %}
                                    {{ usedPlugin.fullyQualifiedClassName }}<br />
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
