<div>
    <div>
        We just informed our purchase team about your subscription!
        You will receive an email when the product will be available again
    </div>
    <div>
        %product-concrete-title-with-right-locale%
        %product-concrete-price-from-right-shop-and-currency%
        %list-of-attributes-in-right-locale%
    </div>
        Copyright © current year company name, All rights reserved.<br/>
        Want to change how you receive these emails?
        You can <a href="unsubscribe-url"> unsubscribe from this list</a>.
    </div>
</div>
