{% extends '@Sales/Layout/layout.twig' %}

{% block section_title %}
    {{ 'Dashboard' | trans }}
{% endblock %}

{% block content %}
    {% for pluginName in pluginNames %}
        <div class="row">
            <div class="col-lg-12">
                {{ chart(pluginName, pluginName, pluginName) }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
