parameters:
    level: 7
    ignoreErrors:
        - '#Parameter \#2 \$callable of class .+TwigFilter constructor expects .+callable.+ given.#'
        -
            identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false
