parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#2 \$callable of class .+TwigFilter constructor expects .+callable.+ given.#'
    reportUnmatchedIgnoredErrors: false
