parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#2 \$callable of class .+TwigFilter constructor expects \(callable\(\): mixed\)\|null, array.+ given.#'
    reportUnmatchedIgnoredErrors: false
