@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@autogenerate-input-margin-bottom: 25px;
@autogenerate-input-max-width: 420px;
@autogenerate-input-half-width: @autogenerate-input-max-width / 2;

.mp-autogenerate-input {
    display: block;

    &__field {
        margin-bottom: @autogenerate-input-margin-bottom;
        max-width: @autogenerate-input-max-width;
    }

    &--half-width {
        &__field {
            max-width: @autogenerate-input-half-width;
        }
    }
}
