<div class="overview-nav">
    <div class="nav-item pull-left">
        <div>
            <span class="fa fa-eye"></span>
            <div class="text">Overview</div>
        </div>
    </div>
    <div class="nav-item pull-left">
        <div>
            <span class="fa fa-shopping-cart"></span>
            <div class="text">Items</div>
        </div>
    </div>
    <div class="nav-item pull-left">
        <div>
            <span class="fa fa-euro"></span>
            <div class="text">Totals</div>
        </div>
    </div>
    <div class="nav-item pull-left">
        <div>
            <span class="fa fa-credit-card"></span>
            <div class="text">Payment</div>
        </div>
    </div>
    <div class="nav-item pull-left">
        <div>
            <span class="fa fa-truck"></span>
            <div class="text">Shippment</div>
        </div>
    </div>
    <div class="nav-item pull-left">
        <div>
            <span>&percnt;</span>
            <div class="text">Discount</div>
        </div>
    </div>
    <div class="nav-item pull-left">
        <div>
            <span class="fa fa-map-marker"></span>
            <div class="text">Address</div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
