<section class="spy-message-container spy-layout">
    <ul>
        {%- for message in messages -%}
            <li class="message {{ message.getType() }}">{{ message.getMessage() }}</li>
        {%- endfor -%}
    </ul>
</section>