parameters:
    ignoreErrors:
        - '#PHPDoc tag \@param for parameter \$transfer with type array<.+EventEntityTransfer> is incompatible with native type .+TransferInterface#'
        - '#Method .+EventDispatcher::extractEventListeners\(\) should return iterable<.+EventListenerContextInterface>\&SplPriorityQueue but returns array#'
