{% if messageType is not defined %}
{% set messageType = 'error' %}
{% endif %}

{% if message is defined and message is not empty %}
    <div class="form-group has-{{ messageType }}">
        <span class="help-block">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ message | trans }}</li>
            </ul>
        </span>
    </div>
{% endif %}
