<div class="spy-layout sparse n2 f2">
    <div >
        <div>
            <h4>Discount</h4>
            <a href="/discount/index/index">Discounts</a>
            <span>|</span>
            <a href="/discount/index/decision">Decision Rules</a>
        </div>
        <div>
            <h4>Voucher</h4>
            <a href="/discount/voucher">Vouchers</a>
            <span>|</span>
            <a href="/discount/voucher/pool">Pools</a>
            <span>|</span>
            <a href="/discount/voucher/category">Categories</a>
        </div>
    </div>
</div>
