<label
	ng-class="{
		focus : focus,
		disabled : disabled
	}"
	for="{{ unique }}"
>
	{{ label }}
	<span class="optional" ng-if="options.optional">({{ options.optional }})</span>
</label>

<textarea
	id="{{ unique }}"
	ng-class="{ invalid : model.messages.length }"
	name="{{ model.name }}"
	ng-model="model.value"
	ng-model-options="{ debounce : 500 }"
	ng-disabled="disabled"
	ng-focus="focus = true"
	ng-blur="focus = false"
></textarea>

<div ng-if="model.messages.length" spy-field-message="model.messages"></div>