<label ng-class="{ disabled: disabled }" for="{{ unique }}-0">
	{{ label }}
	<span class="optional" ng-if="options.optional">({{ options.optional }})</span>
</label>

<div
	class="control"
	ng-class="{ disabled : disabled }"
	ng-repeat="item in model.accepts"
>
	<input
		id="{{ unique }}-{{ $index }}"
		type="radio"
		name="{{ model.name }}"
		ng-model="model.value"
		ng-value="item.value"
		ng-checked="item.value === model.value"
		ng-disabled="disabled"
	><label for="{{ unique }}-{{ $index }}">{{ item.label }}</label>
</div>

<div ng-if="model.messages.length" spy-field-message="model.messages"></div>
