{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Overview of Company Users' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ createActionButton('/company-user-gui/create-company-user', 'Add User' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of Company Users' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            {{ companyUserTable | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
