<div class="alert alert-danger">
    {{ 'To be able to inspect the search data please install the GUI module, suitable for your search provider (e.g. spryker/search-elasticsearch-gui for Elasticsearch).' }}
</div>
