{% for event in events %}
    <a class="btn btn-primary trigger-order-event-for-all-items"
       data-id-sales-order="{{ idSalesOrder }}"
       data-event="{{ event }}"
       href="#">
        {{ event }}
    </a>
{% endfor %}
