{% extends '@Gui/Layout/layout.twig' %}

{% block head_title 'Add a new address' | trans %}
{% block section_title 'Add a new address' | trans %}

{% block content %}

    <p>
        <a href="/customer/address/?id_customer={{ id_customer }}" class="btn btn-default">{{ 'Back to Manage Addresses' | trans }}</a>
    </p>

    {% include '@Gui/Partials/Table/header.twig' with { table_title: '' } %}
    {{ form(form) }}
    {% include '@Gui/Partials/Table/footer.twig' %}

{% endblock %}
