{% extends '@Gui/Layout/layout.twig' %}

{% block head_title 'Manage Addresses' | trans %}
{% block section_title 'Manage Addresses' | trans %}

{% block content %}

    <p>
        <a href="/customer/view/?id_customer={{ id_customer }}" class="btn btn-primary ">Back to Customer</a>
    </p>


{% endblock %}
