parameters:
    ignoreErrors:
        - '#Parameter \#2 \$quoteTransfer of method .+DummyMarketplacePaymentExpanderInterface::addPaymentToQuote\(\) expects .+QuoteTransfer, .+AbstractTransfer given.#'
