@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@bulk-edit-product-variants-padding: var(--spy-bulk-edit-product-variants-padding, 30px);
@bulk-edit-product-variants-information-padding: var(--spy-bulk-edit-product-variants-information-padding, 15px 30px);
@bulk-edit-product-card-title-lable-padding-left: var(--spy-bulk-edit-product-card-title-lable-padding-left, 13px);
@bulk-edit-product-card-margin-bottom: var(--spy-bulk-edit-product-card-margin-bottom, 20px);
@bulk-edit-product-range-max-width: var(--spy-bulk-edit-product-range-max-width, 375px);

.mp-bulk-edit-product-variants {
    .@{headline-prefix-cls} {
        padding-bottom: 0;

        &__title {
            &--h1 {
                font-size: @heading-5-font-size;
                font-weight: @font-weight-semi-bold;
            }
        }
    }

    &__header {
        padding: @bulk-edit-product-variants-information-padding;
        background: @spy-white;
    }

    &__content {
        display: block;
        padding: @bulk-edit-product-variants-padding;
    }

    &__card {
        display: block;
        margin-bottom: @bulk-edit-product-card-margin-bottom;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__range {
        display: block;
        max-width: @bulk-edit-product-range-max-width;
    }

    .@{notification-prefix-cls} {
        margin-bottom: 0;
    }

    .@{ajax-form-prefix-cls}-item-control-input {
        min-height: 0;
    }

    .@{card-prefix-cls}-head-title .@{checkbox-prefix-cls} {
        &:not(.@{checkbox-prefix-cls}-checked) .@{checkbox-prefix-cls}-inner {
            background: @spy-white;
        }

        &-wrapper {
            font-size: @heading-5-font-size;
            font-weight: @font-weight-semi-bold;
            display: flex;
            align-items: center;
        }

        + span {
            padding-left: @bulk-edit-product-card-title-lable-padding-left;
        }
    }
}
