parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method Orm\\.+Query::filterByName\(\).#'
        - '#Call to an undefined method Orm\\.+Query::filterByIdShipmentMethod\(\).#'
        - '#Call to an undefined method Orm\\.+Query::filterByPricePlugin\(\).#'
        -
            identifier: missingType.iterableValue
