{% extends '@Application/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block content %}
    <a href="/maintenance/data/storage">All keys</a>
    <h1>{{ key }}</h1>
    {{ link | raw }}
    <pre>{{ value }}</pre>

{% endblock %}
