parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method .+SpyCompanyStoreQuery\|.+SpyCompanyBusinessUnitQuery\|.+SpyCompanyRoleQuery\|.+SpyCompanySupplierToProductQuery|.+SpyCompanyUserQuery\|.+SpyPriceProductQuery::orderByIdCompanyUser\(\)#'
        -
            identifier: missingType.iterableValue
