parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#Parameter \#1 \$length of function random_bytes expects int<1, max>, int given.#'
        -
            identifier: missingType.iterableValue
