// navigation

$colorUrl: #676a6c;
$colorUrlHover: #1cbb9e;

.overview-nav {
  margin-bottom: 30px;
  border-left: 1px solid #ccc;
}

.overview-nav .nav-item {
  width: 14.285%;
  max-width: 142px;
  text-align: center;
}

.overview-nav .nav-item > div {
  border-width: 1px 1px 1px 0;
  border-color: #ccc;
  border-style: solid;
}

.overview-nav .nav-item > div > a {
  &:hover {
    color: $colorUrlHover;

    span.icon,
    span.text {
      color: $colorUrlHover;
    }
  }

  span.text {
    color: $colorUrl;
  }

  span.icon {
    display: block;
    font-size: 50px;
    line-height: 80px;
    color: $colorUrl;

    @media (max-width: 550px) {
      font-size: 25px;
      line-height: 50px;
    }
  }
}

.overview-nav .nav-item .text {
  font-size: 18px;

  @media (max-width: 900px) {
    font-size: 12px !important;
  }

  @media (max-width: 550px) {
    display: none;
  }
}

// details

$chat-box-radius: 6px;
$chat-box-background-color: #f0f0f0;

.chat {
  font-size: 11px;
  margin-bottom: 20px;

  .chat-author {
    font-size: 12px;
    margin: 0;

    span {
      background: $chat-box-background-color;
      padding: 5px;
      border-top-left-radius: $chat-box-radius;
      border-top-right-radius: $chat-box-radius;
    }
  }

  .chat-body {
    background: $chat-box-background-color;
    padding: 5px 5px 10px;
    border-top-right-radius: $chat-box-radius;
    border-bottom-left-radius: $chat-box-radius;
    border-bottom-right-radius: $chat-box-radius;
  }
}

.order-details-chat {
  max-height: 250px;
  overflow: scroll;
}

.chat-form {
  padding-top: 10px;

  .col-xs-12 {
    margin-bottom: 5px;
  }
}

.is-hidden .show-less,
.is-shown .show-more {
  display: none;
}


.addition-row {
  td {
    border-top: none !important;
  }
}
.subtotal-row, .grandTotal-row {
  background-color: #e7eaec;
}

img.product-image {
  width: 150px;
  border: 1px solid #e7eaec;
}

span.discounted {
  text-decoration: line-through;
  color: #aaa;
}

.table > tbody.single-item {
  border-top: none;
}

.table > tbody.product-bundle {
  border-bottom: 1px;
  border-top: none;
}

.state-history {
  width: 300px;
}

.sku {
  color: #aaa;
  font-size: 10px;
}

.variant-details {
  margin-top: 10px;

  h3 {
    font-size: 12px;
    margin-bottom: 2px;
  }
}

.tax-info {
  color: #aaa;
  font-size: 10px;
}
