.lumberjack__table {
  border: 0;
  border-collapse: collapse;

  margin: 10px;

  display: inline-block;
  vertical-align: top;

  position: relative;

  font-size: 12px;
  line-height: 1.5;

  // &:last-child{
  //   margin-right: .5em;
  // }

  // & + .lumberjack__table {
  //   margin-left: 10px;
  // }

  // .lumberjack__table {
  //   display: none;
  // }

  .grouped-options {
    text-align: center;
  }

  th {
    color: $ci-gray-dark;
    // font-weight: 400;
    font-size: 10px;
    background: #fff;
    // cursor: pointer;

    &.non-default-key {
      color: $ci-orange-dark;
    }
  }

  th, td {
    border: 1px solid $ci-gray-light;
    padding: 4px;
    vertical-align: middle;
  }

  // make the cell "wrap" its long content
  td.lumberjack__table-cell_string {
    padding: 0;

    max-width: 40em;
  }

  tbody {
    tr:nth-child( even ) > td {
      background: $ci-silver;
    }

    tr:nth-child( odd ) > td {
      background: #fff;
    }

    th {
      text-align: right;
    }

    tr:hover {
      > th {
        color: $ci-black;
        // text-decoration: underline;
      }
    }
  }

  thead + tbody {
    tr:nth-child( odd ) > td {
      background: $ci-silver;
    }
    tr:nth-child( even ) > td {
      background: #fff;
    }
  }

  .null {
    color: $ci-violet-light;
  }

  .activate-nested-table {
    display: block;
    padding: 0 1em;

    color: #fff;
    // font-weight: 700;
    text-align: center;
    text-decoration: none;

    background: $ci-blue-dark;
    border-color: $ci-blue-dark;

    @include transition( all .25s );

    &:hover {
      background : $ci-blue-light;
      border-color: $ci-blue-light;
    }
  }

  .go-deeper {
    display: block;
    // width: 100%;

    padding: 0 10px;

    color: #fff;
    border: 0;
    // font-weight: 700;
    text-align: center;
    text-decoration: none;

    background: $ci-blue-dark;
    border-color: $ci-blue-dark;

    cursor: pointer;
    position: relative;

    @include transition( all .125s );

    &:hover {
      background : $ci-blue-light;
      border-color: $ci-blue-light;
    }

    &:before {
      content: '+';
    }

    &.active {
      margin-right: -10px;
      padding-right: 20px;

      @include box-shadow( 0 0 0 1px #fff );

      &:before {
        content: '-';
      }

      &:after {
        content: '';
        position: absolute;
        left: 100%;
        top: 50%;
        margin-top: -15px;

        border: 15px solid transparent;
        border-left-color: inherit;
        border-right: 0;
        pointer-events: none;
      }
    }
  }

  &[data-key] {
    .go-deeper {
      &.active {
        margin-right: 0;
        padding-right: 10px;
      }

      &:after {
        left: 50%;
        top: 100%;
        margin-top: 0;
        margin-left: -5px;

        border: 5px solid transparent;
        border-top-color: inherit;
        border-bottom: 0;
      }
    }
  }

  .lumberjack__table-cell_object {
    // text-align: center;
  }
}

.lumberjack__table-cell-content {
  position: relative;
  padding: 5px;

  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    // background: #fff;
    box-shadow: 0 2px 12px -2px #000;

    &:before {
      // @extend %iconic;
      // content: '\e000';

      content: '';
      top: 0;
      right: 0;
      position: absolute;

      width: 0;
      height: 0;
      border: 5px solid $ci-green-dark;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
}
