{% include '@FileManagerGui/_partials/progressbar.twig' with {idProgressbar: 'file-directory-tree-loader'} %}

<div id="file-directory-tree-container" class="ibox hidden">

    <div class="ibox-title">
        <h5>{{ 'File Directory tree' | trans }}</h5>
        <div class="pull-right">
            <label>{{ 'Search' | trans }}: <input type="text" id="file-directory-tree-search-field" class="input" /></label>
        </div>
    </div>

    <div class="ibox-content">
        <div class="alert alert-info alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {% filter trans|raw %}
                <ul>
                    <li>If a file directory node is inactive, then this item and all navigation items under this one will not be visible.</li>
                    <li>You can drag and drop to define item order.</li>
                </ul>
            {% endfilter %}
        </div>

        <div id="file-directory-tree-content"></div>
    </div>

    <div class="ibox-footer clearfix">
            <input type="button" id="file-directory-tree-save-btn" class="btn btn-primary pull-left m-r-sm" value="{{ 'Save order' | trans }}" disabled="disabled" />
            {% include '@FileManagerGui/_partials/progressbar.twig' with {
            idProgressbar: 'file-directory-tree-update-loader',
            fileDirectoryProgressbarClass: 'progress-inline'
            } %}
    </div>
</div>
