@mixin ssp-inquiry-management-advanced-table($name: '.advanced-table') {
    #{$name} {
        &__container {
            width: 100%;
        }

        &__head {
            @include helper-font-weight(bold);
            border-bottom: 0.0625rem solid $setting-color-light;
        }

        &__heading {
            display: flex;
            align-items: center;
            gap: 0.12rem;
        }

        &__col {
            padding: 0.5rem 0.25rem;
            text-align: left;

            &--backgroundless {
                background-color: none;
            }

            &--spacing-y-small {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem;
            }

            &--spacing-bottom-reset {
                padding-bottom: 0;
            }

            &--sortable {
                cursor: pointer;
            }
        }

        &__row {
            &:nth-child(even) {
                #{$name}__col {
                    background-color: $setting-color-lightest;
                }
            }

            &--backgroundless {
                background: none;
            }

            &--highlighted {
                background-color: $setting-color-lightest;
            }
        }

        &__empty {
            text-align: center;
        }

        @content;
    }
}
