{#
@var merchantProductOfferCounts \Generated\Shared\Transfer\MerchantProductOfferCountsTransfer
#}
<div class="mp-dashboard-card__heading-col">{{ 'Offers' | trans }}</div>

<div class="mp-dashboard-card__heading-col">
    <web-spy-chips color="grey">{{ merchantProductOfferCounts.total }}</web-spy-chips>
</div>
