parameters:
    ignoreErrors:
        - '#Call to an undefined method Propel\\Runtime\\ActiveQuery\\ModelCriteria::.+#'
        - '#Parameter \#1 \$keyName of method .+KeyManagerInterface::hasKey\(\) expects string, int|null given.#'
