# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop
Temporary Items
.apdisk
GPATH
GRTAGS
GTAGS


# OS
.DS_Store

# Y&Z
/config/Shared/config_local*
/config/Shared/console_env_local.php
/config/Shared/cubes.*
/config/Zed/behat.local.yml
/config/Zed/phpunit.core.xml
/config/Zed/phpunit.xml
/config/cubes.*
config/accumulated-config.json

/src/Generated
/vendor/

dependencyTree.json

/data

# grunt stuff
.grunt
.sass-cache
/config/Yves/config_assets.php
config/Yves/cache_bust.php
/node_modules/

# public stuff
/static/public/

# vagrant stuff
.vagrant

# profiling
/profiler

npm-debug.log
Bundles/*/tests/_output
Bundles/*/tests/_support/_generated

# PHP CS Fixer
Bundles/.php_cs.cache
Bundles/.php_cs
Bundles/*/.php_cs.cache
Bundles/*/.php_cs

