# Set the default behavior, in case people don't have core.autocrlf set.
* text text=auto eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.jpeg binary
*.ttf binary
*.woff binary
*.ico binary
*.pdf binary
*.svg binary
