# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop
Temporary Items
.apdisk
GPATH
GRTAGS
GTAGS

# OS
.DS_Store

# vagrant stuff
.vagrant

# profiling
/profiler

npm-debug.log
Bundles/*/tests/_output
Bundles/*/tests/_support/_generated

# PHP CS Fixer
Bundles/.php_cs.cache
Bundles/.php_cs
Bundles/*/.php_cs.cache
Bundles/*/.php_cs

