parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 8
    reportUnmatchedIgnoredErrors: false
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
        - APPLICATION_CODE_BUCKET
