<input type="radio" id="filter-color-1" name="filter-color" data-color="{{hex}}" value="{{id}}" class="filter__color"{{#if checked}} checked=true{{/if}}>
<label for="filter-color-1" class="filter__color-name">{{hex}} <span class="filter__color-quantity">{{quantity}}</span></label>
