<div class="tabs-container">
    <div class="tabs-top">
        {% embed '@ProductManagement/_partials/localized-tabs-nav.twig' with {
        formPrefix: formPrefix,
        localeCollection: localeCollection,
        currentLocale: currentLocale,
        form: form
        } %}
        {% endembed %}

        {% embed '@ProductManagement/_partials/localized-tabs-content.twig' with {
        formPrefix: formPrefix,
        localeCollection: localeCollection,
        currentLocale: currentLocale,
        form: form
        } %}
        {% endembed %}
    </div>
</div>