<header class="main-header">
  <a href="/" class="shop-logo">Spryker Shop</a>
  <a href="#" class="nav-toggle js-nav-toggle"><span></span></a>
  <nav class="main-nav"></nav>
  <a href="#" class="cart-toggle js-cart-toggle">Warenkorb</a>
</header>