<header class="header">
  <a href="/" class="shop-logo">Spryker Shop</a>
  <a href="#" class="nav-toggle js-nav-toggle"><span></span></a>
  <nav class="main-nav"></nav>
  {{> shopping-cart }}
</header>