<div class="header__cart js-shopping-cart">
  <a href="#" class="cart__toggle js-cart-toggle">Warenkorb</a>
  <a href="#" class="cart__close js-cart-close">Close</a>
  <div class="cart__contents">
    {{> cartList }}
    <a class="cart__to-checkout cta">Zur Kasse</a>
  </div>
</div>
