{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'File Directories' %}
{% block section_title 'Overview of File Directories Elements' %}

{% block action %}
    {{ createActionButton('/file-manager-gui/add-directory', 'Create File Directory Element' | trans) }}
{% endblock %}

{% block content %}

    <div class="row">
        <div id="file-directory-tree">
            <ul>
                <li id="file-directory-tree-node-0"
                    class="jstree-open"
                    data-jstree='{"type":"navigation"}'
                >
                    File Directories Tree
                    {% include '@FileManagerGui/DirectoriesTree/_partials/nodes.twig' with {nodes: fileDirectoryTree.nodes} %}
                </li>
            </ul>
        </div>

        <div class="col-lg-6">
            {% include '@FileManagerGui/DirectoriesTree/_partials/file-directory-tree.twig' %}
        </div>

        {#<div class="col-lg-6">#}
            {#{% include '@FileManagerGui/DirectoriesTree/_partials/file-directory-tree-form-container.twig' %}#}
        {#</div>#}
    </div>

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-file-directory.css" />
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/assets/js/spryker-zed-file-directory.js"></script>
{% endblock %}