{{ form_widget(categoryForm) }}
<hr />
<p><strong>{{ 'Translations' | trans }}</strong></p>

{% for localizedAttributes in categoryForm.localized_attributes %}
    {% set localeName = localizedAttributes.vars.value.locale.localeName %}
    {% set collapsed = (currentLocale != localeName) %}

    {% embed '@Gui/Partials/localized-ibox.twig' with {
        localeName: localeName,
        collapsed: collapsed,
        id: 'localizedAttributes-ibox-' ~ localeName
    } %}
        {% block content %}
            {{ form_widget(localizedAttributes) }}
        {% endblock %}
    {% endembed %}
{% endfor %}
