parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Dead catch - JsonException is never thrown in the try block.#'
