<form action="/fact-finder">
    <div class="input-group __no-margin-bottom">
        <input name="query" type="text" class="input-group-field" placeholder="{{ 'global.search' | trans }}"
               value="{{ app.request.get('query') }}" id="ffSearchInput">

        <div class="input-group-button">
            <button type="submit" class="button"><i class="fa fa-search"></i></button>
        </div>

    </div>
</form>

<div class="suggestions is-hidden ff-suggestion-box" >
    <div class="suggestions__panel-container">
        <div class="callout suggestions-panel">

            <div class="row">
                {#<div class="columns __no-margin-bottom">
                    <h6 class="show-for-medium">Search suggestions</h6>
                    <ul class="no-bullet">

                    </ul>

                    <div class="show-for-medium">

                    </div>

                    <div class="show-for-medium">

                    </div>
                </div>#}

                <div class="columns show-for-medium __no-margin-bottom">
                    <h6>Products</h6>

                    <div class="ff-products">
                    </div>

                    <div class="text-right">
                        <a class="ff-all-products" href="#">See all products »</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script type="text/template" id="suggestions-box-row">
    <a class="row suggestions-panel__product js-product js-navigable" href=":url">
        <span class="columns">
            <img class="thumbnail" src=:image>
        </span>

        <span class="small-9 columns ff-product-name">
            :name
            <br>
            {#<strong>:price €</strong>#}
        </span>
    </a>
</script>