parameters:
    checkMissingIterableValueType: false
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/ProductMerchantPortalGui/src/Spryker/Zed/ProductMerchantPortalGui/Persistence/ProductMerchantPortalGuiRepository.php'
    ignoreErrors:
