{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Page Glossary Mapping' } %}

        {% block widget_header_content %}
            <a href="/cms/page/" class="btn btn-sm btn-default">{{ 'Back to CMS pages' | trans }}</a>
            <a class="btn btn-sm btn-primary" href="/cms/glossary/add/?id_page={{ idPage }}">{{ 'Add Glossary' | trans }}</a>

        {% endblock %}

        {% block widget_content %}

            {{ keyMaps | raw }}

        {% endblock %}

    {% endembed %}

{% endblock %}
