{% embed '@Gui/Partials/widget.twig' with {widget_title: 'Connected Orders:'} %}
    {% block widget_header_content %}
        Total: {{ createdOrders|length }}
    {% endblock %}

    {% block widget_content %}
        <ul id="created_orders">
            {% for order in createdOrders %}
                <li>
                    <a href="{{ url('/sales/detail', {'id-sales-order': order.idSalesOrder}) }}">
                        Order {{ order.orderReference }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    {% endblock %}

{% endembed %}
