{% extends '@Application/Layout/layout.twig' %}

{% block content %}
    Reclamation id: {{ reclamation.idSalesReclamation }}<br />
    Order id: {{ reclamation.order.idSalesOrder }}

    <div id="items">
        {% include '@SalesReclamation/Detail/boxes/items.twig' with {
            'reclamation': reclamation,
        } %}
    </div>

{% endblock %}
