{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    Reclamation id: {{ reclamation.idSalesReclamation }}<br />
    <a href="{{ url('/sales/detail', {'id-sales-order': reclamation.order.idSalesOrder}) }}">
        Order id: {{ reclamation.order.idSalesOrder }}
    </a>

    <div id="items">
        {% include '@SalesReclamation/Detail/boxes/items.twig' with {
            'reclamation': reclamation,
        } %}
    </div>

{% endblock %}
