{#
  Display collapsible ibox.

  Parameters:
    * collapsed: (optional) Set collapse state of the ibox. False by default, i.e. the ibox is expanded by default.
    * hasError: (optional) Set to "true" to mark the ibox as invalid. False by default.
    * autoErrors: (optional) Mark the ibox as invalid with javascript if there's any element inside it with "has-error" class. True by default.
    * id: (optional) Set ID for the ibox element.

  Example usage:

    {% embed '@Gui/Partials/ibox.twig' with {'collapsed': true, 'id': 'my-unique-id'} %}
        {% block title %}
            Ibox title
        {% endblock %}
        {% block content %}
            Ibox content
        {% endblock %}
    {% endembed %}
#}
<div {% if id is defined %}id="{{ id }}"{% endif %} class="ibox nested {% if collapsed is defined and collapsed == true %}collapsed{% endif %} {% if hasError is defined and hasError %}error{% endif %}"
    data-auto-errors="{{ autoErrors is not defined or autoErrors ? 'true' : 'false' }}">
    <div class="ibox-title">
        <a class="collapse-link">
            <h5>
                {% block title %}{% endblock %}
            </h5>
            <div class="ibox-tools">
                <i class="fa fa-chevron-up"></i>
            </div>
        </a>
    </div>
    <div class="ibox-content">
        {% block content %}{% endblock %}
    </div>
</div>
