{% set counter = 0 %}
{% for imageSet in productSetTransfer.imageSets %}
    {% if imageSet.locale == localeTransfer %}
        {% if counter > 0 %}
            <div class="hr-line-dashed"></div>
        {% endif %}

        <div class="row">
            <div class="col-xs-2"><b>{{ 'Image Set Name' | trans }}</b></div>
            <div class="col-xs-10">{{ imageSet.name }}</div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="row">
            {% include ['@ProductImage/ProductSetGui/_partials/info-images.twig', '@ProductSetGui/View/_partials/info-images.twig'] with {
                data: {
                    images: imageSet.productImages,
                    localeName: imageSet.locale.localeName | default('default'),
                },
            } only %}
        </div>

        {% set counter = counter + 1 %}
    {% endif %}
{% endfor %}
