parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot unset offset \w+ on iterable<.+ItemTransfer>&Traversable#'
