parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Cannot access offset int on Traversable<.+ItemTransfer>#'
        - '#Call to an undefined method Orm\\Zed\\#'
