{% extends '@SecurityGui/Layout/layout.twig' %}

{% form_theme form '@SecurityGui/Layout/form.twig' %}

{% block login_heading %}{% endblock %}

{% block content %}

    {% include '@SecurityGui/Partial/form-message.twig' %}

    {{ form_label(form, 'email') }}
    {{ form(form, { 'attr' : { 'class': 'myClass' } }) }}

    <div class="text-center">
        <a href="/security-gui/login" class="login-box__link">{{ 'Login' | trans }}</a>
    </div>
{% endblock %}
