parameters:
    level: 8
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Method .+ should return .+Query but returns .+Criteria#'
        - '#Call to an undefined method Orm\\Zed\\.+::joinWithStateMachineItemState\(\)#'
