<ul>
    {% if childNodes is defined %}
        {% for node in childNodes.nodes %}
            <li id="category-node-{{ node.idCategoryNode }}" data-id-category="{{ node.fkCategory }}"
                class="jstree-open {% if not node.category.isActive %}node-inactive{% endif %}"
                {% if node.fkCategory in categoriesWithSpecificFilters %}data-jstree='{"type":"edited-category"}'{% endif %}
            >
                {{ node.category.localizedAttributes[0].name }}
                {% if node.childrenNodes is defined %}
                    {% include '@ProductCategoryFilterGui/CategoryTree/_partials/nodes.twig' with {
                        categoryTree: categoryTree,
                        categoriesWithSpecificFilters: categoriesWithSpecificFilters,
                        childNodes: node.childrenNodes,
                    } %}
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
</ul>
