{% extends '@Application/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Maintenance' } %}

        {% block widget_content %}

            <h3>Core</h3>
            <ul>
                <li>
                    <a href="/maintenance/dependency">Bundle dependencies</a>
                </li>
            </ul>

        {% endblock %}

    {% endembed %}


{% endblock %}
