parameters:
    ignoreErrors:
        - '#Call to an undefined method .+ActiveRecordInterface::toArray\(\).#'
        - '#Call to an undefined method Silex\\Application::getTransferSession\(\).#'
        - '#Call to an undefined method object::setApplication\(\).#'
        - '#Call to an undefined method object::initialize\(\).#'
        - '#Access to an undefined property +.BootableServiceInterface::$runs.#'
