parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+SpyProductAbstractQuery\|.+SpyProductRelationProductAbstractQuery\|.+SpyProductRelationStoreQuery\|.+SpyProductRelationTypeQuery::joinWithSpyProductAbstract\(\).#'
