{% extends '@ZedUi/Layout/merchant-layout.twig' %}
{% import _self as view %}

{% block body %}
    {% if app.twig.getFunction('navigation') != false %}
        {% set navigationConfig = render_navigation_component_config(navigation('main').menu) %}
        {% set userMenuNavigationItems = navigation('secondary').menu %}

        {% block merchantLayoutMain %}
            <web-mp-merchant-layout-main cloak navigation-config="{{ navigationConfig }}">
                {% block logo %}
                    <web-spy-logo cloak logo></web-spy-logo>
                {% endblock %}

                {% block topSection %}
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') and is_granted('IS_IMPERSONATOR') %}
                        {% include '@AgentDashboardMerchantPortalGui/Partials/agent-bar.twig' ignore missing with {
                            agentDetails: {
                                name: merchantName | default,
                                userName: username | default,
                                userEmail: userEmail | default,
                            },
                            actionButtons: [
                                {
                                    url: '/agent-security-merchant-portal-gui/login/?_switch_user=_exit',
                                    title: 'End User Assistance' | trans,
                                    variant: 'primary',
                                },
                                {
                                    url: '/agent-security-merchant-portal-gui/logout',
                                    title: 'Log out Agent' | trans,
                                }
                            ],
                        } only %}
                    {% endif %}
                {% endblock %}

                {% block header %}
                    {% set navigationConfig = [] %}

                    {% for userMenuNavigationItem in userMenuNavigationItems %}
                        {% set navigationConfig = navigationConfig | merge([{
                            url: userMenuNavigationItem.uri,
                            type: userMenuNavigationItem.type,
                            title: userMenuNavigationItem.title | trans,
                        }]) %}
                    {% endfor %}

                    {% set navigationConfig = navigationConfig | merge([{
                        url: '/security-merchant-portal-gui/logout',
                        type: 'danger',
                        title: 'Logout' | trans
                    }]) %}

                    <header header>
                        {% block headerMenu %}
                            <web-mp-header-menu navigation-config="{{ navigationConfig | json_encode() }}" cloak menu>
                                {% block infoPrimary %}
                                    {% if username is not empty %}
                                        <span info-primary>{{ username }}</span>
                                    {% endif %}
                                {% endblock %}

                                {% block infoSecondary %}
                                    {% if userEmail is not empty %}
                                        <span info-secondary>{{ userEmail }}</span>
                                    {% endif %}
                                {% endblock %}
                            </web-mp-header-menu>
                        {% endblock %}
                    </header>
                {% endblock %}

                {% block flashMessages %}
                    {% include '@ZedUi/Partials/FlashMessages/flash-messages.twig' %}
                {% endblock %}

                {% block content %}{% endblock %}
            </web-mp-merchant-layout-main>
        {% endblock %}
    {% endif %}
{% endblock %}
