{% extends '@ZedUi/Layout/layout.twig' %}

{% block body %}
    {% if navigation is defined %}
        {% set navigationConfig = render_navigation_component_config(navigation.menu) %}
        <web-mp-merchant-layout-main cloak navigation-config="{{ navigationConfig }}">
            <web-mp-header name="header"></web-mp-header>

            {% include '@ZedUi/Partials/FlashMessages/flash-messages.twig' %}

            <div class="spy-row spy-row-gutter-sm">
                <div class="spy-col spy-col-gutter-sm"><p>spy-col</p></div>
                <div class="spy-col spy-col-gutter-sm"><p>spy-col</p></div>
                <div class="spy-col spy-col-gutter-sm"><p>spy-col</p></div>

                <div class="spy-col-11 spy-col-gutter-sm"><p>spy-col-11 spy-col-gutter-sm</p></div>
                <div class="spy-col-1 spy-col-gutter-sm"><p>spy-col-1 spy-col-gutter-sm</p></div>

                <div class="spy-col-10 spy-col-gutter-sm"><p>spy-col-10 spy-col-gutter-sm</p></div>
                <div class="spy-col-2 spy-col-gutter-sm"><p>spy-col-2 spy-col-gutter-sm</p></div>

                <div class="spy-col-9 spy-col-gutter-sm"><p>spy-col-9 spy-col-gutter-sm</p></div>
                <div class="spy-col-3 spy-col-gutter-sm"><p>spy-col-3 spy-col-gutter-sm</p></div>

                <div class="spy-col-8 spy-col-gutter-sm"><p>spy-col-8 spy-col-gutter-sm</p></div>
                <div class="spy-col-4 spy-col-gutter-sm"><p>spy-col-4 spy-col-gutter-sm</p></div>

                <div class="spy-col-7 spy-col-gutter-sm"><p>spy-col-7 spy-col-gutter-sm</p></div>
                <div class="spy-col-5 spy-col-gutter-sm"><p>spy-col-5 spy-col-gutter-sm</p></div>

                <div class="spy-col-6 spy-col-gutter-sm"><p>spy-col-6 spy-col-gutter-sm</p></div>
                <div class="spy-col-6 spy-col-gutter-sm"><p>spy-col-6 spy-col-gutter-sm</p></div>

                <div class="spy-col-12 spy-col-gutter-sm"><p>spy-col-12 spy-col-gutter-sm</p></div>
                <div class="spy-col spy-col-gutter-sm"><p>spy-col spy-col-gutter-sm</p></div>
            </div>

            {% block content %}{% endblock %}
        </web-mp-merchant-layout-main>
    {% endif %}
{% endblock %}
