// This is a copy from Gui/assets/Zed/sass/_action-buttons.scss
// Unfortunately we cannot include asset resources from other bundles since the split
// uses lower-case bundle folder-names as opposed to capitalized folder-names in development
@mixin coloredButton($backgroundColor, $color, $hoverColor:'') {
    background-color: $backgroundColor;
    border-color: $backgroundColor;
    color: $color;

    &.btn-outline {
        background: transparent;
        color: $backgroundColor;

        &:hover {
            background-color: $backgroundColor;
            border-color: $backgroundColor;
            @if $hoverColor == '' {
                color: $color;
            } @else {
                color: $hoverColor;
            }
        }
    }
}

#root-node-table {
    tbody {
        tr {
            &.selected {
                background-color: rgba(#0088cc, .2);
                color: inherit;

                a.btn-view {
                    @include coloredButton(#1c84c6, #ffffff);
                }

                a.btn-create {
                    @include coloredButton(#108548, #ffffff);
                }
            }

            td:last-child {
                text-align: right;
            }
        }
    }
}

#category-tree {
    .dd-handle:hover {
        cursor: inherit;
        font-weight: inherit;
    }
}
