parameters:
    level: 8
    ignoreErrors:
        - '#Parameter \#2 \$callback of function array_filter expects \(callable\(.+\): bool\)\|null, .+ given.#'
        -
            identifier: missingType.iterableValue
