{% extends '@CompanyGui/_layout/layout.twig' %}

{% set widget_title = 'Overview of Companies' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ createActionButton('/company-gui/add-company', 'Add Company' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of Companies' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            {{ companies | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
