{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Overview of Company Roles' %}

{% block head_title widget_title | trans %}

{% block section_title widget_title | trans %}

{% block action %}
    {{ createActionButton('/company-role-gui/create-company-role', 'Add Company Role' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of Company Roles' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            {{ companyRoleTable | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
