{% for group in groups %}
  {% if (group.isBundle) %}
    <tbody class="product-bundle">
    <tr>
      <td colspan="7">
        <a target="_blank" href="{{ url('/product-management/view/variant', {'id-product-abstract': group.bundleItem.idProductAbstract, 'id-product': group.bundleItem.id, 'type': 'regular'}) }}">{{ group.bundleItem.name }}</a> ({{ 'Sku' | trans }}: {{ group.bundleItem.sku }})
      </td>
    </tr>
    {% embed '@SalesReclamation/partials/items/bundle-group.twig' with {items: group.groupItems, image: group.groupImage, rowCount: group.rowCount, bundleItem: group.bundleItem} %}{% endembed %}
    </tbody>
  {% else %}
    <tbody class="single-item">
      {% embed '@SalesReclamation/partials/items/single-item.twig' with {item: group.groupItems | first} %}{% endembed %}
    </tbody>
  {% endif %}
{% endfor %}
