{% import '@SalesReclamation/partials/items/order-navigation-macro.twig' as navigation %}

<div class="overview-nav">
    {{ navigation.item('#order-overview', 'Overview', 'eye') }}
    {{ navigation.item('#items', 'Items', 'shopping-cart') }}

    {% block orderNavigation %}{% endblock %}

    <div class="clearfix"></div>
</div>
