parameters:
    ignoreErrors:
    - '#Class .+HttpClient constructor invoked with 3 parameters, 5-7 required.#'
    - '#Call to an undefined method .+AbstractBundleConfig::getYvesRequestRepeatDataFileName\(\).#'
    - '#Call to an undefined method .+AbstractBundleConfig::getPathToYvesRequestRepeatData\(\).#'
    - '#Call to an undefined method .+AbstractBundleConfig::getPermissionMode\(\).#'
