parameters:
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
    ignoreErrors:
        - '#Class .+HttpClient constructor invoked with 3 parameters, 5-7 required.#'
        - '#Unsafe usage of new static\(\)#'
        -
            message: '#Unreachable statement - code above always terminates#'
            path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/ZedRequest/src/Spryker/Shared/ZedRequest/Client/AbstractHttpClient.php'

