{% extends '@Cms/Layout/layout.twig' %}

{% set widget_title = 'Overview of CMS Pages' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ createActionButton('/cms-gui/create-page', 'Create page' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of CMS pages' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            {{ pages | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
