parameters:
    ignoreErrors:
        - '#Parameter \#1 \$productListEntities of method .+MerchantRelationshipProductListMapperInterface::mapProductListCollection\(\) expects .+ObjectCollection, .+SpyProductList\> given#'
        - '#Parameter \#1 \$v of method .+SpyProductList::setFkMerchantRelationship\(\) expects int.+#'
