<div class="form-group">
    <label class="control-label" for="user_is_warehouse_user">{{ 'Warehouse user' | trans }}</label>
    {{ form_errors(userForm.is_warehouse_user) }}
    {{ form_widget(userForm.is_warehouse_user) }}
</div>
