{% extends template('widget') %}

{% define data = {
    shipmentTypeGroups: _widget.shipmentTypeGroups,
} %}

{% block body %}
    {% set loopIndex = 0 %}

    {% for key, group in data.shipmentTypeGroups %}
        <div class="spacing-bottom">
            {% block title %}
                {% set groupName = 'shipment_type.name.shipment_type_' ~ group.name %}
                <div class="grid grid--justify spacing-x">
                    <div class="col title--h5">{{ groupName | trans }}</div>
                    <div class="col">{{ 'self_service_portal.service.checkout.item_count' | trans }}: {{ group.items | length }}</div>
                </div>
            {% endblock %}

            {% for item in group.items %}
                {% set loopIndex = loopIndex + 1 %}

                {% block content %}
                    <div>{% block item %}{% endblock %}</div>
                {% endblock %}
            {% endfor %}

            {% block separator %}
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endblock %}
        </div>
    {% endfor %}
{% endblock %}
