<spy-layer>
    <form
            class="spy-layout sparse"
            ng-controller="FormController"
            src="/customer/profile/address"
            name="address_form"
            channel="address_form"
            >

        <h3 ng-hide="field.id_customer_address">{{ "customer.profile.address.new" | trans }}</h3>
        <h3 ng-show="field.id_customer_address">{{ "customer.profile.address.edit" | trans }}</h3>

        <div spy-input-hidden="field.fk_customer"></div>
        <div spy-input-hidden="field.id_customer_address"></div>
        <div class="spy-layout n2">
            <div>
                <div spy-input-text="field.name" options="{ label : 'customer.profile.address.name' }"></div>
                <div spy-input-text="field.address1" options="{ label : 'customer.profile.address.addressline1' }"></div>
                <div spy-input-text="field.zip" options="{ label : 'customer.profile.address.zip_code' }"></div>
                <div spy-input-select="field.fk_country" options="{ label : 'customer.profile.address.country' }"></div>
            </div>
            <div>
                <div spy-input-text="field.company" options="{ label : 'customer.profile.address.company' }"></div>
                <div spy-input-text="field.address2" options="{ label : 'customer.profile.address.addressline2' }"></div>
                <div spy-input-text="field.city" options="{ label : 'customer.profile.address.city' }"></div>
                <div spy-input-text="field.state" options="{ label : 'customer.profile.address.state' }"></div>
            </div>
        </div>

        <div class="spy-layout buttons">
            <button class="button default" type="button" ng-disabled="query" ng-click="update()">{{ "customer.profile.address.edit" | trans }}</button>
            <button class="button cancel" type="button" ng-disabled="query" ng-click="abort()">{{ "customer.profile.address.cancel" | trans }}</button>
        </div>
    </form>
</spy-layer>

