parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
#        For compatibility with Symfony 5.4+
        - message: '#PHPDoc tag @implements contains generic type .+DataTransformerInterface<.+> but interface .+DataTransformerInterface is not generic#'

