parameters:
    dynamicConstantNames:
        - APPLICATION_CODE_BUCKET
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Spryker\\Zed\\Kernel\\Business\\AbstractFacade.+#'
