parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
    - '#Call to an undefined method Generated\\Zed\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
    - '#PHPDoc tag \@var for variable \$merchantOrderTransfer has no value type specified in iterable type array.#'
    - '#Strict comparison using === between array and false will always evaluate to false.#'
    - '#Parameter \#1 \$customerReference of method .+MerchantSalesOrderMerchantUserGuiToCustomerFacadeInterface::findByReference\(\) expects string, array\|float\|int\|string\|false\|null given.#'
