{# @var order \Generated\Shared\Transfer\OrderTransfer #}
{% if order.agentEmail %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Agent Assist Order' | trans } %}
        {% block widget_content %}
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <dl>
                        <dt>{{ 'Agent Email' | trans }}</dt>
                        <dd>{{ order.agentEmail }}</a></dd>
                    </dl>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endif %}
