{% extends '@Application/layout.twig' %}
{% block content %}

{% set address = address

name    = implode( ' ', array_filter( [
        address.salutation ? __(address.salutation) : '',
        address.firstName,
        address.lastName
    ] ) )

addressArray = []

addressArray[] = name
addressArray[] = address.company
addressArray[] = address.address1
addressArray[] = address.address2
addressArray[] = address.address3
addressArray[] = address.poBox
addressArray[] = implode( ' ', array_filter( [ address.zipCode, address.city ] ) )
addressArray[] = address.phone
addressArray[] = address.cellPhone
addressArray[] = address.email %}

<div id="{{ type }}_address_box">
    <address class="address-compact">{{ implode( '<br>', array_filter( addressArray ) ) }}</address>
</div>
{% endblock %}
