parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+LocatorLocatorInterface\:\:eventBehavior\(#'
        - '#Call to an undefined method .+LocatorLocatorInterface\:\:storage\(#'
