{% extends '@Gui/Layout/layout.twig' %}

{% set page_title = 'Build Spryk' %}
{% block head_title page_title %}
{% block section_title page_title %}

{% block action %}
{% endblock %}

{% block content %}
    {% if form is defined %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% else %}
        <h3>Jira Template</h3>
        <p><pre>
            {{ jiraTemplate }}
        </pre></p>
    {% endif %}
{% endblock %}

{% block footer_js %}
{% endblock %}
