{% extends '@Gui/Layout/layout.twig' %}

{% set page_title = 'ADD TITLE HERE' %}
{% block head_title page_title %}
{% block section_title page_title %}

{% block action %}
{% endblock %}

{% block content %}
    {% for application, spryks in sprykDefinitions %}
        <h2>{{ application }}</h2>
        {% for spryk, sprykInfo in spryks %}
            <a href="/spryk-gui/index/build?spryk={{ spryk }}">{{ sprykInfo.humanized }}</a> - {{ sprykInfo.description }}<br />
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block footer_js %}
{% endblock %}
