<table width="100%" style="margin-top:250px;">
    <tr>
        <td>
           {{ "invoice.company.address" | trans | raw }}
        </td>
        <td>
            {{ "invoice.company.bank.information" | trans | raw }}
        </td>
        <td align="right">
            {{ "invoice.company.contact.information" | trans | raw }}
        </td>
    </tr>
</table>
