<table width="100%" style="margin-top:20px;">
    <tr>
        <td>
           {{ "invoice.company.address" | trans }}
        </td>
        <td align="center">
            {{ "invoice.company.bank.information" | trans }}
        </td>
        <td align="right">
            {{ "invoice.company.contact.information" | trans }}
        </td>
    </tr>
</table>
