{#
@var productAbstract \Generated\Shared\Transfer\ProductAbstractTransfer
#}

{#{% form_theme form '@ZedUi/Form/form-webcomponent-layout.twig' %}#}

<div>
    {{ productAbstractName }}
</div>
<div>
    {{ productAbstract.sku }}
</div>