<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{{ title | trans }}{% endblock %}</title>

    {% block head_css %}
        <link rel="stylesheet" href="/assets/css/spryker-zed-gui-commons.css">
    {% endblock %}

</head>
<body style="background: transparent">

    {% include '@Messenger/Partials/flash-messages.twig' %}

    {% block content -%}{%- endblock %}

    {% block plugins_js %}
        <script src="/assets/js/vendors/jquery.min.js"></script>
        <script src="/assets/js/vendors/jquery-migrate.min.js"></script>
        <script src="/assets/js/vendors/jquery-ui.min.js"></script>
        <script src="/assets/js/vendors/jquery.dataTables.min.js"></script>
        <script src="/assets/js/vendors/dataTables.bootstrap.min.js"></script>
        <script src="/assets/js/vendors/dataTables.buttons.js"></script>
        <script src="/assets/js/vendors/buttons.print.js"></script>
        <script src="/assets/js/vendors/buttons.html5.js"></script>
        <script src="/assets/js/vendors/buttons.flash.js"></script>
        <script src="/assets/js/vendors/buttons.colVis.js"></script>
        <script src="/assets/js/vendors/buttons.bootstrap.js"></script>
        <script src="/assets/js/vendors/dataTables.responsive.js"></script>
        <script src="/assets/js/vendors/dataTables.select.js"></script>
    {% endblock %}

    {% block footer_js %}
        <script src="/assets/js/spryker-zed-gui-commons.js"></script>
    {% endblock %}

</body>
</html>
