<a class="btn btn-default" href="{{ url('/shipment-gui/edit', {'id-sales-order': order.idSalesOrder, 'id-shipment': shipmentOrderItems.shipment.idSalesShipment}) }}">{{ 'Edit Shipment' | trans }}</a>
