###############################################################################
##       This file is managed by saltstack - DO NOT MANUALLY CHANGE IT       ##
###############################################################################

[mysqld]
log_bin                        = /data/mysql/logs/binlogs
expire_logs_days               = 3
sync_binlog                    = 1
max_binlog_size                = 512M
binlog_ignore_db               = mysql
log_slave_updates
binlog_format                  = mixed
