###############################################################################
##       This file is managed by saltstack - DO NOT MANUALLY CHANGE IT       ##
###############################################################################

[mysqld]
sql_mode = STRICT_ALL_TABLES
