###############################################################################
## this file is managed by saltstack
###############################################################################

[mysqld]
sql_mode = STRICT_ALL_TABLES
