/* Custom Spryker CSS Elements */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSansLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSansSemibold.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSansBold.ttf) format('truetype');
}


/* Login .. */

body.login {
    background: #262d36 none repeat scroll 0 0;
    color: #f5f6f8;
    font-family: "Fira Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    height: 100vh;
    line-height: 21px;
    margin: 0;
    position: relative;
    .spryker-logo {
        padding-bottom: 20px;
    }
    .container {
        margin-top: 7%;
    }
    .form-control,
    .input-group-addon {
        background: #262d36;
        border: 0;
        border-bottom: 1px solid #ccc;
        border-color: #434e62;
    }
    .input-group-addon a {
        color: #434e62;
        border: 1px solid #434e62;
        padding: 4px 6px;
    }
    .slogan {
        font-size: 13px;
        font-family: "Fira Sans", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    }
    .form-group {
        padding-bottom: 10px;
    }
}

/* .. Login */
