/* Custom Spryker CSS Elements */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSansLight.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSansSemibold.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSansBold.ttf) format('truetype');
}

.icon-holder {
  float: left;
  width: 19px;
  overflow: hidden;
}

/* Login .. */
body.login {

    .login-spryker-logo {
        margin: 0 auto;
        width: 165px;
        padding-top: 100px;

        span {
            background: url(/bundles/images/sprite.svg);
            width: 165px;
            height: 159px;
            display: block;
        }
    }

    .loginColumns {
        padding-top: 30px;
    }

    .spryker-login {
        width: 380px;
        margin: 0 auto;
    }

    input,
    .input-group-addon {
        background: #2f4050;
        border: 0;
        border-bottom: 1px solid #888888;
        color: #fff;

        &:focus {
            border-color: #888888 !important;
        }
    }

  .forgot {
      text-align: center;
      font-size: 80%;

      a:hover {
          color: #eee;
      }
  }
}
/* .. Login */
