parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

services:
    -
        class: PHPStan\Type\Spryker\FacadeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\QueryContainerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ConsoleDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ControllerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\PluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ServiceDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ConfigDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ClientDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ClientPluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\YvesFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ZedFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\YvesFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ZedFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
