parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Cannot cast non-empty-array<string>\|non-empty-string\|true to string.#'
        -
            identifier: missingType.iterableValue
