<div class="mp-manage-order__information">
    <div class="mp-manage-order__heading">
        <div class="mp-manage-order__heading-col mp-manage-order__heading-col--actions">
            <ng-content select="[state-transitions]"></ng-content>
            
            <div class="mp-manage-order__transitions-message">
                <spy-icon
                    [name]="transitionMaessgaeIcon"
                    class="mp-manage-order__transitions-icon"
                ></spy-icon>
                
                <ng-content select="[state-transitions-meessage]"></ng-content>
            </div>
        </div>
    
        <div class="mp-manage-order__heading-col">
            <span class="mp-manage-order__title">{{ orderDetails?.title }}</span>
            <span class="mp-manage-order__reference">
                <span class="mp-manage-order__reference-title">{{ orderDetails?.referenceTitle }}</span>
                {{ orderDetails?.reference }}
            </span>
        </div>
    </div>
    
    <div class="mp-manage-order__states">
        <div class="mp-manage-order__states-col mp-manage-order__states-col--title">
            <ng-content select="[items-states-title]"></ng-content>
        </div>
    
        <div class="mp-manage-order__states-col">
            <ng-content select="[items-states]"></ng-content>
        </div>
    </div>
</div>

<ng-content></ng-content>
