@mixin self-service-portal-asset-finder($name: '.asset-finder') {
    #{$name} {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        width: 80vw;

        @include helper-breakpoint-media-min(helper-breakpoint-edge-min(map-get($setting-breakpoints, lg))) {
            width: 36.25rem;
        }

        &__results {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            max-height: 23rem;
        }

        &__search {
            padding-bottom: 1.25rem;
        }

        @content;
    }
}
