{% extends template('widget') %}

{% define data = {
    isActivePage: _widget.isActivePage,
    isVisible: _widget.isVisible,
    canViewFiles: can('ViewFilesPermissionPlugin'),
} %}

{% set itemClass = data.isActivePage ? ' menu__item--active' : '' %}

{% block body %}
    {% if data.canViewFiles %}
        <li class="menu__item {{ itemClass }}">
            <a href="{{ url('ssp-file-management') }}" data-id="sidebar-file-management" data-qa="my-files">{{ 'ssp_file_management.file_management' | trans }}</a>
        </li>
    {% endif %}
{% endblock %}
