{% extends "@FactFinderGui/layout/layout.twig" %}

{% block content %}
    {% include "@FactFinderGui/index/catalog.twig" %}
{% endblock %}

{% block breadcrumbItems %}
    {% for breadcrumb in searchResponse.breadCrumbs %}
        <li>{{ breadcrumb.item.label }}</li>
    {% endfor %}
{% endblock %}
