<section
    class="spy-grid interactive"
    ng-controller="GridController"
    src="/discount/grid/decisionRule"
    channel="decision-rule-form"
>
    <h3>Decision Rules</h3>

    <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

    <table>
        <thead>
            <tr>
                <th spy-grid-head="columns['name']" label="Name"></th>
                <th spy-grid-head="columns['decision_rule_plugin']" label="Decision Rule Plugin"></th>
                <th spy-grid-head="columns['value']" label="Value"></th>
                <th spy-grid-head="columns['discount_name']" label="Discount Name"></th>
                <th spy-grid-head="columns['discount_amount']" label="Discount Amount"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in rows" ng-click="$emitAllChannels('decision-rule-update-click', row)">
                <td>{[{ row['name'] }]}</td>
                <td>{[{ row['decision_rule_plugin'] }]}</td>
                <td>{[{ row['value'] }]}</td>
                <td>{[{ row['discount_name'] }]}</td>
                <td>{[{ row['discount_amount'] }]}</td>
            </tr>
            <tr ng-if="!rows.length">
                <td colspan="5">No results found</td>
            </tr>
        </tbody>
    </table>

    <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

    <div class="spy-layout buttons">
        <button class="button default" ng-click="$emitAllChannels('decision-rule-create-click', {})">Add Voucher</button>
    </div>
</section>
