{% extends '@Gui/Layout/layout.twig' %}

{% block section_title %}
    {{ 'Order ID:' | trans }} {{ idOrder }} ({{ orderDetails.CreatedAt.date | date('Y-m-d G:i:s', false) }})
{% endblock %}

{% block content %}

    {% include '@Sales/Details/section/customer-details.twig' %}

    <div class="spy-layout">
        {% include '@Sales/Details/section/calculation.twig' %}
        {% include '@Sales/Details/section/order-items.twig' %}
        {% include '@Sales/Details/section/payment-logs.twig' %}
        {% include '@Sales/Details/section/expenses.twig' %}
        {% include '@Sales/Details/section/refunds.twig' %}
        {% include '@Sales/Details/section/payment-details-form.twig' %}
        {#{% include '@Sales/Details/section/invoices.twig' %}#}
        {#{% include '@Sales/Details/section/payment-overview.twig' %}#}
        {#{% include '@Sales/Details/section/shipping.twig' %}#}
        {#{% include '@Sales/Details/section/returns.twig' %}#}
        {#{% include '@Sales/Details/section/comments.twig' %}#}
    </div>

{% endblock %}
