
{% extends '@Gui/Layout/layout.twig' %}

{% block head_css_bundles -%}
    <link rel="stylesheet" type="text/css" href="{{ staticPath('Sales/styles/bundle.css') }}">
{%- endblock %}

{% block content %}

    {#<div class="spy-layout compact">#}
    {#<h1>Order <b>{{ idOrder }}</b> ({{ orderDetails.CreatedAt.date }})</h1>#}
    {#</div>#}

    {#{% include '@Sales/Details/section/customer-details.twig' %}#}

    <div class="spy-layout">
        {% include '@Sales/Details/section/order-items.twig' %}
        {#{% include '@Sales/Details/section/invoices.twig' %}#}
        {#{% include '@Sales/Details/section/payment-options.twig' %}#}
        {#{% include '@Sales/Details/section/shipping.twig' %}#}
        {#{% include '@Sales/Details/section/returns.twig' %}#}
        {#{% include '@Sales/Details/section/comments.twig' %}#}
    </div>

{% endblock %}
