{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% include '@Sales/Details/section/customer-details.twig' %}

    <div class="spy-layout">
        {% include '@Sales/Details/section/order-items.twig' %}
        {% include '@Sales/Details/section/expenses.twig' %}
        {#{% include '@Sales/Details/section/invoices.twig' %}#}
        {#{% include '@Sales/Details/section/payment-overview.twig' %}#}
        {#{% include '@Sales/Details/section/shipping.twig' %}#}
        {#{% include '@Sales/Details/section/returns.twig' %}#}
        {#{% include '@Sales/Details/section/comments.twig' %}#}
    </div>

{% endblock %}
