<div class="panel-body">
    <h3>Add General Information</h3>
    <p>Below the name and description for your product can be edited for different locales (in different languages).</p>

    <p>
        <i>Note: The SKU prefix, just like the SKUs of your product variants, are not editable after saving anymore.</i>
    </p>
</div>

<div class="panel-body second">
        {{ form_row(form.sku) }}

        <div class="tabs-container">
            <div class="tabs-top">
                {% embed '@Gui/Partials/LocalizedTabForms/localized-tabs.twig' with {
                formPrefix: 'general',
                localeCollection: localeCollection,
                activeLocale: currentLocale,
                form: form
                } %}
                {% endembed %}
            </div>
        </div>
</div>