{{ form_errors(form.price_and_tax) }}
<div class="panel-body">
    <h3>Price & Tax</h3>
    <p>Enter price and tax set.</p>
    <div class="well">
        {{ form_row(form.price_and_tax.price) }}
        {{ form_row(form.price_and_tax.tax_rate) }}
    </div>
</div>