%field-area {
	@extend %reset-input;

	@include wh(block, border-box, 100%, 0);
	min-height:27px;
	overflow:hidden;
	border-width:1px;
	border-style:none none solid;
	border-color:$_rgbSpyCasper;
	background:transparent;
	padding:2px 0 5px;
	@include pre(transition, border-color $_tFast ease-in);
	resize:none;
}

%field-area-hover {
	outline:none;
	border-color:$_rgbSpyBostonBlue;
	@include pre(transition-timing-function, ease-out);
}

%field-area-disabled {
	border-color:$_rgbSpyGrayChateau;
	border-style:none none dotted;
	color:$_rgbSpyGrayChateau;
	cursor:default;
}

%field-area-invalid {
	border-color:$_rgbUiMonza;
}