%field-check-label-pre {
	content:'';
	@include abs(border-box, 0, 1px, 16px, 16px);
	@include pre(border-radius, 4px);
	border:1px solid $_rgbSpyCasper;
	background:transparent;
	@include pre(transition-property       , (border-color, background-color));
	@include pre(transition-duration       , $_tFast);
	@include pre(transition-timing-function, ease);
}

%field-check-label-post {
	@extend %svg-checkmark-white;
	@extend %svg-checkmark-white-size;

	content:'';
	@include abs(border-box, 7px, 8px);
	@include pre(transform, translate(-50%, -50%) scale(0.0));
	visibility:collapse;
	opacity:0.0;
	@include pre(transition-property       , (transform, visibility, opacity));
	@include pre(transition-duration       , $_tFast);
	@include pre(transition-timing-function, ease);

}

%field-check-label-hover-pre {
	border-color:$_rgbSpyBostonBlue;
}

%field-check-label-hover-post {

}

%field-check-label-active-pre {
	border-color:$_rgbSpyDodgerBlue;
	background-color:$_rgbSpyDodgerBlue;
}

%field-check-label-active-post {
	@include pre(transform, translate(-50%, -50%) scale(1.0));
	visibility:inherit;
	opacity:1.0;
	@include pre(transition-duration       , ($_tFast * 1.5, $_tFast, $_tFast));
	@include pre(transition-timing-function, (cubic-bezier(0.42, 0.0, 0.58, 2.5), ease, ease));
}

%field-check-label-active-hover-pre {
	border-color:$_rgbSpyBostonBlue;
	background-color:$_rgbSpyBostonBlue;
}

%field-check-label-active-hover-post {

}

%field-check-label-disabled-pre {
	border-color:$_rgbSpyGrayChateau;
	background-color:transparent;
}

%field-check-label-disabled-post {

}

%field-check-label-disabled-active-pre {
	border-color:$_rgbSpyGrayChateau;
	background-color:$_rgbSpyGrayChateau;
}

%field-check-label-disabled-active-post {

}