%field-switch-label {
	@include wh(null, null, 0, 16px);
	position:relative;
	overflow:hidden;
	@include pre(border-radius, 3px);
	background:$_rgbSpyCasper;
	padding:0 0 0 30px;
	@include pre(transition, background $_tFast ease-in);

	&:before {
		@extend %svg-switch-background;
		@extend %svg-switch-background-size;

		content:'';
		@include absolute(null, 3px, 3px);
	}

	&:after {
		content:'';
		@include absolute(null, 2px, 2px, 12px, 12px);
		@include pre(border-radius, 3px);
		background:$_rgbWhite;
		@include pre(transition, left $_tFast ease);
	}
}

%field-switch-label-hover {
	background-color:$_rgbSpyBostonBlue;
}

%field-switch-label-active {
	background-color:$_rgbSpyDodgerBlue;

	&:after {
		@include absolute(null, 16px, 2px);
	}
}

%field-switch-label-disabled {
	background-color:$_rgbSpyGrayChateau;
}