%button {
	@include wh(inline-block, border-box, null, 32px);
	vertical-align:baseline;
	border-radius: 4px;
	border:1px solid transparent;
	padding:8px;
	@include font(15px, 12px, null, inherit);
	text-transform:uppercase;
	@include pre(transition-property       , background);
	@include pre(transition-duration       , $_tFast);
	@include pre(transition-timing-function, ease-out);
	cursor:pointer;
}



@import 'generic.scss';
@import 'default.scss';
@import 'warning.scss';