parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method .+ProductLabelByProductConcreteSkuExpander::addProductLabelsResourceRelationships\(\) should return array<.+RestResourceInterface> but returns array<void>.#'
        -
            identifier: missingType.iterableValue
