{% set idMerchantSalesOrder = merchantOrder.idMerchantOrder %}
<a class="btn btn-default" href="{{ url('/merchant-sales-order-merchant-user-gui/merchant-shipment-create', {'id-merchant-sales-order': idMerchantSalesOrder}) }}">{{ 'Create Shipment' | trans }}</a>
