parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#1 \$glossaryKey of method .+KeyTranslationTransfer::setGlossaryKey\(\) expects int\|null, string\|null given.#'
