{% if additionalData  %}
    {% for includePath, additionalInformation in additionalData %}
        {% include includePath %}
    {% endfor %}
{% else %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Items' } %}
        {% block widget_title -%}
            <div class="row">
                <div class="col-sm-9">
                    <h5>{{ widget_title | trans }}</h5>
                </div>

                {% if order.items | length > 1 %}
                    <div class="col-sm-3 text-right">
                        {% include '@ShipmentGui/Create/_partials/create-shipment-link.twig' %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {% block widget_content %}
            {% include '@ShipmentGui/Sales/boxes/order-items.twig' %}
        {% endblock %}
    {% endembed %}
{% endif %}
