parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#1 \$carrierDiscountDecisionRule of method .+ShipmentDiscountCollector::__construct\(\) expects .+Model\\ShipmentDiscountDecisionRuleInterface, .+DecisionRule\\ShipmentDiscountDecisionRuleInterface given.#'
        - '#Parameter \#1 \$var of function count expects array\|Countable, iterable<Generated\\Shared\\Transfer\\ItemTransfer> given.#'
