{% if data.order.totals.remunerationTotal %}
    <div class="row">
        <div class="col-sm-10"><p>{{ 'Remuneration total' | trans }}</p></div>
        <div class="col-sm-2">- {{ data.order.totals.remunerationTotal | money(true, data.order.currencyIsoCode) }}</div>
    </div>
{% endif %}
