@import "~@spryker/styles/src/lib/themes/default/external-variables.less";

@logo-height: 77px;
@logo-width: 190px;
@content-vertical-padding: 40px;
@content-horizontal-padding: 80px;
@sidebar-collapse-transition-time: 0.2s;
@header-height: 56px;

.mp-layout-main {
    spy-layout > nz-layout > span {
        height: 100%;
    }

    &-cnt {
        height: 100%;
        display: flex;

        &__main {
            flex: auto;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }

        &__header {
            flex-shrink: 0;
            height: @header-height;
        }

        &__content {
            flex-grow: 1;
            overflow-y: auto;
            padding: @content-vertical-padding @content-vertical-padding;
        }

        &__logo {
            padding: 10px 30px 27px;
            overflow: hidden;
            width: 100%;
            transition: padding @sidebar-collapse-transition-time;

            &--collapsed {
                padding-left: 10px;
                padding-right: 10px;
            }

            &-inner {
                height: @logo-height;
                min-width: @logo-width;
            }
        }
    }
}
