parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
#        For compatibility with Symfony 5.4+
        - message: '#PHPDoc tag @return contains generic type .+DataTransformerInterface<.+> but interface .+DataTransformerInterface is not generic#'
        - message: '#PHPDoc tag @implements contains generic type .+DataTransformerInterface<.+> but interface .+DataTransformerInterface is not generic#'
        -
            identifier: missingType.iterableValue
