<div id="calculator-input-types">
    <div style="display:none;" id="calculator-default-input-type" class="discount-calculation-input-type">
        {{ form_row(discountForm.discountCalculator.amount) }}
    </div>

    <div style="display:none;" id="calculator-money-input-type" class="discount-calculation-input-type">
        {{ form_money_collection(discountForm.discountCalculator.moneyValueCollection) }}
        <h4>{{ 'If you need to create different values for the same currency in different stores - please create different discounts per store.' | trans }}</h4>
    </div>
</div>
