<div class="well well-sm">{{ 'Define what to apply the discount to' | trans }}</div>
<hr />

{{ form_row(discountForm.discountCalculator.calculator_plugin) }}

{{ form_row(discountForm.discountCalculator.amount) }}

{{ form_row(discountForm.discountCalculator.collector_query_string) }}

<div id="builder_calculation"></div>

<button type="button" class="btn btn-sm btn-success" id="btn-calculation-get">Toggle input field</button>
