<div class="well well-sm">{{ 'Define when to apply the discount' | trans }}</div>
<hr />

{{ form_row(discountForm.discountCondition) }}

<div id="builder_condition"></div>

<button type="button" class="btn btn-sm btn-success" id="btn-condition-get">Toggle input field</button>
