<div class="alert alert-info query-builder-info">
    <p>
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        Examples
    </p>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Field</th>
            <th>Operation</th>
            <th>Value</th>
            <th>Explanation</th>
        </tr>
        <tr>
            <td>sku</td><td>=</td><td>SKU-1</td><td>Matches elements with the exact same SKU: "SKU-1"</td>
        </tr>
        <tr>
            <td>attribute.width</td><td>=</td><td>*</td><td>Matches all elements which have a "width" attribute defined, but with any "width" value</td>
        </tr>
        <tr>
            <td>sku</td><td>IN</td><td>SKU-1</td><td>Matches elements with the exact same SKU: "SKU-1"</td>
        </tr>
        <tr>
            <td>sku</td><td>IN</td><td>SKU-1;SKU-2</td><td>Matches elements with the exact same SKU as "SKU-1" or "SKU-2"</td>
        </tr>
        <tr>
            <td>attribute.width</td><td>IN</td><td>*</td><td>Matches all elements which have a "width" attribute defined, but with any "width" value</td>
        </tr>
    </table>
</div>
