<h3>Vouchers</h3>

{{ form(voucherForm) }}

{{ viewActionButton(url('/discount/voucher/export', {'id-pool' : discountConfigurator.discountVoucher.fkDiscountVoucherPool}), 'Export' | trans) }}
{{ removeActionButton(url('/discount/voucher/delete-discount-vouchers', {'id-pool': discountConfigurator.discountVoucher.fkDiscountVoucherPool, 'id-discount' : idDiscount }), 'Delete codes' | trans ) }}

{% if voucherCodesTable is defined %}
    {{ voucherCodesTable | raw }}
{% endif %}
