<div class="progress product-category-filter-progress-container hidden" id="{{ idProgressbar }}">
    <div class="product-category-filter-progress progress-bar progress-bar-100 progress-bar-striped active" role="progressbar"></div>
</div>