parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method Orm\\.+Query::useStockQuery\(\).#'
        - '#Call to an undefined method Orm\\.+Query::useSpyProductQuery\(\).#'
        - '#Call to an undefined method Orm\\.+Query::innerJoinWithStock\(\).#'
        -
            identifier: missingType.iterableValue
