parameters:
    level: 7
    ignoreErrors:
        - '#Parameter \#1 \$limit of method .+DataImporterReaderConfigurationTransfer::setLimit\(\) expects int\|null, array<string>\|bool\|string\|null given.#'
        - '#Parameter \#1 \$offset of method .+DataImporterReaderConfigurationTransfer::setOffset\(\) expects int\|null, array<string>\|bool\|string\|null given.#'
        - '#Call to an undefined method .+DataImporterInterface::import\(\).#'
        - '#Call to an undefined method .+DataImporterPluginCollectionInterface::addDataImporterPlugins\(\).#'
        - '#Call to an undefined method .+DataImporterPluginCollectionInterface::addDataImporter\(\).#'
        -
            identifier: missingType.iterableValue
    reportUnmatchedIgnoredErrors: false
