parameters:
    ignoreErrors:
        - '#Parameter \#1 \$limit of method DataImporterReaderConfigurationTransfer::setLimit\(\) expects int|null, array<string>|bool|string|null given.#'
        - '#Call to an undefined method Spryker\\Zed\\Kernel\\AbstractBundleConfig::getDefaultYamlConfigPath#'
