<div class="mp-create-single-concrete-product__header">
    <spy-headline [level]="titleLevel">
        <div class="mp-create-single-concrete-product__title">
            <ng-content select="[title]"></ng-content>
        </div>
        <h5 class="mp-create-single-concrete-product__sub-title">
            <ng-content select="[sub-title]"></ng-content>
        </h5>
        <ng-content actions select="[action]"></ng-content>
    </spy-headline>
</div>
<div class="mp-create-single-concrete-product__content">
    <ng-content></ng-content>
</div>
