parameters:
    level: 8
    ignoreErrors:
        - '#Call to an undefined method Orm\\.+Query::orderByFkSalesOrder\(\).#'
        - '#Call to an undefined method Orm\\.+Query::orderByIdSalesOrder\(\).#'
        -
            identifier: missingType.iterableValue
