parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
    - '#Property .+Aws3v3AdapterBuilder::\$adapter has unknown class League\\Flysystem\\AwsS3v3\\AwsS3Adapter as its type.#'
    - '#Property .+Aws3v3AdapterBuilder::\$client has unknown class Aws\\S3\\S3Client as its type.#'
    - '#Instantiated class Aws\\S3\\S3Client not found.#'
    - '#Instantiated class League\\Flysystem\\AwsS3v3\\AwsS3Adapter not found.#'
    - '#Method .+Aws3v3AdapterBuilder::build\(\) should return League\\Flysystem\\AdapterInterface but returns League\\Flysystem\\AwsS3v3\\AwsS3Adapter.#'

services:
    -
        class: PHPStan\Type\Spryker\FacadeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\QueryContainerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ConsoleDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ControllerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\PluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ServiceDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ConfigDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ClientDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ClientPluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\YvesFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ZedFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\YvesFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ZedFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
