@mixin self-service-portal-contact-list($name: '.contact-list') {
    #{$name} {
        &__representative {
            display: flex;
            gap: 0.625rem;

            &:not(:last-child) {
                padding-bottom: 0.625rem;
            }
        }

        &__representative-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
            background-color: $setting-color-dark;
            flex-shrink: 0;
            position: relative;
            overflow: hidden;
        }

        &__representative-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
        }

        &__representative-info {
            width: calc(100% - 1.875rem);
        }

        &__representative-data {
            display: flex;
            gap: 0.3125rem;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__representative-data-col {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
            font-size: 0.8125rem;
        }

        @content;
    }
}
