<?php
/**
 * Fact Finder
 */
use Spryker\Shared\FactFinder\FactFinderConstants;

$config[FactFinderConstants::ENV] = FactFinderConstants::ENV_PRODUCTION;
$config[FactFinderConstants::ENV . FactFinderConstants::ENV_PRODUCTION] = [
    'debug' => true,
    'requestProtocol' => 'http', //https
    'serverAddress' => 'partner3.fact-finder.de',
    'port' => '80',
    'context' => 'Spryker',
    'channel' => 'test',
    'language' => 'de',
    'authenticationType' => 'advanced',
//    'authenticationType' => 'manual',
    'userName' => 'campaignManager',
    'password' => 'change123',
    'authenticationPrefix' => 'FACT-FINDER',
    'authenticationPostfix' => 'FACT-FINDER',
    'clientMappings' => [],
    'serverMappings' => [],
    'ignoredClientParameters' => [],
    'ignoredServerParameters' => [],
    'whitelistClientParameters' => [],
    'whitelistServerParameters' => [],
    'requiredClientParameters' => [],
    'requiredServerParameters' => [],
    'defaultConnectTimeout' => 2,
    'defaultTimeout' => 4,
    'suggestConnectTimeout' => 2,
    'suggestTimeout' => 2,
    'trackingConnectTimeout' => 1,
    'trackingTimeout' => 2,
    'importConnectTimeout' => 10,
    'importTimeout' => 360,
    'pageContentEncoding' => 'UTF-8',
    'clientUrlEncoding' => 'UTF-8',
];

// BCryptPasswordEncoder(12)
$config[FactFinderConstants::CONFIG_BASIC_AUTH_USERNAME] = 'spryker';
$config[FactFinderConstants::CONFIG_BASIC_AUTH_PASSWORD] = '$2y$12$SeghsDyAJniRI58Ypfd/1emFfCFE4gziRfFKGDl2i0VAzpFI3qva2'; // change123

$config[FactFinderConstants::CSV_DIRECTORY] = APPLICATION_ROOT_DIR . '/data/fact_finder';
