<spy-layer>
    <form
        class="spy-layout sparse"
        ng-controller="FormController"
        src="/discount/form/discount"
        name="discount-form"
        channel="discount-form"
    >
        <h3 ng-if="!create">Edit Discount</h3>
        <h3 ng-if=" create">Create Discount</h3>

        <div class="spy-layout n2">
            <div>
                <div spy-input-select="field.fk_discount_voucher_pool" options="{ label : 'VoucherPool', empty : 'Please select'}"></div>
                <div spy-input-switch="field.is_active" options="{ label : 'Active' }"></div>
                <div spy-input-switch="field.is_privileged" options="{ label : 'Is Privileged' }"></div>
                <div spy-input-text="field.display_name" options="{ label : 'Name' }"></div>
                <div spy-input-text="field.description" options="{ label : 'Description' }"></div>
            </div>

            <div>
                <div spy-input-text="field.amount" options="{ label : 'Amount' }"></div>
                <div spy-input-select="field.calculator_plugin" options="{ label : 'Calculator', disabled : false}"></div>
                <div spy-input-select="field.collector_plugin" options="{ label : 'Collector', disabled : false}"></div>
                <div spy-input-text="field.valid_from" options="{ label : 'Valid From' }"></div>
                <div spy-input-text="field.valid_to" options="{ label : 'Valid To' }"></div>
            </div>
        </div>

        <div class="spy-layout buttons">
            <button ng-if=" create" class="button default" ng-disabled="query" ng-click="update()">Create</button>
            <button ng-if="!create" class="button default" ng-disabled="query" ng-click="update()">Update</button>
            <button class="button cancel"  ng-disabled="query" ng-click="abort()">Cancel</button>
        </div>
    </form>
</spy-layer>
