<spy-layer>
    <form
        class="spy-layout sparse"
        ng-controller="FormController"
        src="/discount/form/voucherPoolCategory"
        name="voucher-pool-category-form"
        channel="voucher-pool-category-form"
    >
        <h3 ng-if="!create">Edit Voucher Pool Category</h3>
        <h3 ng-if=" create">Create Voucher Pool Category</h3>

        <div spy-input-text="field.name" options="{ label : 'Name' }"></div>

        <div class="spy-layout buttons">
            <button ng-if=" create" class="button default" ng-disabled="query" ng-click="update()">Create</button>
            <button ng-if="!create" class="button default" ng-disabled="query" ng-click="update()">Update</button>
            <button class="button cancel" ng-disabled="query" ng-click="abort()">Cancel</button>
        </div>
    </form>
</spy-layer>