<spy-layer>
    <form
        class="spy-layout sparse"
        ng-controller="FormController"
        src="/discount/form/voucher"
        name="voucher-form"
        channel="voucher-form"
    >
        <h3 ng-if="!create">Edit Voucher</h3>
        <h3 ng-if=" create">Create Voucher</h3>

        <div spy-input-select="field.fk_discount_voucher_pool" options="{ label : 'VoucherPool' }"></div>
        <div spy-input-text="field.code" options="{ label : 'Code' }"></div>
        <div spy-input-switch="field.is_active" options="{ label : 'Is active' }"></div>

        <div class="spy-layout buttons">
            <button ng-if=" create" class="button default" ng-disabled="query" ng-click="update()">Create</button>
            <button ng-if="!create" class="button default" ng-disabled="query" ng-click="update()">Update</button>
            <button class="button cancel" type="button" ng-disabled="query" ng-click="abort()">Cancel</button>
        </div>
    </form>
</spy-layer>