<spy-layer>
    <form
        class="spy-layout sparse"
        ng-controller="FormController"
        src="/discount/form/voucherPool"
        context="entity"
        name="voucher-pool-form"
        channel="voucher-pool-form"
    >
        <h3 ng-if="!create">Edit Voucher Pool</h3>
        <h3 ng-if=" create">Create Voucher Pool</h3>

        <div spy-input-select="field.fk_discount_voucher_pool_category" options="{ label : 'VoucherPool Category' }"></div>
        <div spy-input-text="field.name" options="{ label : 'Name' }"></div>
        <div spy-input-text="field.template" options="{ label : 'Template' }"></div>
        <div spy-input-switch="field.is_active" options="{ label : 'Is active' }"></div>
        <div spy-input-switch="field.is_infinitely_usable" options="{ label : 'Is infinitely usable' }"></div>

        <div class="spy-layout buttons">
            <button ng-if=" create" class="button default" ng-disabled="query" ng-click="update()">Create</button>
            <button ng-if="!create" class="button default" ng-disabled="query" ng-click="update()">Update</button>
            <button class="button cancel" ng-disabled="query" ng-click="abort()">Cancel</button>
        </div>
    </form>
</spy-layer>