#price_product_schedule_activeFrom_date {
    margin-right: 15px;
}

#price_product_schedule_activeTo_date {
    margin-right: 15px;
}

#price_product_schedule_activeFrom_time_minute {
    margin-right: 15px;
}

#price_product_schedule_activeTo_time_minute {
    margin-right: 15px;
}
