parameters:
    checkMissingIterableValueType: false
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/Newsletter/src/Spryker/Zed/Newsletter/Communication/Plugin/DoubleOptInSubscriptionSender.php'
