parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+\\NewsletterToMailInterface::sendMail\(\)#'
        - '#Call to an undefined method .+\\NewsletterToMailInterface::isMailSent\(\)#'
        - '#Call to an undefined method .+\\NewsletterToGlossaryInterface::translate\(\)#'
        - '#Call to an undefined method .+\\DoubleOptInHandlerInterface\|.+\\SubscriberOptInHandlerInterface::approveSubscriberByKey\(\).#'
