<div id="directory-deleting-confirmation-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm deleting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to remove the folder with all files?</p>
            </div>
            <div class="modal-footer">
                <a id="delete-directory-confirmation-link" href="">
                    <button type="button" class="btn btn-primary">{{ 'Сonfirm' | trans }}</button>
                </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{ 'Cancel' | trans }}</button>
            </div>
        </div>
    </div>
</div>
