<ul>
    {% for node in nodes %}
        <li id="file-directory-node-{{ node.fileDirectory.idFileDirectory }}"
            class="jstree-open"
            data-id-file-directory-node="{{ node.fileDirectory.idFileDirectory }}"
            data-id-parent-file-directory-node="{{ node.fileDirectory.fkParentFileDirectory }}">

            {{ node.fileDirectory.name }}
            {% include '@FileManagerGui/DirectoriesTree/_partials/nodes.twig' with {nodes: node.children} %}

        </li>
    {% endfor %}
</ul>
