{% extends template('widget') %}

{% define data = {
    isActivePage: _widget.isActivePage,
    isVisible: _widget.isVisible,
    setMultiFactorAuthRouteName: _widget.setMultiFactorAuthRouteName,
} %}

{% set itemClass = data.isActivePage ? ' menu__item--active' : '' %}

{% block body %}
    <li class="menu__item {{ itemClass }}">
        <a href="{{ url(data.setMultiFactorAuthRouteName) }}" data-id="sidebar-multi-factor-auth">{{ 'multi_factor_auth.multi_factor_auth.list.title' | trans }}</a>
    </li>
{% endblock %}
