spy-layer {
	@include fixed(null, 0, 0, null, null, 0, 0, 1);
	@include vis(false, $_tFast, ease-in);

	&.active {
		@include vis(true, $_tFast, ease-out);
	}

	&>div.screen {
		@include wh(null, null, 100%, 100%);
		background:rgba($_rgbSpyEbonyClay,0.8);
	}

	&>div.content {
		@include absolute(null, 50%, 50%);
		width:80vw;
		max-height:100vh;
		overflow-x:hidden;
		overflow-y:auto;
		@include pre(transform, translate(-50%,-50%));

		&>.spy-layout.sparse,
		&>.spy-layout.compact {
			margin:0;
			padding:$_yGutter $_xGutter;
		}
	}
}