parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/User/src/Spryker/Zed/User/Communication/Plugin/AuthMailConnector/UserAuthMailExpanderPlugin.php'
    ignoreErrors:
        - '#Call to an undefined method Generated\\Zed\\Ide\\AutoCompletion#'
