<div class="tabs-container tabs-manager product-option-tabs">
    <ul id="product-option-tabs" class="nav nav-tabs">
        {# @deprecated html attribute "data-toggle" is deprecated use "data-bs-toggle" instead #}
        <li class="active" data-bs-toggle="tab"><a data-toggle="tab" class="tab-item" href="#general">{{ 'General information' | trans }}</a></li>
        {# @deprecated html attribute "data-toggle" is deprecated use "data-bs-toggle" instead #}
        <li data-bs-toggle="tab"><a data-toggle="tab" class="tab-item" href="#products">{{ 'Products' | trans }}</a></li>
    </ul>
    <div class="tab-content ">
        <div id="general" class="tab-pane active">
            <div class="panel-body">
                {% include '@ProductOption/_partial/tab-general.twig' %}
            </div>
        </div>
        <div id="products" class="tab-pane">
            <div class="panel-body">
                {% include '@ProductOption/_partial/tab-products.twig' %}
            </div>
        </div>
    </div>
    <hr>
    {% include '@ProductOption/_template/_form-submit.twig' %}
</div>
