parameters:
    checkMissingIterableValueType: false
    excludePaths:
        - %rootDir%/../../../vendor/spryker/spryker/Bundles/ProductSetPageSearch/src/Spryker/Client/ProductSetPageSearch/Plugin/Elasticsearch/Query/ProductSetPageSearchListQueryPlugin.php
