{% form_theme categoryForm with [
    '@CategoryImageGui/_partials/category-image-set-theme.twig',
    '@CategoryImageGui/_partials/category-image-collection-theme.twig',
]%}

<div class="well">
    {% filter trans|raw %}
        <h3>Category Image(s)</h3>
        <p>Multiple images can be grouped to an image set. An image set has a name for identification and may contain a small and a large version of each image.</p>
        <p><i>Note: Image sets can be used for different purposes.</i></p>
    {% endfilter %}
</div>

{% set localeCollection = categoryForm.imageSets.vars.locales %}

{% for localeName in localeCollection %}
    {% embed '@Gui/Partials/localized-ibox.twig' with {
        'collapsed': not loop.first,
        'localeName': localeName,
        'categoryForm': categoryForm
    } only %}
        {% block content %}
            {% include '@CategoryImageGui/_partials/image-set-form.twig' %}
        {% endblock %}
    {% endembed %}
{% endfor %}

<script src="/assets/js/spryker-zed-category-image-main.js"></script>
<link rel="stylesheet" href="/assets/css/spryker-zed-category-image-main.css" />
