<a class="btn btn-sm safe-submit btn-primary"
   href="{{ url('/merchant-sales-return-merchant-user-gui/create', {
       'id-merchant-order': merchantOrder.idMerchantOrder
   }) }}">
    {{ 'Return' | trans }}
</a>
