parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#3 $eventDispatcher of class .+LogoutListener constructor expects .+EventDispatcherInterface, .+LogoutSuccessHandlerInterface|.+EventDispatcherInterface given.#'
