parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#3 \$eventDispatcher of class .+LogoutListener constructor expects .+EventDispatcherInterface, .+LogoutSuccessHandlerInterface|.+EventDispatcherInterface given.#'
        - '#Class .+AuthenticationTrustResolver constructor invoked with 0 parameters, 2 required.#'
        - '#Class .+AuthenticationTrustResolver does not have a constructor and must be instantiated without any parameters.#'
        - '#Instantiated class .+DefaultLogoutListener not found.#'
        - '#Instantiated class .+SessionLogoutListener not found.#'
        - '#Instantiated class .+UserChecker not found.#'
        - '#Instantiated class .+NativePasswordEncoder not found.#'
        - '#Instantiated class .+SessionLogoutHandler not found.#'
        - '#Instantiated class .+TokenBasedRememberMeServices not found.#'
        - '#Instantiated class .+RememberMeListener not found.#'
        - '#Instantiated class .+RememberMeAuthenticationProvider not found.#'
        - '#Instantiated class .+RetryAuthenticationEntryPoint not found.#'
        - '#Parameter \#1 \$subscriber of method .+EventDispatcherInterface::addSubscriber\(\) expects .+EventSubscriberInterface, .+DefaultLogoutListener given.#'
        - '#Parameter \#1 \$subscriber of method .+EventDispatcherInterface::addSubscriber\(\) expects .+EventSubscriberInterface, .+SessionLogoutListener given.#'
        - '#Method .+RouteCollection::add\(\) invoked with 3 parameters, 2 required.#'
        - '#Method .+SecurityFactory::createPasswordEncoder\(\) should return .+PasswordEncoderInterface but returns .+NativePasswordEncoder.#'
        - '#Method .+SecurityCommunicationFactory::createPasswordEncoder\(\) should return .+PasswordEncoderInterface but returns .+NativePasswordEncoder.#'
        - '#Method .+SecurityCommunicationFactory::createUserChecker\(\) should return .+UserCheckerInterface but returns .+UserChecker.#'
        - '#Method .+SecurityCommunicationFactory::createSessionLogoutHandler\(\) should return .+LogoutHandlerInterface but returns .+SessionLogoutHandler.#'
        - '#Method .+SecurityCommunicationFactory::createRetryAuthenticationEntryPoint\(\) should return .+AuthenticationEntryPointInterface but returns .+RetryAuthenticationEntryPoint.#'
        - '#Method .+UserPasswordValidatorConstraintPlugin::getEncoderStorage\(\) has invalid return type Symfony\\Component\\Security\\Core\\Encoder\\EncoderFactoryInterface.#'
        - '#Method .+SecurityCommunicationFactory::createSessionLogoutHandler\(\) has invalid return type Symfony\\Component\\Security\\Http\\Logout\\LogoutHandlerInterface.#'
        - '#Method .+createPasswordEncoder\(\) has invalid return type Symfony\\Component\\Security\\Core\\Encoder\\PasswordEncoderInterface.#'
        - '#Instantiated class Symfony\\Component\\Security\\Http\\EventListener\\RememberMeLogoutListener not found.#'
        - '#Parameter \#1 \$subscriber of method Symfony\\Component\\EventDispatcher\\EventDispatcherInterface::addSubscriber\(\) expects Symfony\\Component\\EventDispatcher\\EventSubscriberInterface, Symfony\\Component\\Security\\Http\\EventListener\\RememberMeLogoutListener given.#'
        - '#Parameter \#2 \$hasherFactory of class .+UserPasswordValidator constructor expects .+PasswordHasherFactoryInterface, .+EncoderFactoryInterface given#'
        - '#Class .+LogoutEvent not found.#'
        - '#Call to method .+ on an unknown class .+LogoutEvent.#'
        - '#Parameter \$event of method .+onLogout\(\) has invalid type .+LogoutEvent.#'
    excludePaths:
        # phpstan throws an internal error because of autoloading `Symfony\Component\Security\Core\Authentication\Provider\AuthenticationProviderInterface` which does not exist in Symfony 6+
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/Security/src/Spryker/Zed/Security/Communication/Plugin/Application/SecurityApplicationPlugin.php'
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/Security/src/Spryker/Yves/Security/Plugin/Application/SecurityApplicationPlugin.php'
