parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method .+SpyCategoryImageQuery\|.+SpyCategoryImageSetQuery::filterByFkCategory\(\).#'
        -
            identifier: missingType.iterableValue
