parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+SpyCategoryImageQuery\|.+SpyCategoryImageSetQuery::filterByFkCategory\(\).#'