{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'System Info' } %}

        {% block widget_content %}

            <p>
               {{ 'Error levels to report:' | trans }} {{ errorLevel | raw }}
            </p>
            <p>
               {{ 'Error levels to log only:' | trans }} {{ errorLevelLogOnly | raw }}
            </p>
        {% endblock %}

    {% endembed %}

{% endblock %}
