{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    <div class="box">
        <h1>{{ 'Error' | trans | upper }} {% block errorCode %}{% if errorCode is defined %}{{ errorCode }}{% endif %}{% endblock %}</h1>
        <p>{% block errorMessage %} {{ error }} {% endblock %}</p>
    </div>
{% endblock %}
