{% block productRating %}
    {{ spyProductAbstractReview(product.idProductAbstract, '@PyzProductReview/_product-detail-page/_partials/product-rating.twig') }}
{% endblock %}

{% block productReviews %}
    <div class="row">
        <div class="small-12 columns">
            {{ render(path('product-review/submit', {idProductAbstract: product.idProductAbstract})) }}
            {{ render(path('product-review/index', {idProductAbstract: product.idProductAbstract})) }}
        </div>
    </div>
{% endblock %}
