{% extends '@OfferGui/_layout/layout.twig' %}

{% block action %}
    {{ backActionButton('/offer-gui/view/list', 'Back to Offers' | trans) }}
{% endblock %}

{% set widget_title = 'View Offer: ' | trans ~ offer.idOffer %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block content %}

    <div id="order-overview">{% include '@OfferGui/View/_details/offer-overview.twig' %}</div>
    <div id="items">{% include '@OfferGui/View/_details/items.twig' %}</div>

    {% include '@OfferGui/View/_details/totals.twig' %}

    <div id="address">{% include '@OfferGui/View/_details/addresses.twig' %}</div>

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/spryker-zed-sales-main.css">
{% endblock %}
