<h3>{{ 'Add General Information' | trans }}</h3>
<p>{{ 'Below you can edit the name of your slot for different locales (in different languages).' | trans }}</p>
<p>{{ 'Note: you can assign products and categories for a slot in the respective tabs.' | trans }}</p>
