%field-radio-label-pre {
	content:'';
	@include abs(border-box, 0, 1px, 16px, 16px);
	@include pre(border-radius, 8px);
	border:1px solid $_rgbSpyCasper;
	@include pre(transition, border-color $_tFast ease);
}

%field-radio-label-post {
	content:'';
	@include abs(border-box, 8px, 9px, 10px, 10px);
	@include pre(transform, translate(-50%, -50%) scale(0.0));
	@include pre(border-radius, 7px);
	background-color:$_rgbSpyCasper;
	@include pre(transition-property       , (background-color, transform));
	@include pre(transition-duration       , $_tFast);
	@include pre(transition-timing-function, ease);
}

%field-radio-label-hover-pre {
	border-color:$_rgbSpyBostonBlue;
}

%field-radio-label-hover-post {
}

%field-radio-label-active-pre {
	border-color:$_rgbSpyDodgerBlue;
}

%field-radio-label-active-post {
	@include pre(transform, translate(-50%, -50%) scale(1.0));
	background-color:$_rgbSpyDodgerBlue;
	@include pre(transition-duration       , ($_tFast, $_tFast * 1.5));
	@include pre(transition-timing-function, (ease, cubic-bezier(0.42, 0.0, 0.58, 2.5)));
}

%field-radio-label-active-hover-pre {
	border-color:$_rgbSpyBostonBlue;
}

%field-radio-label-active-hover-post {
	background-color:$_rgbSpyBostonBlue;
}

%field-radio-label-disabled-pre {
	border-color:$_rgbSpyGrayChateau;
}

%field-radio-label-disabled-post {
	background-color:$_rgbSpyGrayChateau;
}