%field-select {
	@extend %reset-input;

	@include rel(null, null, null, null, null, 1);
	border-width:1px;
	border-style:none none solid;
	border-color:$_rgbSpyCasper;
	background:$_rgbWhite;
	padding:2px 0 5px 0;
	@include pre(transition-property, (border-color, z-index));
	@include pre(transition-delay   , (0ms, $_tFast));
	@include pre(transition-duration, ($_tFast, 0ms));
	@include pre(transition-timing-function, ease-in);
}

%field-select-open {
	z-index:2;
	@include pre(transition-delay, (0ms, 0ms));
}

%field-select-hover {
	outline:none;
	border-color:$_rgbSpyBostonBlue;
	@include pre(transition-timing-function, ease-out);
}


%field-select-input {
	@include wh(block, null, null, null, null, $_hLine);
	padding-right:16px;
	white-space:nowrap;
	@include pre(transition, color $_tFast ease-in);
	cursor:pointer;

	&:before {
		@extend %svg-arrowdown-dodgerblue;
		@extend %svg-arrowdown-dodgerblue-size;

		content:'';
		@include absolute(null, null, 8px, null, null, 0);
		opacity:1.0;
		@include pre(transition-property, (top, opacity));
		@include pre(transition-duration, $_tFast);
		@include pre(transition-timing-function, ease-in);
	}

	&:after {
		@extend %svg-arrowup-dodgerblue;
		@extend %svg-arrowup-dodgerblue-size;

		content:'';
		@include absolute(null, null, -6px, null, null, 0);
		opacity:0.0;
		@include pre(transition-property, (top, opacity));
		@include pre(transition-duration, $_tFast);
		@include pre(transition-timing-function, ease-out);
	}
}

%field-select-open-input {
	color:$_rgbSpyCasper;
	@include pre(transition-timing-function, ease-out);

	&:before {
		top:21px;
		opacity:0.0;
		@include pre(transition-timing-function, ease-out);
	}

	&:after {
		top:8px;
		opacity:1.0;
		@include pre(transition-timing-function, ease-in);
	}
}


%field-select-disabled {
	@include wh(block, null, null, 19px);
	border-width:1px;
	border-style:none none dotted;
	border-color:$_rgbSpyGrayChateau;
	padding:2px 0 5px;
	color:$_rgbSpyGrayChateau;
	cursor:default;
}

%field-select-invalid {
	border-color:$_rgbUiMonza;
}


%field-select-list {
	@extend %reset-list;

	height:0;
	max-height:$_hLine * 6;
	overflow-x:hidden;
	overflow-y:auto;
	white-space:nowrap;
	@include pre(transition, height $_tFast ease-in);
}

%field-select-list-transition {
	overflow-y:hidden;
}

%field-select-list-hover {
	@include pre(transition-timing-function, ease-out);
}

%field-select-item {
	padding:0 16px 0 0;
	@include pre(transition, (color $_tFast ease-in));
	cursor:pointer;

	&:before {
		content:none;
	}
}

%field-select-item-hover {
	color:$_rgbSpyBostonBlue;
	@include pre(transition-timing-function, ease-out);
}