%field-text {
	@extend %reset-input;

	@include wh(block, border-box, 100%, 27px);
	border-width:1px;
	border-style:none none solid;
	border-color:$_rgbSpyCasper;
	background:transparent;
	padding:2px 0 5px;
	@include pre(transition, border-color $_tFast ease-in);
}

%field-text-hover {
	outline:none;
	border-color:$_rgbSpyBostonBlue;
	@include pre(transition-timing-function, ease-out);
}

%field-text-disabled {
	border-style:none none dotted;
	border-color: $_rgbSpyGrayChateau;
	color: $_rgbSpyGrayChateau;
	cursor:default;
}

%field-text-invalid {
	border-color:$_rgbUiMonza;
}