{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    asset: _view.sspAsset,
    title: 'customer.account.ssp_asset' | trans,
    unassignBusinessUnitForm: _view.unassignBusinessUnitForm,
    canBusinessUnitBeUnassigned: _view.canBusinessUnitBeUnassigned,
    isUnassignmentAllowed: _view.isUnassignmentAllowed,
    isUpdateAllowed: _view.isUpdateAllowed,
    activePage: 'asset',
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'self_service_portal.asset.list.title' | trans,
                    url: url('customer/ssp-asset')
                },
                {
                    label: data.asset.name,
                },
            ],
        },
    } only %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        {% block customerContentInner %}
            {% block heading %}
                {% include molecule('asset-details-title', 'SelfServicePortal') with {
                    class: 'spacing-bottom--big',
                    data: {
                        title: data.asset.name,
                        reference: data.asset.reference,
                        unassignBusinessUnitForm: data.unassignBusinessUnitForm,
                        canBusinessUnitBeUnassigned: data.canBusinessUnitBeUnassigned,
                        isUnassignmentAllowed: data.isUnassignmentAllowed,
                        isUpdateAllowed: data.isUpdateAllowed,
                    },
                } only %}
            {% endblock %}

            {% block information %}
                {% include molecule('asset-information', 'SelfServicePortal') with {
                    data: {
                        image: data.asset.image is not empty ? url('customer/ssp-asset/view-image', { 'ssp-asset-reference': data.asset.reference }) : publicPath('images/image-placeholder.png'),
                        name: data.asset.name,
                        reference: data.asset.reference,
                        information: [
                            { title: 'self_service_portal.asset.details_page.reference', value: data.asset.reference },
                            { title: 'self_service_portal.asset.details_page.owner', value: data.asset.companyBusinessUnit.name | default('self_service_portal.asset.details_page.undefined' | trans) },
                            { title: 'self_service_portal.asset.details_page.status', value: block('status') },
                            { title: 'self_service_portal.asset.details_page.name', value: data.asset.name },
                            { title: 'self_service_portal.asset.details_page.serial_number', value: data.asset.serialNumber | default('---') },
                        ],
                        note: data.asset.note,
                        assignments: data.asset.businessUnitAssignments,
                    },
                } only %}
            {% endblock %}

            {% block separator %}
                <hr class="box__separator">
            {% endblock %}

            {% block tables %}
                {% if data.asset.fileAttachmentCollection and data.asset.fileAttachmentCollection.fileAttachments.count and (can('ViewCompanyFilesPermissionPlugin') or can('ViewCompanyUserFilesPermissionPlugin') or can('ViewCompanyBusinessUnitFilesPermissionPlugin')) %}
                    {% widget 'SspFileListWidget' args [data.asset.fileAttachmentCollection, url('customer/ssp-file/list-file', {'ssp-asset-reference': data.asset.reference})] only %}{% endwidget %}
                {% endif %}
                {% if data.asset.sspInquiryCollection.sspInquiries.count and (can('ViewBusinessUnitSspInquiryPermissionPlugin') or can('ViewCompanySspInquiryPermissionPlugin')) %}
                    {% widget 'SspInquiryListWidget' args [data.asset.sspInquiryCollection, url('customer/ssp-inquiry', {'ssp-asset-reference': data.asset.reference})] only %}{% endwidget %}
                {% endif %}
                {% widget 'ServiceListWidget' args [data.asset.sspServiceCollection, url('customer/ssp-service/list', {'ssp-asset-reference': data.asset.reference})] only %}{% endwidget %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block status %}
    {% include molecule('status') with {
        data: {
            label: ('self_service_portal.asset.status.' ~ data.asset.status) | trans,
            status: data.asset.status,
        },
    } only %}
{% endblock %}
