<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Cart rule discounts' } %}

            {% block widget_content %}
                <table class="table">
                    <tbody>
                    {% for cartRuleDiscount in quote.cartRuleDiscounts %}
                        <tr>
                            <td class="col-sm-6">{{ cartRuleDiscount.displayName}} </td>
                            <td>{{ cartRuleDiscount.amount | money(true, offer.quote.currency.code) }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endblock %}
        {% endembed %}

    </div>
</div>
