<div class="spy-layout sparse">
    <h3>Comments</h3>

    <div class="compact notes"
            spy-app="spyGrid,spyForm"
            ng-controller="GridController"
            ng-strict-di
            name="comments_grid"
            on='{ form_success: "update" }'
            src="/sales/grid/comments?orderId={{ order_id }}"
            >
            <div class="notes-item" ng-repeat="row in rows">
                <div class="">{[{ row.created_at.date}]} by <strong>{[{ row.username }]}</strong></div>
                {[{ row.message }]}
            </div>

        <spy-form
                class="spy-layout sparse"
                src="/sales/comment/add?orderId={{ order_id }}"
                name="order_comment"
                channel="sales"
                model='{"fields":[{"name":"message","type":"field","refresh":false}],"state":"new"}'
                >

            <div spy-input-area="field.message" options="{ label: 'Add new comment', refresh: false }"></div>

            <button class="button button-accept">Add Comment</button>

        </spy-form>
    </div>

</div>
