<div class="spy-layout n3">
    <div class="spy-layout sparse">
        <h4>Customer Data</h4>
        <p>Customer ID: 123456789</p>
        <p>E-Mail: <a href="javascript:void(0)">example@spryker.com</a></p>
        <p>Phone: 123456798</p>
    </div>
    <div class="spy-layout sparse">
        <h4>Shipping Address</h4>
        <p>Max Mustermann</p>
        <p>Musterstraße 1</p>
        <p>10115 Berlin</p>
    </div>
    <div class="spy-layout sparse">
        <h4>Billing Address</h4>
        <p>Max Mustermann</p>
        <p>Musterstraße 1</p>
        <p>10115 Berlin</p>
    </div>

    <div class="" ng-controller="TemplateController"
            src="/sales/index/orderInfo"
            name="order_info"
            >
        <div>-template-</div>
    </div>

</div>
