<div class="row">
    <div class="col-md-4">
        {% include '@Gui/Partials/Table/header.twig' with { table_title: 'Customer Data' } %}

        <table class="footable table table-stripped toggle-arrow-tiny">
            <tr>
                <td>Customer ID:</td>
                <td>{{ orderDetails.fkCustomer }}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ orderDetails.email }}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{ orderDetails.firstName ~ ' ' ~ orderDetails.lastName }}</td>
            </tr>
        </table>

        {% include '@Gui/Partials/Table/footer.twig' %}
    </div>
</div>
