<div class="spy-layout sparse">
    <h3>Invoices</h3>
    <table class="spy-grid">
        <tr>
            <th>Type</th>
            <th>Id</th>
            <th>Created</th>
            <th>Sent to email</th>
            <th>Download PDF</th>
        </tr>
        {% for i in 1..5 %}
            <tr>
                <td>Invoice</td>
                <td>445454</td>
                <td>05.06.2015 14:45:12</td>
                <td>example@spryker.com <button class="button accept">Send</button></td>
                <td><button class="button primary">Download</button></td>
            </tr>
        {% endfor %}
    </table>
</div>
