<div class="spy-layout sparse">
    <h3>Order Items Overview</h3>
        <section
                class="spy-layout compact"
                spy-app="spyGrid,spyForm"
                ng-controller="GridController"
                ng-strict-di
                src="/sales/grid/orders?orderId={{ order_id }}"
                name="orders_grid"
                >
            <table class="spy-grid">
                <tr class="text-left">
                    {#<th>select</th>#}
                    <th>Item name</th>
                    <th>SKU</th>
                    {#<th>EAN</th>#}
                    <th>Unit Price</th>
                    <th>QTY</th>
                    <th>Total Price</th>
                </tr>

                <tr class="ng-scope" ng-repeat="row in rows">
                    {#<td><input type="checkbox" name="select[]"/></td>#}
                    <td>{[{ row.name }]}</td>
                    <td>{[{ row.sku }]}</td>
                    {#<td>{[{ row.ean }]}</td>#}
                    <td>{[{ row.gross_price }]} &euro;</td>
                    <td>{[{ row.qty }]}</td>
                    <td>{[{ row.gross_price * row.qty }]} &euro;</td>
                </tr>

                {#
                @todo add a new createCustomRowRenderer later, now this needs to be finished with less features
                <tr>
                    <td>Total</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>3</td>
                    <td>&euro; 9.99</td>
                </tr>
                #}
            </table>
        </section>
    {#<button class="button accept">Add Item</button>#}
    {#<button class="button cancel">Remove Item</button>#}
</div>
