<div class="spy-layout sparse">
    <h3>Payment Options</h3>
    <table class="spy-grid">
        <tr>
            <th>Type</th>
            <th>SKU</th>
            <th>Value</th>
            <th>Processed</th>
        </tr>
        {% for i in 1..4 %}
            <tr>
                <td>Bank Transfer</td>
                <td>13465798</td>
                <td>&euro; 49.99</td>
                <td>05.06.2015 13:00:23</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td>-</td>
            <td>-</td>
            <td>&euro; 300</td>
            <td>-</td>
        </tr>
    </table>
</div>
