<div class="spy-layout sparse">
    <h3>Shipping overview</h3>
    <table class="spy-grid">
        <tr>
            <th>Item</th>
            <th>SKU</th>
            <th>Shipping Method</th>
            <th>SKU</th>
            <th>Shipped</th>
            <th>Track Number</th>
        </tr>
        {% for i in 1..5 %}
            <tr>
                <td>Sample product</td>
                <td>LKF12312312</td>
                <td>DHL Express</td>
                <td>X999L</td>
                <td>12.06.2015 10:00:00</td>
                <td>16456216</td>
            </tr>
        {% endfor %}
    </table>
    <button class="button success">Add shipping information</button>
</div>
