@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@edit-abstract-product-padding: var(--spy-edit-abstract-product-padding, 30px);
@edit-abstract-product-header-padding: var(--spy-edit-abstract-product-header-padding, 15px 30px);
@edit-abstract-product-header-headline-padding-bottom: var(
    --spy-edit-abstract-product-header-headline-padding-bottom,
    0
);
@edit-abstract-product-title-margin-bottom: var(--spy-edit-abstract-product-title-margin-bottom, 7px);
@edit-abstract-product-common-blocks-indent: var(--spy-edit-abstract-product-common-blocks-indent, 7px);
@edit-abstract-product-common-padding-bottom: var(--spy-edit-abstract-product-common-padding-bottom, 30px);
@edit-abstract-product-sub-title-margin: var(--spy-edit-abstract-product-sub-title-margin, 0);
@edit-abstract-product-card-padding-bottom: var(--spy-edit-abstract-product-card-padding-bottom, 20px);
@edit-abstract-product-card-textarea-min-height: var(--spy-edit-abstract-product-card-textarea-min-height, 100px);
@edit-abstract-product-card-last-padding-bottom: var(--spy-edit-abstract-product-card-last-padding-bottom, 0);
@edit-abstract-product-table-padding-inside-card: var(
    --spy-edit-abstract-product-table-padding-inside-card,
    3px 5px 5px
);
@edit-abstract-product-empty-table-border-top: var(
    --spy-edit-abstract-product-empty-table-border-top,
    @border-width-base solid @gray-lighter
);
@edit-abstract-product-stores-field-max-width: var(--spy-edit-abstract-product-stores-field-max-width, 420px);
@edit-abstract-product-form-item-width: var(--spy-edit-abstract-product-form-item-width, 130px);
@edit-abstract-product-approval-status-margin-left: var(--spy-edit-abstract-product-approval-status-margin-left, 20px);
@edit-abstract-product-approval-status-button-margin-right: var(
    --spy-edit-abstract-product-approval-status-button-margin-right,
    8px
);

.@{ajax-form-prefix-cls}-container {
    overflow-y: auto;

    &--loading {
        overflow: hidden;
    }
}

.mp-edit-abstract-product {
    display: block;
    height: 100%;
    background: @gray-lighter;
    font: @font-default;
    letter-spacing: @letter-spacing-base;
    color: @ink;
    overflow-y: auto;

    &__header {
        background: @spy-white;
        padding: @edit-abstract-product-header-padding;

        .@{headline-prefix-cls} {
            padding-bottom: @edit-abstract-product-header-headline-padding-bottom;
        }

        .@{btn-prefix-cls} {
            vertical-align: top;
        }
    }

    &__title {
        color: @gray-darker;
        font-size: @spy-font-size-base;
        font-weight: @font-weight-medium;
        margin-bottom: @edit-abstract-product-title-margin-bottom;
        letter-spacing: @letter-spacing-base;
    }

    &__sub-title {
        display: flex;
        align-items: center;
        font-size: @spy-font-size-lg;
        font-weight: @font-weight-semi-bold;
        letter-spacing: @letter-spacing-base;
        margin: @edit-abstract-product-sub-title-margin;
    }

    &__approval-status {
        margin-left: @edit-abstract-product-approval-status-margin-left;

        &-button {
            margin-right: @edit-abstract-product-approval-status-button-margin-right;
        }
    }

    &__content {
        display: block;
        padding: @edit-abstract-product-padding;
    }

    &__card {
        display: block;
        padding-bottom: @edit-abstract-product-card-padding-bottom;

        &:last-child {
            padding-bottom: @edit-abstract-product-card-last-padding-bottom;
        }

        .@{table-prefix-cls},
        .@{table-filters-feature-prefix-cls} {
            background: @gray-lighter;
        }

        .@{table-prefix-cls} {
            padding: @edit-abstract-product-table-padding-inside-card;

            &-empty {
                border-top: @edit-abstract-product-empty-table-border-top;
            }
        }

        .@{textarea-prefix-cls}_textfield {
            min-height: @edit-abstract-product-card-textarea-min-height;
            height: auto !important;
        }
    }

    &__md-field {
        display: block;
        max-width: @edit-abstract-product-stores-field-max-width;
    }

    .@{table-editable-feature-prefix-cls}__cell .@{form-prefix-cls}-item {
        width: @edit-abstract-product-form-item-width;
    }
}
