parameters:
    level: 6
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Method .+AttributeReader::suggestUnusedKeys\(\) should return array but returns .+ObjectCollection\.#'
        - '#Method .+AttributeReader::suggestKeys\(\) should return array but returns .+ObjectCollection\.#'
