parameters:
    ignoreErrors:
    -
        message: '#Negated boolean expression is always false.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Shared/SearchElasticsearch/ElasticaClient/ElasticaClientFactory.php'
    -
        message: '#Negated boolean expression is always false.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Client/SearchElasticsearch/Config/SearchConfigBuilder.php'
    -
        message: '#Parameter \#2 \$callback of function array_filter expects callable\(mixed, mixed\): bool, .+ given.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Client/SearchElasticsearch/Plugin/QueryExpander/FacetQueryExpanderPlugin.php'
    -
        message: '#Call to an undefined method Elastica\\Index::getType\(\).#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Client/SearchElasticsearch/Reader/MappingTypeAwareDocumentReader.php'
    -
        message: '#Call to an undefined method Elastica\\Index::getType\(\).#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Client/SearchElasticsearch/Writer/MappingTypeAwareDocumentWriter.php'
    -
        message: '#Call to an undefined method Elastica\\Document::getType\(\).#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Client/SearchElasticsearch/Writer/MappingTypeAwareDocumentWriter.php'
    -
        message: '#Class Elastica\\Document constructor invoked with 4 parameters, 0-3 required.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Client/SearchElasticsearch/Writer/MappingTypeAwareDocumentWriter.php'
    -
        message: '#Call to an undefined method Elastica\\Index::getType\(\).#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Zed/SearchElasticsearch/Business/Installer/Index/Mapping/MappingTypeAwareMappingBuilder.php'
    -
        message: '#Call to method toArray\(\) on an unknown class Elastica\\Type\\Mapping.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Zed/SearchElasticsearch/Business/Installer/Index/Install/IndexInstaller.php'
    -
        message: '#Call to method send\(\) on an unknown class Elastica\\Type\\Mapping.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Zed/SearchElasticsearch/Business/Installer/Index/Update/IndexUpdater.php'
    -
        message: '#Return typehint of method Spryker\\Zed\\SearchElasticsearch\\Business\\Installer\\Index\\Mapping\\MappingBuilderInterface::buildMapping\(\) has invalid type Elastica\\Type\\Mapping.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Zed/SearchElasticsearch/Business/Installer/Index/Mapping/MappingBuilderInterface.php'
    -
        message: '#Return typehint of method Spryker\\Zed\\SearchElasticsearch\\Business\\Installer\\Index\\Mapping\\MappingTypeAwareMappingBuilder::buildMapping\(\) has invalid type Elastica\\Type\\Mapping.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Zed/SearchElasticsearch/Business/Installer/Index/Mapping/MappingTypeAwareMappingBuilder.php'
    -
        message: '#Instantiated class Elastica\\Type\\Mapping not found.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Zed/SearchElasticsearch/Business/Installer/Index/Mapping/MappingTypeAwareMappingBuilder.php'
    -
        message: '#Call to method setParam\(\) on an unknown class Elastica\\Type\\Mapping.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearch/src/Spryker/Zed/SearchElasticsearch/Business/Installer/Index/Mapping/MappingTypeAwareMappingBuilder.php'
