<div style="text-align: center;">
    {{ 'mail.auth.restore_password.text' | trans }}<br>
        <a href="{{ mail.resetPasswordLink }}">
            {{ 'mail.auth.restore_password.label' | trans }}
        </a>
</div>
