parameters:
    level: 7
    ignoreErrors:
        - '#Parameter \#1 \$idLocale of method .+LocaleTransfer::setIdLocale\(\) expects int\|null, string given.#'
        -
            identifier: missingType.iterableValue
