<spy-layer>

    <form
                class="spy-layout sparse"
                ng-controller="FormController"
                src="/category/form/category-node"
                channel="category-node"
                name="category-node-form"
                >

        <h3 ng-if="create">Create Node</h3>
        <h3 ng-if="!create">Edit Node</h3>

            <div spy-input-switch="field.is_root" options="{ label : 'Is Root' }"></div>
            <div spy-input-select="field.fk_category" options="{ label : 'Category Name' }"></div>
            <div ng-if="!field.is_root.value" spy-input-select="field.fk_parent_category_node" options="{ label : 'Parent Category Name' }"></div>

            <button ng-if="create"
                    class="button default"
                    type="submit"
                    ng-disabled="query"
                    ng-click="update()">
                Create
            </button>

            <div ng-if="!create">
                <button class="button default" type="submit" ng-disabled="query" ng-click="update()">Update</button>
                <button class="button cancel" type="button" ng-disabled="query" ng-click="abort()">Cancel</button>
            </div>

        </form>

</spy-layer>