{% extends '@ZedUi/Layout/merchant-layout-centered.twig' %}
{% import _self as view %}

{% block headSubTitle -%}
    Dummy Merchant Portal Gui
{%- endblock %}

{% block content %}
    <web-mp-dummy-layout cloak>
        {% block title %}
            <span title>Title on the Core Level</span>
        {% endblock %}

        {% block card %}
            <web-mp-dummy-card>
                {% block cardTitle %}
                    <span title>Card Title on the Core Level</span>
                {% endblock %}

                {% block cardContent %}
                    Card Content on the Core Level

                    {% block button %}
                        <web-spy-button>
                            {% block buttontText %}
                                Dummy Ui Lib Buutton
                            {% endblock %}
                        </web-spy-button>
                    {% endblock %}
                {% endblock %}
            </web-mp-dummy-card>
        {% endblock %}
    </web-mp-dummy-layout>
{% endblock %}

{% block footerJs %}
    {{ view.importJsBundle('dummy-merchant-portal-gui', importConfig) }}
    {{ parent() }}
{% endblock %}
