{%- from 'settings/init.sls' import settings with context -%}
<?xml version='1.0' encoding='utf-8'?>
<Server port="3{{ settings.environments[environment].tomcat.port_suffix }}" shutdown="SHUTDOWN">
  <!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
  <Listener className="org.apache.catalina.core.JasperListener" />
  <!-- Prevent memory leaks due to use of particular java/javax APIs-->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <!-- JMX Support for the Tomcat server. Documentation at /docs/non-existent.html ;) -->
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">
    <Executor name="tomcatThreadPool" namePrefix="catalina-exec-"
        maxThreads="150" minSpareThreads="4"/>

    <!-- HTTP connector -->
    <Connector
        port="1{{ settings.environments[environment].tomcat.port_suffix }}"
        protocol="HTTP/1.1"
        connectionTimeout="20000"
        redirectPort="8443"
        maxThreads="500"
        minSpareThreads="100"
        maxSpareThreads="250"
        URIEncoding="UTF-8"/>

    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>
      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true"
            xmlValidation="false" xmlNamespaceAware="false">
      </Host>

{%- if 'dwh_saiku' in grains.roles %}
      <!-- Datawarehouse - Saiku VHosts -->
{%- for store, store_details in settings.environments[environment].stores.items() %}
      <Host
        name="{{ store_details.dwh.saiku_hostname }}" unpackWARs="false" autoDeploy="true">
          <Context
            path=""
            docBase="/data/shop/{{ environment }}/current/vendor/project-a/dwh-package/src/ProjectA/Zed/Dwh/File/cubes.war"
            crossContext="true"
            swallowOutput="true"
            reloadable="false">
              <Parameter name="cubes.config" value="/data/shop/{{ environment }}/shared/cubes_{{store}}.properties" override="false"/>
          </Context>
      </Host>
{%- endfor %}
      <!-- /Datawarehouse -->
{%- endif %}
    </Engine>
  </Service>
</Server>
