<button
    data-toggle="modal"
    data-target="#save-progress"
    data-bs-toggle="modal"
    data-bs-target="#save-progress"
    type="button"
    class="btn btn-primary js-guard-submit"
    disabled
>
    {{ 'Save' | trans }}
</button>

{% embed '@Gui/Modal/confirmation-modal-window.twig' with {
    id: 'save-progress',
    message: 'Please confirm saving the selected entities.',
    confirmTitle: 'Save Progress?',
    formPart: formPart,
} %}
    {% block modal %}
        {% set footer %}
            <button
                type="button"
                class="btn btn-outline"
                data-dismiss="modal"
                data-bs-dismiss="modal"
            >
                {{ 'Cancel' | trans }}
            </button>

            {{ form_widget(formPart.save) }}
        {% endset %}

        {{ parent() }}
    {% endblock %}
{% endembed %}
