parameters:
    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Call to an undefined method .+SpyMerchantStock::getStockName\(\).#'
        - '#Call to an undefined method .+ModelCriteria::findByFkMerchant\(\).#'
