parameters:
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#If condition is always true.#'
        - '#SimpleXMLElement.+does not accept string.#'
