parameters:
    ignoreErrors:
    - '#Method .+StateMachineQueryContainer::query.+\(\) should return .+Spy.+Query but returns Propel\\Runtime\\ActiveQuery\\ModelCriteria.#'
    - '#If condition is always true.#'
