{# @var orderItem \Generated\Shared\Transfer\ItemTransfer #}
{% if orderItem.metadata.scheduledAt %}
    <div class="variant-details">
        <h3>{{ "Scheduled At:" | trans }}</h3>
        {{ orderItem.metadata.scheduledAt | date }}
    </div>
{% endif %}
