%reset-marginborderpadding {
	margin:0;
	border:none;
	padding:0;
}

%reset-list {
	display:block;
	list-style:none;
	margin:0;
	padding:0;
}

%reset-text {
	color:inherit;
	@include text(inherit, inherit, inherit);
}

%reset-input {
	@include font(inherit, inherit, inherit, inherit, inherit, inherit);
}

%reset-link {
	color:inherit;
	text-decoration:inherit;
}