{% extends '@Application/Layout/layout.twig' %}
{% block content %}
    <ul>
        {% for glossaryKey in glossaryKeys %}
            <li>{{ glossaryKey }}</li>
        {% endfor %}
    </ul>
{% endblock %}
