parameters:
    ignoreErrors:
        - '#Parameter \#1 \$v of method .+SpyOmsOrderItemStateHistory::setOrderItem\(\) expects .+SpySalesOrderItem|null, \$this\(Spryker\\Zed\\Sales\\Persistence\\Propel\\AbstractSpySalesOrderItem\) given#'
        - '#Call to an undefined static method Orm\\Zed\\Sales\\Persistence\\Base\\SpySalesOrder::getFkCustomer\(\)\.#'
        - '#Call to an undefined static method Orm\\Zed\\Sales\\Persistence\\Base\\SpySalesOrderQuery::filterByFkCustomer\(\)\.#'
        - '#Call to an undefined static method Orm\\Zed\\Sales\\Persistence\\Base\\SpySalesOrder::getCustomer\(\)\.#'
        - '#Call to an undefined static method Orm\\Zed\\Sales\\Persistence\\Base\\SpySalesOrder::setCustomer\(\)\.#'
        - '#Call to an undefined method Propel\\Runtime\\ActiveQuery\\ModelCriteria::#'
        - '#Method .+AbstractSpySalesOrderQuery::filter.+\(\) should return \$this\(.+\) but returns .+SpySalesOrderQuery#'
