{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Search overview' %}

{% block head_title widget_title | trans %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            <div class="row">
                <div class="col-md-12">
                    <dl class="row">
                        <dt class="col-xs-3">{{ "Number of entries:" | trans }}</dt>
                        <dd class="col-xs-9"><a href="/search/maintenance/list">{{ totalCount }}</a></dd>
                        {% for key, timestamp in metaData %}
                            <dt class="col-xs-3">{{ key }}</dt>
                            <dd class="col-xs-9">{{ timestamp }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
