{% extends '@Application/Layout/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block action %}
    {{ viewActionButton('/search/maintenance', 'All Keys' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Search Key' } %}
        {% block widget_content %}
            {% if isInSearchLegacyMode %}
                <h1>{{ key }}</h1>
                <pre>{{ value }}</pre>
            {% else %}
                {% include '@Search/_partials/mode-warning-message.twig' %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
