<div class="ibox-content">
    <form method="GET" data-component="store-switch">
        {% include '@AvailabilityGui/_partials/store_switcher.twig' %}
        {% include '@MerchantGui/_partials/merchant_switcher.twig' ignore missing %}
    </form>
</div>
