<div spy-input-text="{type:'string',value:'',accepts:[],messages:[]}" options="{label:'Text'}"></div>
<div spy-input-text="{type:'string',value:'Do not touch!',accepts:[],messages:[]}" options="{label:'Disabled Text',disabled:true,optional:'optional'}"></div>
<div spy-input-text="{type:'string',value:'',accepts:[],messages:['You pressed an invalid key']}" options="{label:'Text with errors',optional:'optional'}"></div>

<div spy-input-password="{type:'string',value:'',accepts:[],messages:[]}" options="{label:'Password'}"></div>
<div spy-input-password="{type:'string',value:'The same as my suitcase',accepts:[],messages:[]}" options="{label:'Disabled Password',disabled:true,optional:'optional'}"></div>
<div spy-input-password="{type:'string',value:'',accepts:[],messages:['Eyes only']}" options="{label:'Password with errors',optional:'optional'}"></div>

<div spy-input-text-select="{type:'string',value:'',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'},{value:'what',label:'What'},{value:'why',label:'Why'},{value:'when',label:'When'}, {value:'who',label:'Who'},{value:'which',label:'Which'},{value:'when',label:'When'},{value:'whatever',label:'Whatever'}],messages:[]}" options="{label:'TextSelect'}"></div>
<div spy-input-text-select="{type:'string',value:'foo',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:[]}" options="{label:'Disabled TextSelect',disabled:true,optional:'optional'}"></div>
<div spy-input-text-select="{type:'string',value:'',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:['Bad dog!']}" options="{label:'TextSelect with errors',optional:'optional'}"></div>

<div spy-input-area="{type:'string',value:'',accepts:[],messages:[]}" options="{label:'Area'}"></div>
<div spy-input-area="{type:'string',value:'You wouldn\'t know',accepts:[],messages:[]}" options="{label:'Disabled Area',disabled:true,optional:'optional'}"></div>
<div spy-input-area="{type:'string',value:'',accepts:[],messages:['Not enough']}" options="{label:'Area',optional:'optional'}"></div>

<div spy-input-edit="{type:'string',value:'',accepts:[],messages:[]}" options="{label:'Editor'}"></div>

<div spy-input-select="{type:'string',value:'bar',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'},{value:'what',label:'What'},{value:'why',label:'Why'},{value:'when',label:'When'}, {value:'who',label:'Who'}],messages:[]}" options="{label:'Select'}"></div>
<div spy-input-select="{type:'string',value:'baz',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:[]}" options="{label:'Disabled Select',disabled:true,optional:'optional'}"></div>
<div spy-input-select="{type:'string',value:'',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:['Select one']}" options="{label:'Select',optional:'optional',empty:'Please select'}"></div>

<div spy-input-radio="{type:'string',value:'foo',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:['One, Two, Three']}" options="{label:'Radio',optional:'optional'}"></div>
<div spy-input-radio="{type:'string',value:'foo',accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:[]}" options="{label:'Disabled Radio',disabled:true,optional:'optional'}"></div>

<div spy-input-check="{type:'string',value:['foo','bar'],accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:['This cannot go wrong']}" options="{label:'Checkbox',optional:'optional'}"></div>
<div spy-input-check="{type:'string',value:['foo','bar'],accepts:[{value:'foo',label:'Foo'},{value:'bar',label:'Bar'},{value:'baz',label:'Baz'}],messages:[]}" options="{label:'Disabled Checkbox',disabled:true,optional:'optional'}"></div>

<div spy-input-integer="{type:'integer',value:'',accepts:[],messages:[]}" options="{label:'Integer'}"></div>
<div spy-input-integer="{type:'integer',value:65535,accepts:[],messages:[]}" options="{label:'Disabled Integer',disabled:true,optional:'optional'}"></div>
<div spy-input-integer="{type:'integer',value:'',accepts:[],messages:['Digits only please']}" options="{ label : 'Integer with errors', optional : 'optional' }"></div>

<div spy-input-switch="{type:'bool',value:'',accepts:[],messages:[]}" options="{label:'Switch'}"></div>
<div spy-input-switch="{type:'bool',value:'',accepts:[],messages:[]}" options="{label:'Disabled Switch',disabled:true,optional:'optional'}"></div>
<div spy-input-switch="{type:'bool',value:'',accepts:[],messages:['How did this happen?']}" options="{label:'Switch',optional:'optional'}"></div>