<h5>Unordered List</h5>

<ul>
    <li>Etsy vero proident</li>
    <li>Thundercats gluten-free Wes Anderson squid, whatever fanny pack occupy aesthetic small batch Pitchfork flexitarian irony pickled typewriter</li>
    <li>Vegan raw denim VHS try-hard

        <ul>
            <li>Fap before they sold out</li>
            <li>Banksy mixtape</li>
            <li>Brooklyn High Life</li>
        </ul>
    </li>

    <li>Leggings church-key keytar

        <ol>
            <li>Master cleanse raw denim</li>
            <li>Twee McSweeney's disrupt</li>
            <li>Organic slow-carb kogi</li>
        </ol>
    </li>
</ul>

<h5>Ordered List</h5>

<ol>
    <li>Etsy vero proident</li>
    <li>Thundercats gluten-free Wes Anderson squid, whatever fanny pack occupy aesthetic small batch Pitchfork flexitarian irony pickled typewriter</li>
    <li>Vegan raw denim VHS try-hard

        <ol>
            <li>Fap before they sold out</li>
            <li>Banksy mixtape</li>
            <li>Brooklyn High Life</li>
        </ol>
    </li>

    <li>Leggings church-key keytar

        <ul>
            <li>Master cleanse raw denim</li>
            <li>Twee McSweeney's disrupt</li>
            <li>Organic slow-carb kogi</li>
        </ul>
    </li>
</ol>

<h5>Definition List</h5>

<dl>
    <dt>Selfies</dt>
    <dd>Fap before they sold out dreamcatcher fanny pack, hoodie McSweeney's viral literally esse heirloom typewriter dolore.</dd>
    <dd>Wes Anderson chambray vegan beard yr. Disrupt Banksy deep v Blue Bottle.</dd>
    <dt>Godard</dt>
    <dd>Neutra Williamsburg Echo Park DIY gentrify pork belly occupy salvia twee nulla.</dd>
</dl>