<h4>Buttons</h4>

<pre><code class="html">&lt;any class=&quot;spy-layout buttons&quot;&gt;
    &lt;any class=&quot;button&quot;&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button generic&quot;&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button default&quot;&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button accept&quot;&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button abort&quot;&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button cancel&quot;&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button warning&quot;&gt;&hellip;&lt;/any&gt;
        &hellip;
&lt;/any&gt;

&lt;any class=&quot;spy-layout buttons&quot;&gt;
    &lt;any class=&quot;button&quot; disabled&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button generic&quot disabled&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button default&quot; disabled&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button accept&quot; disabled&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button abort&quot; disabled&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button cancel&quot; disabled&gt;&hellip;&lt;/any&gt;
    &lt;any class=&quot;button warning&quot; disabled&gt;&hellip;&lt;/any&gt;
        &hellip;
&lt;/any&gt;</code></pre>