<h4>Form Fields</h4>

<pre><code class="html">&lt;any
    spy-input-text=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any&gt;

&lt;any
    spy-input-password=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any&gt;

&lt;any
    spy-input-text-select=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any&gt;

&lt;any
    spy-input-area=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any&gt;

&lt;any
    spy-input-edit=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any&gt;

&lt;any
    spy-input-select=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&lt;/any&gt;

&lt;any
    spy-input-radio=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any&gt;

&lt;any
    spy-input-check=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&lt;/any&gt;

&lt;any
    spy-input-radio=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any/&gt;

&lt;any
    spy-input-switch=&quot;&lt;field model&gt;&quot;
    options=&quot;{}&quot;
&gt;&lt;/any&gt;</code></pre>
