<h4>Lists</h4>

<pre><code class="html">&lt;ul&gt;
    &lt;li&gt;&hellip;&lt;/li&gt;
    &lt;li&gt;&hellip;&lt;/li&gt;
    &lt;li&gt;&hellip;
        &lt;ul&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
        &lt;/ul&gt;
        &lt;ol&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
        &lt;/ol&gt;
    &lt;/li&gt;
&lt;/ul&gt;

&lt;ol&gt;
    &lt;li&gt;&hellip;&lt;/li&gt;
    &lt;li&gt;&hellip;&lt;/li&gt;
    &lt;li&gt;&hellip;
        &lt;ol&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
        &lt;/ol&gt;
        &lt;ul&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
            &lt;li&gt;&hellip;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/li&gt;
&lt;/ol&gt;

&lt;dl&gt;
    &lt;dt&gt;&hellip;&lt;/dt&gt;
    &lt;dd&gt;&hellip;&lt;/dd&gt;
    &lt;dd&gt;&hellip;&lt;/dd&gt;
    &lt;dt&gt;&hellip;&lt;/dt&gt;
    &lt;dd&gt;&hellip;&lt;/dd&gt;
&lt;/dl&gt;</code></pre>