@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@create-multi-concrete-product-padding: var(--spy-create-multi-concrete-product-padding, 30px);
@create-multi-concrete-product-actions-margin: var(--spy-create-multi-concrete-product-actions-margin, 0 -5px);
@create-multi-concrete-product-action-padding: var(--spy-create-multi-concrete-product-action-padding, 0 5px);
@create-multi-concrete-product-content-border-radius: var(
    --spy-create-multi-concrete-product-content-border-radius,
    @border-radius-base
);
@create-multi-concrete-product-preview-title-margin: var(
    --spy-create-multi-concrete-product-preview-title-margin,
    30px 0 15px
);
@create-multi-concrete-product-header-padding: var(--spy-create-multi-concrete-product-header-padding, 17px 30px);
@create-multi-concrete-product-header-title-line-height: var(
    --spy-create-multi-concrete-product-header-title-line-height,
    2
);
@create-multi-concrete-product-header-sub-title-letter-spacing-base: var(
    --spy-create-multi-concrete-product-header-sub-title-letter-spacing-base,
    0.11px
);

.@{ajax-form-prefix-cls}-container {
    overflow-y: auto;

    &--loading {
        overflow: hidden;
    }
}

.mp-create-multi-concrete-product {
    display: block;
    height: 100%;
    background-color: @gray-lighter;
    font: @font-default;
    letter-spacing: @letter-spacing-base;
    color: @ink;
    overflow-y: auto;

    &__header {
        background-color: @spy-white;
        padding: @create-multi-concrete-product-header-padding;

        .@{headline-prefix-cls} {
            padding-bottom: 0;
        }
    }

    &__title {
        color: @gray-darker;
        font-size: @spy-font-size-base;
        font-weight: @font-weight-medium;
        letter-spacing: @letter-spacing-base;
        line-height: @create-multi-concrete-product-header-title-line-height;
    }

    &__sub-title {
        font-weight: @font-weight-semi-bold;
        letter-spacing: @create-multi-concrete-product-header-sub-title-letter-spacing-base;
        margin: 0;
    }

    &__actions-row {
        margin: @create-multi-concrete-product-actions-margin;
    }

    &__action {
        padding: @create-multi-concrete-product-action-padding;
    }

    &__content {
        display: block;
        padding: @create-multi-concrete-product-padding;
    }

    &__content-inner {
        padding: @create-multi-concrete-product-padding;
        border-radius: @create-multi-concrete-product-content-border-radius;
        background-color: @spy-white;
    }

    &__preview-title {
        margin: @create-multi-concrete-product-preview-title-margin;
    }
}
