<div class="spy-col spy-col-6 spy-col-gutter-lg">
    <web-mp-dashboard-stats>
        <span title>{{ 'Merchant Relations' | trans }}</span>

        <div class="spy-row spy-row-gutter-sm spy-row-align-row-space-between">
            <div class="spy-col spy-col-gutter-sm">
                <web-mp-dashboard-stats-block
                    name="{{ 'Total' | trans }}"
                    count="{{ totalMerchantRelationshipCount }}"
                ></web-mp-dashboard-stats-block>
            </div>
        </div>
    </web-mp-dashboard-stats>
</div>
