parameters:
    level: 8
    ignoreErrors:
        - '#Method Spryker\\Zed\\Store\\Communication\\Plugin\\MessageBroker\\StoreReferenceMessageValidatorPlugin::isValid\(\) should return bool but returns bool\|null.#'
