.form-group {
    &--flex {
        display: flex;
    }

    &--end {
        justify-content: flex-end;
    }
}

.input-dropzone {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__area {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 2px dashed $green-default;
        height: 140px;
        padding: 10px;
        transition: border-color 0.5s ease;
        border-radius: 8px;
        gap: 10px;

        &:hover {
            border-color: $green-base;
        }
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    &__description {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
    }

    &__files {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 10px;

        &:empty {
            display: none;
        }
    }

    &__file {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        position: relative;
        background: $grey-light2;
        color: $ink-base;
        border-radius: 12px;
        padding: 0 30px 2px 8px;
        line-height: 22px;
    }

    &__file-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 24px;
        background: $grey;
        color: $white;
        border-radius: 0 10px 10px 0;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
}
