.modal-popover {
    padding: 0;
    border: none;
    opacity: 0;
    transition: all 0.3s allow-discrete;

    .modal {
        display: block;
    }

    &:popover-open {
        opacity: 1;

        @starting-style {
            opacity: 0;
        }

        &::backdrop {
            opacity: 0.5;

            @starting-style {
                opacity: 0;
            }
        }
    }

    &::backdrop {
        opacity: 0;
        background-color: $black;
        transition: all 0.3s allow-discrete;
    }

    &:has(.modal-backdrop):popover-open::backdrop {
        opacity: 0;
    }

    .modal-backdrop {
        opacity: 0.5;
        cursor: auto;
    }
}

body:has(.modal-popover:popover-open) {
    overflow: hidden;

    * {
        pointer-events: none;
    }

    .modal-popover,
    .modal-popover * {
        pointer-events: auto;
    }
}
