parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#1 \$id of method .+PriceProductOfferToTranslatorFacadeInterface::trans\(\) expects string, object\|string given.#'
