{% if productAlternatives is not empty %}
    <table class="table table-bordered table-striped table-sm">

        <tr>
            {% filter trans|raw %}
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>SKU</th>
                <th>Categories</th>
                <th>Status</th>
                <th>Actions</th>
            {% endfilter %}
        </tr>

        {% for productAlternative in productAlternatives %}
            <tr>
                {% include '@ProductAlternativeGui/ProductAlternative/blocks/product-alternatives-table-single-item.twig' %}
            </tr>
        {% endfor %}

    </table>
{% endif %}
