{% set productAlternativesIsEmptyMessage = 'Alternative products are not defined for this concrete product.' %}

{% if productAlternatives is not empty %}
    <table class="table table-bordered table-striped table-sm">

        <tr>
            {% include '@ProductAlternativeGui/ProductAlternative/blocks/product-alternatives-table-headers.twig' %}
        </tr>
        {% for productAlternative in productAlternatives %}
            <tr>
                {% include '@ProductAlternativeGui/ProductAlternative/blocks/product-alternatives-table-item-single.twig' %}
            </tr>
        {% endfor %}

    </table>
{% endif %}
