<span>{{ priceToPay | money(true, reclamation.order.currencyIsoCode) }}</span>
{% if (subtotal - priceToPay > 0) > 0 %}
    {% set discountedClass = (subtotal - priceToPay > 0) ? 'discounted' %}

    <span class="{{ discountedClass }}">{{ subtotal | money(true, reclamation.order.currencyIsoCode) }}</span>
{% endif %}
