code {
	//	@extend %layout-container-default;

	display: block;
	margin: $_ySpacing 0;
	border: 1px dotted $_rgbSpyBostonBlue;
	background: $_rgbSpyAthens;
	padding: 20px;
	@include font(14px, 12px, $_rgbSpyBostonBlue);

	span {
		display: block;
		margin: 14px 0;

		&.title {

		}

		&.path {
			margin-bottom:28px;
		}

		&.url-query {
			white-space:pre-wrap;
			margin-bottom:28px;
		}

		&.html {
			white-space:pre-wrap;
			margin-bottom:28px;
		}

		&.json {
			white-space:pre-wrap;
			margin-bottom:28px;
		}
	}
}