{% extends "bootstrap_3_layout.html.twig" %}

 {% block form_label %}
    {% set trim_asterisk = trim_asterisk is defined ? trim_asterisk : true %}
    {% set label_length = label | length %}

    {% if trim_asterisk and required and label and label_length > 0 %}
        {% set label = (label | trim | last == '*') ? label[:label_length - 1] : label %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent is not null %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message | trans }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent is not null %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}
