parameters:
    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Method .+AvailabilityStorageQueryContainer::query.+\(\) should return .+SpyAvailabilityAbstractQuery but returns Propel\\Runtime\\ActiveQuery\\ModelCriteria.#'
