parameters:
    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Method .+AvailabilityStorageQueryContainer::query.+\(\) should return .+SpyAvailabilityAbstractQuery but returns Propel\\Runtime\\ActiveQuery\\ModelCriteria.#'
        - '#Parameter \#1 \$reference of method .+SynchronizationDataTransfer::setReference\(\) expects string|null, int given.#'
