{% set countItemsPrintedSoFar = 0 %}
{% for group in groups %}
    {% if (group.isBundle) %}
        <tbody class="product-bundle">
        <tr>
            <td colspan="7">
                {{ group.bundleItem.name }} ({{ 'Sku' | trans }}: {{ group.bundleItem.sku }})
            </td>
        </tr>
        {% embed '@OfferGui/Offer/boxes/bundle-group.twig' with {items: group.groupItems, image: group.groupImage, rowCount: group.rowCount, bundleItem: group.bundleItem} %}{% endembed %}
        </tbody>
    {% else %}
        <tbody class="single-item">
        {% embed '@OfferGui/Offer/boxes/single-item.twig' with {item: group.groupItems | first} %}{% endembed %}
        </tbody>
    {% endif %}
    {% set countItemsPrintedSoFar = countItemsPrintedSoFar + 1 %}
    {% if countItemsPrintedSoFar in [15, 36, 60, 84] %}
        </table>
        <div class="page-break">&nbsp;</div>
        {% if groups | length > countItemsPrintedSoFar %}
            {% include '@OfferGui/Offer/boxes/item-table-head.twig' %}
        {% endif %}
    {% endif %}
{% endfor %}
