
{% for productOption in orderItem.productOptions %}
    <tr class="addition-row">
        <td></td>
        <td>+ <span class="label">{{ 'Option' | trans }}</span></td>
        <td>
            <div>
                {{ productOption.value }}
            </div>
            <div class="sku">
              {{ 'Sku' | trans }}: {{ productOption.sku }}
            </div>
        </td>
        <td>
            <div>[Purchase Price]</div>
        </td>
        <td>
            <div>[Customer Price]</div>
        </td>
        <td>
            <div>[Discount]</div>
        </td>
        <td>
            <div>[Quantity]</div>
        </td>
        <td>
            <div>[Fee]</div>
        </td>
        <td>
            <div>[Final Product Price]</div>
        </td>
        <td>
            <div>[Total]</div>
        </td>
        <td colspan="4"></td>
    </tr>
{% endfor %}
