parameters:
    level: 8
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Instantiated class .+UsernameNotFoundException not found.#'
        - '#PHPDoc tag @throws with type .+UsernameNotFoundException\|.+UserNotFoundException is not subtype of Throwable#'
        - '#Parameter \#1 \$passport of method .+LoginFormAuthenticator::createToken\(\) expects .+Passport, .+PassportInterface given.#'
        - '#Call to an undefined method .+AuthenticationSuccessHandlerInterface::executeOnAuthenticationSuccess\(\).#'
        -
            identifier: missingType.iterableValue
