{% extends '@Gui/Layout/layout.twig' %}

{% block head_title 'Add a customer' | trans %}
{% block section_title 'Add a customer' | trans %}

{% block content %}

    <p>
        <a href="/customer/" class="btn btn-primary">{{ 'Back to Customers' | trans }}</a>
    </p>

    {{ form(form) }}

{% endblock %}
