{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Add a customer' %}

{% block head_title widget_title | trans %}
{% block section_title widget_title | trans %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_header_content %}
            <a href="/customer/" class="btn btn-sm btn-default">{{ 'Back to Customers' | trans }}</a>
        {% endblock %}

        {% block widget_content %}

            {{ form(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
