{% extends template('widget') %}

{% define data = {
    orderItem: _widget.orderItem,
    isVisible: _widget.isVisible
} %}

{% block body %}
    {% if data.isVisible %}
        <a href="{{ path('ssp/service/update-service-time', {
            'item-uuid': data.orderItem.uuid,
            'id-sales-order': data.orderItem.fkSalesOrder
        }) }}" class="button button--hollow" data-qa="reschedule-button">
            {{ 'self_service_portal.service.update_scheduled_time' | trans }}
        </a>
    {% endif %}
{% endblock %}
