@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@layout-footer-padding: var(--spy-layout-footer-padding, 20px);

.mp-layout-footer {
    &__content {
        text-align: center;
        padding: @layout-footer-padding;
        font: @font-default;
        color: @gray-darker;
        background: none;
        border: none;
        position: static;
    }
}
