parameters:
    level: 8
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Spryker\\Zed\\DataImport\\Business\\Model\\DataSet\\DataSetStepBrokerAwareInterface::[a-zA-Z]*\(\)#'
        - '#Spryker\\Zed\\DataImport\\Business\\Model\\DataSet\\DataSetStepBrokerInterface::addStep\(\)#'
