{% extends '@Application/Layout/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block content %}
<section ng-controller="ComController" spy-app="spyFormat, spyGrid, spyForm, spyLayout">

    {% include "@Acl/Users/grid.twig" %}

</section>
{% endblock %}
