@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@edit-abstract-product-variants-table-padding: 2px 5px;

.mp-edit-abstract-product-variants {
    .@{table-filters-feature-prefix-cls} {
        background-color: @gray-lighter;
    }

    .@{table-prefix-cls} {
        background-color: @gray-lighter;
        padding: @edit-abstract-product-variants-table-padding;
    }
}
