parameters:
    ignoreErrors:
    - '#Call to an undefined method .+Criteria::.+\(\).#'
    - '#Method .+PriceProductMerchantRelationshipStorageRepository::queryPriceProductStoreByCompanyBusinessUnitProducts\(\) should return Orm\\Zed\\PriceProduct\\Persistence\\SpyPriceProductStoreQuery but returns Propel\\Runtime\\ActiveQuery\\Criteria#'
