parameters:
    ignoreErrors:
    - '#Method Spryker\\Zed\\Kernel\\Persistence\\AbstractEntityManager::save().+invoked with 0 parameters, 1 required.#'
    - '#Call to an undefined method.+Orm\\Zed\\Company\\Persistence\\.+useMerchantRelationshipQuery()#'
