@import '../sprite/scss/sprite.scss';



body.spy-login {
	@include rel(null, null, 100vh);
	margin:0;
	background:$_rgbSpyEbonyClay;
	@include font(21px, 15px, $_rgbSpyAthens, $_ffCopy, $_ffCutReg);

	main {
		@include abs(null, 50%, 50%, 350px);
		@include pre(transform, translate(-50%, -50%));

		h1 {
			@include rel(null, 0, 156px);
			overflow:hidden;
			margin:0 0 7px;
			padding:0 0 0 100%;

			&:after {
				@extend %svg-spryker;
				@extend %svg-spryker-size;

				content:'';
				@include abs(null, 50%, 0);
				@include pre(transform, translate(-50%, 0));
			}
		}

		h2 {
			@include rel(null, 0, 11px);
			overflow:hidden;
			margin:7px 0 100px;
			padding:0 0 0 100%;

			&:after {
				@extend %svg-commerce;
				@extend %svg-commerce-size;

				content:'';
				@include abs(null, 50%, 0);
				@include pre(transform, translate(-50%, 0));
			}
		}
	}

	div.field {
		position:relative;

		label {
			display:none;
		}

		input {
			@extend %reset-input;

			@include h(border-box, top, 350px);
			margin:0 0 50px;
			border-width:1px;
			border-style:none none solid;
			border-color:$_rgbSpyRiverBed;
			background:transparent;
			padding:8px 16px 8px 32px;
			@include pre(transition, border-color $_tFast ease-in);

			&:hover,
			&:focus {
				border-color:$_rgbWhite;
				@include pre(transition-timing-function, ease-out);
			}

			&:-webkit-autofill {	//Chrome login highlighting
				-webkit-filter:unquote('invert()');
				-webkit-box-shadow:0 0 0 20px invert($_rgbSpyEbonyClay) inset;
				border-color:invert($_rgbSpyEbonyClay);
				color:invert($_rgbSpyRiverBed);
			}
		}

		div.messages {
			@include abs(null, 0, null, null, null, null, 47px);
			@include pre(transform, translate(0, 100%));

			&.ng-enter {
				bottom:27px;
				opacity:0.0;
				@include pre(transition-property       , (bottom, opacity));
				@include pre(transition-duration       , $_tFast);
				@include pre(transition-timing-function, ease-out);
			}

			&.ng-enter-active {
				bottom:47px;
				opacity:1.0;
			}

			&.ng-leave {
				bottom:47px;
				opacity:1.0;
				@include pre(transition-property       , (bottom, opacity));
				@include pre(transition-duration       , $_tFast);
				@include pre(transition-timing-function, ease-in);
			}

			&.ng-leave-active {
				bottom:27px;
				opacity:0.0;
			}
		}

		&.text {
			&:before {
				@extend %svg-mail;
				@extend %svg-mail-size;

				content:'';
				@include abs(null, 0, 9px);
			}
		}

		&.password {
			&:before {
				@extend %svg-padlock;
				@extend %svg-padlock-size;

				content:'';
				@include abs(null, 0, 9px);
			}

			input {
				padding-right:80px;

			}
		}
	}

	div.pw {
		position:relative;

		a.button {
			@extend %reset-link;

			@include abs(null, null, 5px, null, null, 0);
			@include pre(border-radius, 4px);
			border:1px solid $_rgbSpyRiverBed;
			background:transparent;
			padding:2px 8px;
			color:$_rgbSpyRiverBed;
			@include pre(transition-property, (border-color, color));
			@include pre(transition-duration, $_tFast);
			@include pre(transition-timing-function, ease-out);

			&:hover,
			&:focus {
				border-color:$_rgbSpyAthens;
				color:$_rgbSpyAthens;
				@include pre(transition-timing-function, ease-in);
			}
		}
	}

	div.spy-layout.buttons {
		text-align:center;

		button.button {
			@extend %shared-button;
			@extend %shared-button-default;

			@include wh(block, border-box, 350px, 36px);

			&:hover,
			&:focus {
				@extend %shared-button-default-hover;
			}

			&:disabled,
			&.disabled {
				@extend %shared-button-default-disabled;
			}
		}
	}
}