parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php

    ignoreErrors:
        - '#Call to method .+ on an unknown class .+DialogHelper.#'
        - '#Call to an undefined method .+ActiveRecordInterface::save\(\)#'
        - '#Access to an undefined static property .+EntityTransferInterface::\$entityNamespace.#'
        - '#Call to an undefined method .+ActiveRecordInterface::toArray\(\).#'
        - '#Call to an undefined method .+AbstractSharedConfig::isLocatorInstanceCacheEnabled\(\).#'
        - '#Access to undefined constant .+ActiveRecordInterface::TABLE_MAP.#'
        - '#Method .+Abstract.+::resolveBundleConfig\(\) should return .+AbstractBundleConfig but returns Spryker\\Shared\\Kernel\\AbstractBundleConfig#'
        - '#Call to function method\_exists\(\) with string and .+ will always evaluate to false\.#'
        - '#Parameter \#1 $var of function count expects array|Countable, object given#'
        - '#Parameter \#2 $default of method .+Console::ask\(\) expects string|null, bool given#'

services:
    -
        class: PHPStan\Type\Spryker\FacadeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\QueryContainerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ConsoleDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ControllerDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\PluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ServiceDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ConfigDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ClientDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ClientPluginDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\YvesFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ZedFormTypeDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\YvesFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

    -
        class: PHPStan\Type\Spryker\ZedFactoryDynamicTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
