parameters:
    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE

    ignoreErrors:
        - '#Call to an undefined method .+ActiveRecordInterface::save\(\)#'
        - '#Access to an undefined static property .+EntityTransferInterface::\$entityNamespace.#'
        - '#Call to an undefined method .+ActiveRecordInterface::toArray\(\).#'
        - '#Call to an undefined method .+AbstractSharedConfig::isLocatorInstanceCacheEnabled\(\).#'
        - '#Access to undefined constant .+ActiveRecordInterface::TABLE_MAP.#'
        - '#Method .+Abstract.+::resolveBundleConfig\(\) should return .+AbstractBundleConfig but returns Spryker\\Shared\\Kernel\\AbstractBundleConfig#'
        - '#Call to function method\_exists\(\) with string and .+ will always evaluate to false\.#'
