
{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Adjacency Matrix' } %}
        {% block widget_content %}
            <div class="show-scroll">
                <table class="table table-bordered table-condensed nowrap">
                    <tr>
                        <th>From - To</th>
                        {% for fromBundle, toBundles in matrixData %}
                            {% for bundle, info in toBundles %}
                                <th>{{ bundle }}</th>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    {% for fromBundle, toBundles in matrixData %}
                        <tr>
                            <th>{{ fromBundle }}</th>
                            {% for bundle, dependencies in toBundles %}
                                <td>{{ dependencies.fromLayerToLayer | join('<br/>') | raw }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}
