{% extends '@Gui/Layout/layout.twig' %}

{% block section_title %}
    {{ 'Order ID:' | trans }} {{ idOrder }} ({{ orderDetails.CreatedAt.date | date('Y-m-d G:i:s', false) }})
{% endblock %}

{% block content %}

    {% include '@Sales/Details/boxes/order-navigation.twig' %}

    <div id="order-overview">{% include '@Sales/Details/boxes/order-overview.twig' %}</div>
    <div id="items">{% include '@Sales/Details/boxes/items.twig' %}</div>
    <div id="totals">{% include '@Sales/Details/boxes/totals.twig' %}</div>
    <div id="payments">{% include '@Sales/Details/boxes/payments.twig' %}</div>
    <div id="shipment">{% include '@Sales/Details/boxes/shipment.twig' %}</div>
    <div id="discount">{% include '@Sales/Details/boxes/discount.twig' %}</div>
    <div id="address">{% include '@Sales/Details/boxes/addresses.twig' %}</div>
    <div id="refunds">{% include '@Sales/Details/boxes/refunds.twig' %}</div>

{% endblock %}
