{% extends '@Gui/Layout/layout.twig' %}

{% block section_title %}
    {{ 'Order ID:' | trans }} {{ idOrder }} ({{ orderDetails.CreatedAt.date | date('Y-m-d G:i:s', false) }})
{% endblock %}

{% block content %}

    <div class="overview-nav">
        <div class="nav-item pull-left">
            <div><span class="fa fa-eye"></span></div>
        </div>
        <div class="nav-item pull-left">
            <div><span class="fa fa-shopping-cart"></span></div>
        </div>
        <div class="nav-item pull-left">
            <div><span class="fa fa-euro"></span></div>
        </div>
        <div class="nav-item pull-left">
            <div><span class="fa fa-credit-card"></span></div>
        </div>
        <div class="nav-item pull-left">
            <div><span class="fa fa-truck"></span></div>
        </div>
        <div class="nav-item pull-left">
            <div>
                <span class="fa fa-percent"></span>
                <span>&percnt;</span>
            </div>
        </div>
        <div class="nav-item pull-left">
            <div><span class="fa fa-map-marker"></span></div>
        </div>
        <div class="clearfix"></div>
    </div>

    {% include '@Sales/Details/boxes/order-overview.twig' %}

    {#{% include '@Sales/Details/section/customer-details.twig' %}#}

    {#<div class="spy-layout">#}
        {#{% include '@Sales/Details/section/calculation.twig' %}#}
        {#{% include '@Sales/Details/section/order-items.twig' %}#}
        {#{% include '@Sales/Details/section/payment-logs.twig' %}#}
        {#{% include '@Sales/Details/section/expenses.twig' %}#}
        {#{% include '@Sales/Details/section/refunds.twig' %}#}
    {#</div>#}

{% endblock %}
