{% extends '@Application/Layout/layout.twig' %}

{% block content %}
    Reclamation for order {{ order.orderReference }}

    <div id="items">
        {%- include '@SalesReclamation/Create/boxes/items.twig' with {
            'order': order,
        } -%}
    </div>
{% endblock %}
