parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#1 \$configurableBundleTemplateStorageTransfer of method .+ConfigurableBundleTemplateRestResourceBuilderInterface::buildConfigurableBundleTemplateRestResource\(\) expects .+ConfigurableBundleTemplateStorageTransfer, .+ConfigurableBundleTemplateStorageTransfer\|false given.#'
        -
            identifier: missingType.iterableValue
