parameters:
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Parameter \#1 \$configurableBundleTemplateStorageTransfer of method .+ConfigurableBundleTemplateRestResourceBuilderInterface::buildConfigurableBundleTemplateRestResource\(\) expects .+ConfigurableBundleTemplateStorageTransfer, .+ConfigurableBundleTemplateStorageTransfer|false given.#'
