{% extends '@Application/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Module overview' } %}
        {% block widget_content %}
            <div class="spy-layout sparse" xmlns="http://www.w3.org/1999/html">
                <table class="table-condensed table-hover table-striped">
                    <tr>
                        <th>Module name</th>
                        <th>Core module</th>
                        <th>Project module</th>
                    </tr>
                    {% for moduleName, moduleOverviewTransfer in moduleOverviewTransferCollection %}
                    <tr>
                        <td>{{ moduleName }}</td>
                        <td><span class="glyphicon glyphicon-{% if moduleOverviewTransfer.existsCoreModule %}ok{% else %}remove{% endif %}"></span></td>
                        <td><span class="glyphicon glyphicon-{% if moduleOverviewTransfer.existsProjectModule %}ok{% else %}remove{% endif %}"></span></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
