{% extends '@Gui/Layout/layout.twig' %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Matrix' } %}

        {% block widget_content %}

            <table class="table">
                <thead>
                {% for row in matrix | slice(0, 1) %}
                    <tr>
                        {% for element in row %}
                            <th>
                                {{ element | raw }}
                            </th>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </thead>
                <tbody>
                {% for row in matrix | slice(1) %}
                    <tr>
                    {% for element in row %}
                        <td>
                        {{ element | raw }}
                        </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            <h3>Legend</h3>
            <p>(1) below 24h (2) between 1day and 7 days (3) more then 7 days</p>

        {% endblock %}

    {% endembed %}

{% endblock %}
