{% extends '@Application/Layout/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block content %}
    <section
        spy-app="spyLayout,spyFormat,spyGrid,spyForm"
        ng-controller="ComController"
    >
        <div spy-form-update="openLayer(); read($argument)" scope="key_edit" channel="glossary"></div>
        <div spy-form-update="closeLayer()" scope="key_edit" channel="glossary"></div>
        <div spy-form-abort="closeLayer()" scope="key_edit" channel="glossary"></div>
        <div spy-form-update="read()" scope="grid" channel="glossary"></div>

        <spy-listen on="glossary_edit" do="openLayer(); read($argument)" scope="key_edit" channel="glossary"></spy-listen>

        {% include '@Glossary/Partials/form-add-translation.twig' %}

        {% include '@Glossary/Partials/glossary-grid.twig' %}

        {% include '@Glossary/Partials/form-edit-translation.twig' %}
    </section>
{% endblock %}
