parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+SpyConfigurableBundleTemplateQuery\|.+SpyProductAbstractQuery\|.+SpyProductImageSetToProductImageQuery\|.+SpyProductSetQuery::orderBySortOrder\(\).#'
