parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method .+SpyConfigurableBundleTemplateQuery\|.+SpyProductAbstractQuery\|.+SpyProductImageSetToProductImageQuery\|.+SpyProductSetQuery::orderBySortOrder\(\).#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
