parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
            - '#Call to an undefined method Generated\\Zed\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
            - '#Call to an undefined method Generated\\Client\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
            - '#Parameter \#1 \$priceData of method .+MoneyValueTransfer::setPriceData\(\) expects string\|null, string\|false given.#'

