{% extends template('widget') %}

{% define data = {
    isActivePage: _widget.isActivePage,
} %}

{% set itemClass = data.isActivePage ? ' menu__item--active' : '' %}

{% block body %}
    <li class="menu__item {{ itemClass }}">
        <a
            href="{{ url('ssp/asset') }}"
            data-id="sidebar-asset"
            data-qa="ssp-asset-customer-menu-item"
        >{{ 'self_service_portal.asset.list.widget.title' | trans }}</a>
    </li>
{% endblock %}
