<ul>
    {% for node in nodes %}
        <li id="navigation-node-{{ node.navigationNode.idNavigationNode }}" data-id-navigation-node="{{ node.navigationNode.idNavigationNode }}"
            class="jstree-open {% if not node.navigationNode.isActive %}node-inactive{% endif %}"
            {% if node.navigationNode.nodeType %}data-jstree='{"type":"{{ node.navigationNode.nodeType }}"}'{% endif %}
        >
            {{ node.navigationNode.navigationNodeLocalizedAttributes[0].title }}
            {% include '@NavigationGui/Tree/_partials/nodes.twig' with {nodes: node.children} %}
        </li>
    {% endfor %}
</ul>
