{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Groups' %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_header_content %}
            <a class="btn btn-primary" href="/acl/group/add">{{ 'Create Group' | trans }}</a>
        {% endblock %}

        {% block widget_content %}

            {{ table | raw }}

        {% endblock %}

    {% endembed %}

{% endblock %}
