<section
        class="spy-grid"
        ng-controller="GridController"
        ng-strict-di
        src="/acl/group/rules/{{ query | default ('') }}"
        name="grid"
        on="{ form_success : 'update' }"
        >
    <h3>Rule Sets</h3>

    <div spy-grid-pages="pages" labels="{ items : 'Show %n items', pages : 'Page %n of %m' }"></div>

    <table>
        <thead>
        <tr>
            <th spy-grid-head="columns['has_role']" label="Enabled"></th>
            <th spy-grid-head="columns['role_name']" label="Name"></th>
            <th spy-grid-head="columns['type']" label="Type"></th>
            <th spy-grid-head="columns['bundle']" label="Bundle"></th>
            <th spy-grid-head="columns['controller']" label="Controller"></th>
            <th spy-grid-head="columns['action']" label="Action"></th>
            <th spy-grid-head="" label="Actions"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="row in rows">
            <td>
                <div spy-action-switch="/acl/group/ruleset" state="row['has_role']"></div>
            </td>
            <td>{[{ row['role_name'] }]}</td>
            <td>{[{ row['type'] }]}</td>
            <td>{[{ row['bundle'] }]}</td>
            <td>{[{ row['controller'] }]}</td>
            <td>{[{ row['action'] }]}</td>
            <td>
                <a href="/acl/ruleset/form/?id={[{ row['id_acl_role'] }]}" class="button default">edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div spy-grid-pages="pages" labels="{ items : 'Show %n items', pages : 'Page %n of %m' }"></div>
</section>