{% extends '@Application/Layout/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block content %}
    <div
        spy-app="spyFormat, spyGrid, spyForm, spyLayout"
        ng-strict-di
        ng-controller="ComController"
    >
        <div spy-form-update="update()" scope="decision-rule-grid" channel="decision-rule-form"></div>
        <div spy-form-update="closeLayer()" scope="decision-rule-form" channel="decision-rule-form"></div>
        <div spy-form-abort="closeLayer()" scope="decision-rule-form" channel="decision-rule-form"></div>

        <spy-listen on="decision-rule-create-click" do="create = true ; read($argument); openLayer()" scope="decision-rule-form" channel="decision-rule-form"></spy-listen>
        <spy-listen on="decision-rule-update-click" do="create = false; read($argument); openLayer()" scope="decision-rule-form" channel="decision-rule-form"></spy-listen>

        {% include '@Discount/Partials/navigation.twig' %}

        {% include '@Discount/Grid/decision-rule-grid.twig' %}
        {% include '@Discount/Form/decision-rule-form.twig' %}
    </div>
{% endblock %}
