{% extends '@Application/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block content %}
    <div
        spy-app="spyFormat, spyGrid, spyForm, spyLayout"
        ng-strict-di
        ng-controller="ComController"
    >
        <div spy-form-update="update()" scope="discount-grid" channel="discount-form"></div>
        <div spy-form-update="closeLayer()" scope="discount-form" channel="discount-form"></div>
        <div spy-form-abort="closeLayer()" scope="discount-form" channel="discount-form"></div>

        <spy-listen on="discount-create-click" do="create = true ; read($argument); openLayer()" scope="discount-form" channel="discount-form"></spy-listen>
        <spy-listen on="discount-update-click" do="create = false; read($argument); openLayer()" scope="discount-form" channel="discount-form"></spy-listen>

        {% include '@Discount/Partials/navigation.twig' %}

        {% include '@Discount/Grid/discount-grid.twig' %}
        {% include '@Discount/Form/discount-form.twig' %}
    </div>
{% endblock %}
