<div style="display: none" id="productAttributesJson">
    {{ productAttributesJson }}
</div>
<div style="display: none" id="metaAttributesJson">
    {{ metaAttributesJson }}
</div>
<div style="display: none" id="localesJson">
    {{ localesJson }}
</div>
