<div style="display: none" id="productAttributesJson">
    {{ productAttributesJson | raw }}
</div>
<div style="display: none" id="metaAttributesJson">
    {{ metaAttributesJson | raw }}
</div>
<div style="display: none" id="localesJson">
    {{ localesJson | raw }}
</div>