<div style="display: none" id="productAttributeValuesJson">
    {{ productAttributeValuesJson | raw }}
</div>
<div style="display: none" id="metaAttributesJson">
    {{ metaAttributesJson | raw }}
</div>
<div style="display: none" id="localesJson">
    {{ localesJson | raw }}
</div>