@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@edit-offer-indent-small: var(--spy-edit-offer-indent-small, 10px);
@edit-offer-indent-medium: var(--spy-edit-offer-indent-medium, 17px);
@edit-offer-indent-big: var(--spy-edit-offer-indent-big, 30px);
@edit-offer-content-padding: var(--spy-edit-offer-content-padding, @edit-offer-indent-big);
@edit-offer-common-blocks-indent: var(--spy-edit-offer-common-blocks-indent, 7px);
@edit-offer-header-padding: var(--spy-edit-offer-header-padding, 15px @edit-offer-indent-big);
@edit-offer-header-title-line-height: var(--spy-edit-offer-header-title-line-height, 2);
@edit-offer-card-padding-top: var(
    --spy-edit-offer-card-padding-top,
    calc(@edit-offer-indent-big - @edit-offer-indent-small)
);

/**
 * @deprecated variable @edit-offer-card-padding-bottom is deprecated: use @edit-offer-card-padding-top instead.
 * @deprecated variable --spy-edit-offer-card-padding-bottom is deprecated: use --spy-edit-offer-card-padding-top instead.
 */
@edit-offer-card-padding-bottom: var(
    --spy-edit-offer-card-padding-bottom,
    calc(@edit-offer-indent-big - @edit-offer-indent-small)
);
@edit-offer-approval-status-margin-left: var(
    --spy-edit-offer-approval-status-margin-left,
    calc(@edit-offer-indent-big - @edit-offer-indent-small)
);
@edit-offer-product-margin: var(
    --spy-edit-offer-product-margin,
    0 calc(@edit-offer-indent-small * -1) @edit-offer-indent-big
);
@edit-offer-product-col-padding: var(--spy-edit-offer-product-col-padding, 0 @edit-offer-indent-small);
@edit-offer-product-sku-padding: var(
    --spy-edit-offer-product-sku-padding,
    calc(@edit-offer-indent-small / 2) 0 @edit-offer-indent-small
);
@edit-offer-product-dates-margin: var(
    --spy-edit-offer-product-dates-margin,
    0 calc(@edit-offer-common-blocks-indent * -1) @edit-offer-common-blocks-indent
);
@edit-offer-product-dates-base-width: var(--spy-edit-offer-product-dates-base-width, 190px);
@edit-offer-product-dates-value-margin-left: var(
    --spy-edit-offer-product-dates-value-margin-left,
    calc(@edit-offer-indent-small / 2)
);
@edit-offer-product-details-flex-basis: var(--spy-edit-offer-product-details-flex-basis, 200px);
@edit-offer-product-details-margin: var(
    --spy-edit-offer-product-details-margin,
    calc(@edit-offer-common-blocks-indent * -1) calc(@edit-offer-indent-small * -1)
);
@edit-offer-product-details-padding: var(
    --spy-edit-offer-product-details-padding,
    calc(@edit-offer-indent-big - @edit-offer-indent-small) 0
);
@edit-offer-product-details-col-padding: var(
    --spy-edit-offer-product-details-col-padding,
    @edit-offer-common-blocks-indent @edit-offer-indent-small
);
@edit-offer-collapsible-title-line-height: var(--spy-edit-offer-collapsible-title-line-height, 1.7);
@edit-offer-collapsible-text-padding: var(
    --spy-edit-offer-collapsible-text-padding,
    calc(@edit-offer-indent-small / 2) 0
);
@edit-offer-input-prefix-width: var(--spy-edit-offer-input-prefix-width, 73px);
@edit-offer-form-row-padding: var(--spy-edit-offer-form-row-padding, @edit-offer-indent-medium);
@edit-offer-form-row-col-min-height: var(
    --spy-edit-offer-form-row-col-min-height,
    calc(@input-height-base + @edit-offer-form-row-padding * 2)
);
@edit-offer-form-row-col-checkbox-min-height: var(
    --spy-edit-offer-form-row-col-checkbox-min-height,
    calc(@input-height-base + @edit-offer-form-row-padding * 1.5)
);
@edit-offer-form-row-base-width: var(--spy-edit-offer-form-row-base-width, 275px);
@edit-offer-form-row-date-range-base-width: var(--spy-edit-offer-form-row-date-range-base-width, 444px);
@edit-offer-form-item-width: var(--spy-edit-offer-form-item-width, 130px);
@edit-offer-stock-form-label-margin-bottom: var(
    --spy-edit-offer-stock-form-label-margin-bottom,
    calc(@edit-offer-indent-small / 2)
);
@edit-offer-stock-reserved-margin-bottom: var(--spy-edit-offer-stock-reserved-margin-bottom, @edit-offer-indent-medium);
@edit-offer-stock-margin: var(--spy-edit-offer-stock-margin, 0 calc(@edit-offer-indent-medium * -1));
@edit-offer-stock-row-padding: var(--spy-edit-offer-stock-row-padding, 0 @edit-offer-indent-medium);
@edit-offer-table-padding-inside-card: var(
    --spy-edit-offer-table-padding-inside-card,
    3px calc(@edit-offer-indent-small / 2) calc(@edit-offer-indent-small / 2)
);
@edit-offer-empty-table-border-top: var(
    --spy-edit-offer-empty-table-border-top,
    @border-width-base solid @gray-lighter
);

.@{ajax-form-prefix-cls}-container {
    overflow-y: auto;

    &--loading {
        overflow: hidden;
    }
}

.mp-edit-offer {
    display: block;
    height: 100%;
    background: @gray-lighter;
    font: @font-default;
    letter-spacing: @letter-spacing-base;
    color: @ink;
    overflow-y: auto;

    &__header {
        background: @spy-white;
        padding: @edit-offer-header-padding;

        .@{headline-prefix-cls} {
            padding-bottom: 0;
        }
    }

    &__title {
        color: @gray-darker;
        font-size: @spy-font-size-base;
        font-weight: @font-weight-medium;
        letter-spacing: @letter-spacing-base;
        line-height: @edit-offer-header-title-line-height;
    }

    &__sub-title {
        display: flex;
        align-items: center;
        font-size: @spy-font-size-lg;
        font-weight: @font-weight-semi-bold;
        letter-spacing: @letter-spacing-base;
        margin: 0;
    }

    &__approval-status {
        margin-left: @edit-offer-approval-status-margin-left;
    }

    &__content {
        display: block;
        padding: @edit-offer-content-padding;
    }

    &__card {
        display: block;

        &:not(:first-child) {
            padding-top: @edit-offer-card-padding-top;
        }

        .@{table-prefix-cls},
        .@{table-filters-feature-prefix-cls} {
            background: @gray-lighter;
        }

        .@{table-prefix-cls} {
            padding: @edit-offer-table-padding-inside-card;

            &-empty {
                border-top: @edit-offer-empty-table-border-top;
            }
        }
    }

    &__product {
        display: flex;
        margin: @edit-offer-product-margin;

        &-col {
            flex-shrink: 0;
            padding: @edit-offer-product-col-padding;

            &--content {
                flex-shrink: 1;
                flex-grow: 1;
            }
        }

        &-title {
            font-size: @heading-4-font-size;
            font-weight: @font-weight-medium;
            color: @ink;
            margin: 0;
        }

        &-sku {
            display: block;
            color: @gray-dark;
            padding: @edit-offer-product-sku-padding;
        }

        &-dates {
            display: flex;
            flex-wrap: wrap;
            margin: @edit-offer-product-dates-margin;

            &-col {
                padding: @edit-offer-common-blocks-indent;
                flex-basis: @edit-offer-product-dates-base-width;
            }

            &-title {
                text-transform: uppercase;
                color: @ink;
                font-size: @spy-font-size-sm;
            }

            &-value {
                color: @gray-dark;
                margin-left: @edit-offer-product-dates-value-margin-left;
            }
        }

        &-details {
            display: flex;
            flex-wrap: wrap;
            margin: @edit-offer-product-details-margin;
            padding: @edit-offer-product-details-padding;

            &-col {
                padding: @edit-offer-product-details-col-padding;
                flex-basis: @edit-offer-product-details-flex-basis;
            }

            &-text {
                display: block;

                &--title {
                    text-transform: uppercase;
                    font-size: @spy-font-size-sm;
                    color: @ink;
                }
            }
        }
    }

    &__form-row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: calc(@edit-offer-form-row-padding * -1);

        &-col {
            flex-basis: @edit-offer-form-row-base-width;
            padding: @edit-offer-form-row-padding;
            min-height: @edit-offer-form-row-col-min-height;

            &--dates {
                flex-basis: @edit-offer-form-row-date-range-base-width;
            }

            &--checkbox {
                min-height: @edit-offer-form-row-col-checkbox-min-height;
            }
        }
    }

    &__status {
        .@{form-item-prefix-cls}-control-input {
            min-height: 0;
        }
    }

    &__stock {
        &-reserved {
            margin-bottom: @edit-offer-stock-reserved-margin-bottom;
        }

        &-inner {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            margin: @edit-offer-stock-margin;

            &-row {
                flex-basis: @edit-offer-form-row-base-width;
                padding: @edit-offer-stock-row-padding;
            }
        }

        .@{form-prefix-cls}-item-label label {
            font-size: @spy-font-size-sm;
            font-weight: @font-weight-medium;
            padding: 0;

            label {
                margin-bottom: @edit-offer-stock-form-label-margin-bottom;
            }
        }
    }

    .@{collapse-prefix-cls}-content {
        color: @gray-darker;
        line-height: @edit-offer-collapsible-title-line-height;

        p {
            margin: 0;
            padding: @edit-offer-collapsible-text-padding;
        }
    }

    .@{table-editable-feature-prefix-cls}__cell .@{form-prefix-cls}-item {
        width: @edit-offer-form-item-width;

        &-control-input {
            min-height: 0;
        }
    }

    .@{input-prefix-cls} {
        &-group-addon:first-of-type {
            padding-right: 0;
            width: @edit-offer-input-prefix-width;
            text-align: left;
        }
    }
}
