parameters:
    level: 7
    ignoreErrors:
        - '#Parameter \#2 \$(size|length) of function array_chunk expects int<1, max>, int given.#'
        -
            identifier: missingType.iterableValue
