parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#2 \$size of function array_chunk expects int<1, max>, int given.#'
        - '#Parameter \#1 \$validFrom of method .+ProductLabelTransfer::setValidFrom\(\) expects string\|null, DateTime\|string\|null given.#'
        - '#Parameter \#1 \$validTo of method .+ProductLabelTransfer::setValidTo\(\) expects string\|null, DateTime\|string\|null given.#'
