{% extends model('component') %}

{% define config = {
    name: 'dashboard-table',
} %}

{% define data = {
    title: required,
    counter: 0,
    columns: required,
    rows: required,
    emptyText: required,
    moreLink: required,
} %}

{%- block extraClass %} box spacing-bottom--big {{ parent() }}{% endblock -%}

{% block body %}
    {% block title %}
        {% include molecule('title-counter', 'SelfServicePortal') with {
            data: {
                title: data.title,
                counter: data.counter,
                dataQa: 'ssp-dashboard-table-title',
            },
            qa: qa ~ '-counter',
        } only %}
    {% endblock %}

    {% block table %}
        {% include molecule('advanced-table', 'SelfServicePortal') with {
            data: {
                columns: data.columns,
                rows: data.rows,
                emptyText: data.emptyText,
            },
        } only %}
    {% endblock %}

    {% block more %}
        {% if data.rows | length %}
            <div class="spacing-top text-right">
                <a class="link link--alt" href="{{ data.moreLink }}">{{ 'ssp_dashboard.general.view_all' | trans }}</a>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
