@import '~drift-zoom/dist/drift-basic.css';

.preview-image {
    box-shadow: 5px 5px 7px #818181;
    border: 1px dotted #333;
    padding: 2px;
    width: 250px;
    height: 500px;
    float: left;
}

.zoom-container {
    height: 500px;
    width: 500px;
    margin-left: 30px;
    float: left;
    position: relative;
}
