{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Edit translation' %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_header_content %}
            <a href="/glossary/" class="btn btn-sm btn-default">{{ 'Back to Translations' | trans }}</a>
        {% endblock %}

        {% block widget_content %}

            {{ form(form) }}

        {% endblock %}

    {% endembed %}

{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script type="text/javascript">
        ;(function ($) {

            $(document).ready(function () {
                $('#form_fk_glossary_key').change(function () {
                    var obj = $('#form_fk_glossary_key').val();

                    $.ajax({
                        url: '/glossary/key/ajax',
                        type: 'GET',
                        data: {id_glossary_key: obj}
                    }).done(function(data) {
                        $.each(data, function(i, item) {
                            var key = '#form_locale_' + i;
                            if ($(key).length) {
                                value = $(key).val();
                                if (!value.length) {
                                    $(key).val(item);
                                }
                            }
                        });
                    });
                });

                $('select[readonly]').live('focus mousedown mouseup click',function(e){
                    e.preventDefault();
                    e.stopPropagation();
                });
            });

        })(jQuery);
    </script>
{% endblock %}
