<span>{{ priceToPay | money(true, order.currencyCode) }}</span>
{% if (subtotal - priceToPay > 0) > 0 %}
  <span {% if (subtotal - priceToPay > 0) %} class="discounted" {% endif %}>({{ subtotal | money(true, order.currencyCode) }})</span>
{% endif %}
