<div class="row">
    <div class="col-md-12">

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Trigger all matching states' } %}

            {% block widget_content %}

                <div>
                    {% include [
                        '@Oms/RenderForm/_partial/order-actions.twig',
                        '@Sales/Detail/_partial/order-actions.twig',
                    ] ignore missing with {
                        redirectUrl: changeStatusRedirectUrl,
                        idSalesOrder: order.idSalesOrder,
                        events: events,
                    } only %}
                </div>

            {% endblock %}

        {% endembed %}

    </div>
</div>

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Items' } %}

    {% block widget_content %}
        {% include '@Sales/Detail/boxes/order-items-table.twig'%}
    {% endblock %}

{% endembed %}
