%font-title1 {
	@include font($_hLine * 2, $_hFont * 2, $_rgbSpyRiverBed, null, $_ffCutReg);
}

%font-title2 {
	@include font($_hLine * 1.5, $_hFont * 1.5, $_rgbSpyEbonyClay, null, $_ffCutReg);
}

%font-title3 {
	@include font($_hLine * 1.2, $_hFont * 1.2, null, null, $_ffCutReg);
}

%font-large {
	@include font($_hLine, ($_hFont + 2px), $_rgbCopy, $_ffCopy, $_ffCutReg);
}

%font-default {
	@include font($_hLine, $_hFont, $_rgbCopy, $_ffCopy, $_ffCutReg);
}

%font-small {
	@include font($_hLine, ($_hFont - 1px), $_rgbCopy, $_ffCopy, $_ffCutReg);
}


%font-field {
	@include font(19px, 13px, $_rgbSpyEbonyClay, null);
}


%space-title1 {
	margin:($_hLine * 2) 0;
}

%space-title2 {
	margin:($_hLine * 1.5) 0;
}

%space-title3 {
	margin:($_hLine * 1.2) 0;
}

%space-default {
	margin:$_hLine 0;
}

%space-restrict {
	@extend %space-default;

	max-width:$_wMaxCopy;
}


%text-title1 {
	@extend %space-title1;
	@extend %font-title1;
}

%text-title2 {
	@extend %space-title2;
	@extend %font-title2;
}

%text-title3 {
	@extend %space-title3;
	@extend %font-title3;
}

%text-large {
	@extend %space-restrict;
	@extend %font-large;
}

%text-default {
	@extend %space-restrict;
	@extend %font-default;
}

%text-small {
	@extend %space-restrict;
	@extend %font-small;
}