%emphasis {
	@include font(null, null, null, null, $_ffCutReg, $_ffStlAlt);
}

%emphasis-strong {
	@include font(null, null, null, null, $_ffCutBold, $_ffStlReg);
}

%deletion {
	color:$_rgbUiMonza;
	text-decoration:line-through;
}

%insertion {
	color:$_rgbUiLima;
	text-decoration:underline;
}

%marking {
	color:$_rgbWhite;
	padding:1px 1ex;
	background-color: $_rgbSpyDodgerBlue;
}

%preformated {
	margin:0;
	@include font(null, null, null, $_ffMono);
	white-space:pre-wrap;
}

%code {
	@include font(null, null, null, $_ffMono);
}


%link {
	color:$_rgbSpyDodgerBlue;
	text-decoration:none;
	@include pre(transition, color $_tFast ease);
}

%link-hover {
	color:$_rgbSpyBostonBlue;
}

%link-external {
	&:after {
		@extend %svg-outbound-dodgerblue;
		@extend %svg-outbound-dodgerblue-size;

		content:'';
		@include h(null, baseline);
		margin-left:1ex;
	}
}


%unordered-list {
	@extend %reset-list;

	max-width:$_wMaxCopy;
	margin:$_ySpacing 0;
}

%unordered-list-item {
	padding-left:28px;

	&:before {
		content:'';
		@include h(null, middle, 6px, 6px, 8px);
		margin-left:-14px;
		@include pre(border-radius, 3px);
		background:$_rgbSpyGrayChateau;
	}
}

%ordered-list {
	@extend %reset-list;

	counter-reset:o1;
	max-width:$_wMaxCopy;
	margin:$_ySpacing 0;
}

%ordered-list-item {
	padding-left:28px;
	counter-increment:o1;

	&:before {
		content:counter(o1);
		@include h(null, baseline, 20px, null, 8px);
		margin-left:-28px;
		text-align:right;
	}
}


%definition-list {
	max-width:$_wMaxCopy;
	margin:$_xSpacing 0;
}

%definition-list-item {
	@include font(null, null, null, null, $_ffCutBold);
}

%definition-list-copy {
	margin:0;
}