<section class="spy-layout plain">
    <h3>Grouped Panel Layouts</h3>

    <p>The template for this example can be found at <code>@UiExample/Partials/Layout/layout.twig</code></p>

    <h4>Pair layout</h4>

<pre><code class="html">&lt;any class=&quot;spy-layout n2&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
</section>

<article>
    <section class="spy-layout n2">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
        <div class="spy-layout sparse"><span>4</span></div>
    </section>

    <section class="spy-layout plain">
        <h5>Uneven numbers</h5>
    </section>

    <section class="spy-layout n2">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
    </section>

    <section class="spy-layout plain">
        <h5>Fill modifiers</h5>

<pre><code class="html">&lt;any class=&quot;spy-layout n2 f1&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n2 f1">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
    </section>

    <section class="spy-layout plain">
        <h4>Triplet layout</h4>

<pre><code class="html">&lt;any class=&quot;spy-layout n3&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n3">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
        <div class="spy-layout sparse"><span>4</span></div>
        <div class="spy-layout sparse"><span>5</span></div>
        <div class="spy-layout sparse"><span>6</span></div>
    </section>

    <section class="spy-layout plain">
        <h5>Uneven numbers</h5>
    </section>

    <section class="spy-layout n3">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>

    <section class="spy-layout n3">
        <div class="spy-layout sparse"><span>1</span></div>
    </section>

    <section class="spy-layout plain">
        <h5>Fill modifiers</h5>

<pre><code class="html">&lt;any class=&quot;spy-layout n3 f2&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n3 f2">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
        <div class="spy-layout sparse"><span>4</span></div>
        <div class="spy-layout sparse"><span>5</span></div>
    </section>

    <section class="spy-layout n3 f2">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>

    <section class="spy-layout plain">
<pre><code class="html">&lt;any class=&quot;spy-layout n3 f1&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n3 f1">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
        <div class="spy-layout sparse"><span>4</span></div>
        <div class="spy-layout sparse"><span>5</span></div>
    </section>

    <section class="spy-layout n3 f1">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>

    <section class="spy-layout n3 f1">
        <div class="spy-layout sparse"><span>1</span></div>
    </section>

    <section class="spy-layout plain">
<pre><code class="html">&lt;any class=&quot;spy-layout n3 fn&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n3 fn">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
        <div class="spy-layout sparse"><span>4</span></div>
        <div class="spy-layout sparse"><span>5</span></div>
    </section>

    <section class="spy-layout n3 fn">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>

    <section class="spy-layout plain">
        <h4>Quadruplet layout</h4>

<pre><code class="html">&lt;any class=&quot;spy-layout n4&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n4">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
        <div class="spy-layout sparse"><span>4</span></div>
        <div class="spy-layout sparse"><span>5</span></div>
        <div class="spy-layout sparse"><span>6</span></div>
        <div class="spy-layout sparse"><span>7</span></div>
        <div class="spy-layout sparse"><span>8</span></div>
    </section>

    <section class="spy-layout plain">
        <h5>Uneven Numbers</h5>
    </section>

    <section class="spy-layout n4">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
    </section>

    <section class="spy-layout n4">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>

    <section class="spy-layout n4">
        <div class="spy-layout sparse"><span>1</span></div>
    </section>

    <section class="spy-layout plain">
        <h5>Fill modifiers</h5>

<pre><code class="html">&lt;any class=&quot;spy-layout n4 f3&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n4 f3">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
    </section>

    <section class="spy-layout plain">
<pre><code class="html">&lt;any class=&quot;spy-layout n4 f2&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n4 f2">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
    </section>

    <section class="spy-layout n4 f2">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>

    <section class="spy-layout plain">
<pre><code class="html">&lt;any class=&quot;spy-layout n4 f1&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n4 f1">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
        <div class="spy-layout sparse"><span>3</span></div>
    </section>

    <section class="spy-layout n4 f1">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>

    <section class="spy-layout n4 f1">
        <div class="spy-layout sparse"><span>1</span></div>
    </section>

    <section class="spy-layout plain">
<pre><code class="html">&lt;any class=&quot;spy-layout n4 fn&quot;&gt;
    &lt;any&gt;&hellip;&lt;/any&gt;
    &hellip;
&lt;/any&gt;</code></pre>
    </section>

    <section class="spy-layout n4 fn">
        <div class="spy-layout sparse"><span>1</span></div>
        <div class="spy-layout sparse"><span>2</span></div>
    </section>
</article>