<section class="spy-layout plain">
    <h3>Compactly spaced content layout</h3>

    <p>The template for this example can be found at <code>@UiExample/Partials/Layout/spacing-compact.twig</code></p>

    <pre><code class="html">&lt;any class=&quot;spy-layout compact&quot;&gt;&hellip;&lt;/any&gt;</code></pre>
</section>

<section
    class="spy-layout compact"
    spy-app="spyForm,spyFormComponent"
>
    {% include '@UiExample/Partials/Layout/spacing/example-copy.twig' %}
    {% include '@UiExample/Partials/Layout/spacing/example-lists.twig' %}
    {% include '@UiExample/Partials/Layout/spacing/example-forms.twig' %}
    {% include '@UiExample/Partials/Layout/spacing/example-buttons.twig' %}
</section>