parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method [a-zA-Z]\(\) on Generated\Shared\Transfer\StoreTransfer|null#'
