<div class="form-product-packaging-unit-type-translation-row" id="{{ productPackagingUnitTypeTranslationForm.vars.id }}">

    <div class="form-group {% if productPackagingUnitTypeTranslationForm.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_widget(productPackagingUnitTypeTranslationForm) }}
        {{ form_errors(productPackagingUnitTypeTranslationForm) }}
    </div>

    {{ form_row(productPackagingUnitTypeTranslationForm.localeCode) }}
</div>

