parameters:
    level: 7
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    dynamicConstantNames:
        - APPLICATION_CODE_BUCKET
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#Parameter \#1 \$currentLocale of static method .+Environment::initializeLocale\(\) expects string, string\|false given.#'
        - '#Unsafe access to private property Spryker\\Shared\\Config\\Config::\$instance through static::.#'
        - '#Unsafe access to private property Spryker\\Shared\\Config\\Config::\$profiler through static::.#'
        - '#Unsafe call to private method Spryker\\Shared\\Config\\Config::getEnvironmentName\(\) through static::.#'
        - '#Unsafe call to private method Spryker\\Shared\\Config\\Application\\Environment::defineLocale\(\) through static::.#'
