parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Negated boolean expression is always true.#'
        -
            identifier: missingType.iterableValue
