parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Strict comparison using === between array and false will always evaluate to false.#'
