parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Strict comparison using === between array and false will always evaluate to false.#'
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
