{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Overview of Product lists' %}
{% set widget_subtitle = 'List of Product lists' %}

{% block section_title widget_title | trans %}

{% block action %}
    {{ parent() }}
    {% for button in topButtons.getButtons() %}
        {% include '@ProductListGui/_partials/button.twig' with {
            url: button.url | default,
            title: button.title | default,
            class: button.defaultOptions.class | default(''),
            iconClass: button.defaultOptions.iconClass| default('')
        } only %}
    {% endfor %}
{% endblock %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_title -%}

            <h5>{{ widget_subtitle | trans }}</h5>

        {%- endblock %}

        {% block widget_content %}

            {{ productListTable | raw }}

        {% endblock %}

    {% endembed %}

{% endblock %}
