<div class="spy-layout buttons">
    <button class="button">Just a button</button>
    <button class="button default">Default</button>
    <button class="button accept">Accept</button>
    <button class="button abort">Abort</button>
    <button class="button cancel">Cancel</button>
    <button class="button warning">Warning</button>
</div>
<div class="spy-layout buttons">
    <button class="button" disabled>Just a button</button>
    <button class="button default" disabled>Default</button>
    <button class="button accept" disabled>Accept</button>
    <button class="button abort" disabled>Abort</button>
    <button class="button cancel" disabled>Cancel</button>
    <button class="button warning" disabled>Warning</button>
</div>