<h4>Basic body copy</h4>

<pre><code class="html">&lt;h1&gt;&hellip;&lt;/h1&gt;
&lt;h2&gt;&hellip;&lt;/h2&gt;
&lt;h3&gt;&hellip;&lt;/h3&gt;
&lt;h4&gt;&hellip;&lt;/h4&gt;
&lt;h5&gt;&hellip;&lt;/h5&gt;
&lt;h6&gt;&hellip;&lt;/h6&gt;
&lt;p&gt;
    &lt;em&gt;&hellip;&lt;/em&gt;
    &lt;strong&gt;&hellip;&lt;/strong&gt;
    &lt;mark&gt;&hellip;&lt;/mark&gt;
    &lt;del&gt;&hellip;&lt;/del&gt;
    &lt;ins&gt;&hellip;&lt;/ins&gt;
    &lt;a&gt;&hellip;&lt;/a&gt;
    &lt;a class=&quot;external&quot;&gt;&hellip;&lt;/a&gt;
&lt;/p&gt;</code></pre>