<section class="spy-layout plain">
    <h3>Sparsely spaced content layout</h3>

    <p>The template for this example can be found at <code>@UiExample/Partials/Layout/spacing-sparse.twig</code></p>

    <pre><code class="html">&lt;any class=&quot;spy-layout sparse&quot;&gt;&hellip;&lt;/any&gt;</code></pre>
</section>

<section class="spy-layout n3 f1">
    <div class="spy-layout sparse">
        {% include '@UiExample/Partials/Layout/spacing/example-copy.twig' %}
    </div>
    <div class="spy-layout plain">
        {% include '@UiExample/Partials/Layout/spacing/markup-copy.twig' %}
    </div>
</section>

<section class="spy-layout n3 f1">
    <div class="spy-layout sparse">
        {% include '@UiExample/Partials/Layout/spacing/example-lists.twig' %}
    </div>
    <div class="spy-layout plain">
        {% include '@UiExample/Partials/Layout/spacing/markup-lists.twig' %}
    </div>
</section>

<section class="spy-layout n3 f1">
    <div
        class="spy-layout sparse"
        spy-app="spyForm,spyFormComponent"
    >
        {% include '@UiExample/Partials/Layout/spacing/example-forms.twig' %}
    </div>
    <div class="spy-layout plain">
        {% include '@UiExample/Partials/Layout/spacing/markup-forms.twig' %}
    </div>
</section>

<section class="spy-layout n3 f1">
    <div class="spy-layout sparse">
        {% include '@UiExample/Partials/Layout/spacing/example-buttons.twig' %}
    </div>
    <div class="spy-layout plain">
        {% include '@UiExample/Partials/Layout/spacing/markup-buttons.twig' %}
    </div>
</section>