<section class="spy-layout plain">
    <h3>Plain content layout</h3>

    <p>The template for this example can be found at <code>@UiExample/Partials/Layout/spacing-plain.twig</code></p>

    <pre><code class="html">&lt;any class=&quot;spy-layout plain&quot;&gt;&hellip;&lt;/any&gt;</code></pre>
</section>

<section class="spy-layout n2 plain">
    <div>
        {% include '@UiExample/Partials/Layout/spacing/example-copy.twig' %}
    </div>
    <div>
        {% include '@UiExample/Partials/Layout/spacing/example-lists.twig' %}
    </div>
</section>