<div class="alert alert-warning">
    <i class="fas fa-exclamation-circle alert__icon" aria-hidden="true"></i>
    <div class="alert__text">
        <p>
            {% apply trans | raw -%}
                You are editing a <b>draft</b> page. To make your changes visible in the shop, publish the page. Publishing the page will create a new version for this page.
            {%- endapply %}
        </p>
    </div>
</div>
