@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@profile-card-margin-bottom: 20px;
@profile-card-label-margin-bottom: 9px;
@profile-collapsible-margin-bottom: 18px;

.mp-profile {
  font-family: @font-family;

  &__card {
    display: block;
    margin-bottom: @profile-card-margin-bottom;

      &--label {
          display: block;
          margin-bottom: @profile-card-label-margin-bottom;
      }
  }

  &__collapsible {
    display: block;
    margin-bottom: @profile-collapsible-margin-bottom;
  }

  &__status {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

      br {
          display: none;
      }

      p {
          margin: 0;
      }
  }

  &__status-title {
      margin: 0;

      &-online {
          color: @green;
      }

      &-offline {
          color: @gray-darker;
      }
  }
}
