parameters:
    level: 8
    ignoreErrors:
        - '#Spryker\\Zed\\DataImport\\Business\\Model\\DataSet\\DataSetStepBrokerAwareInterface::[a-zA-Z]*\(\)#'
        -
            identifier: missingType.iterableValue
