{% extends '@Application/Layout/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block title_content %}Category{% endblock %}

{% block content %}

    {% include '@Gui/Partials/Table/header.twig' with { table_title: 'Category List' } %}

    <div id="jstree_category"></div>

    {% include '@Gui/Partials/Table/footer.twig' %}

{% endblock %}

{% block temp_footer_js %}
    <script src="/bundles/Gui/scripts/plugins/jsTree/jstree.min.js"></script>
{% endblock %}
