{% extends '@Application/Layout/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block title_content %}Category{% endblock %}

{% block content %}

    {% include '@Gui/Partials/Table/header.twig' with { table_title: 'Category List' } %}

    <div class="tree-actions btn-group">
        <a class="btn btn-default" href="#"><i class="fa fa-plus-square fa-2"></i> New</a>
        <a class="btn btn-default" href="#"><i class="fa fa-pencil fa-fw"></i> Rename</a>
        <a class="btn btn-danger" href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a>
        <a class="btn btn-default" href="#"><i class="fa fa-ban fa-fw"></i> Disable</a>
    </div>
    <div id="jstree_category"></div>

    {% include '@Gui/Partials/Table/footer.twig' %}


    <div
        spy-app="spyFormat, spyGrid, spyLayout, spyForm"
        ng-strict-di
        ng-controller="ComController"
        >

    <div spy-form-update="read()" scope="category-grid" channel="category"></div>
    <div spy-form-update="read()" scope="category-node-grid" channel="category"></div>
    <div spy-form-update="closeLayer()" scope="category-form" channel="category"></div>
    <div spy-form-abort="closeLayer()" scope="category-form" channel="category"></div>

    <div spy-form-update="read()" scope="category-node-grid" channel="category-node"></div>
    <div spy-form-update="closeLayer()" scope="category-node-form" channel="category-node"></div>
    <div spy-form-abort="closeLayer()" scope="category-node-form" channel="category-node"></div>

    <spy-listen on="category-create-click" scope="category-form" do="create = true; read($argument); openLayer()" channel="category"></spy-listen>
    <spy-listen on="category-update-click" scope="category-form" do="openLayer(); read($argument);" channel="category"></spy-listen>

    <spy-listen on="category-node-create-click" scope="category-node-form" do="create = true; read($argument); openLayer();" channel="category-node"></spy-listen>
    <spy-listen on="category-node-update-click" scope="category-node-form" do="openLayer(); read($argument);" channel="category-node"></spy-listen>

    <div class="spy-layout n2">

        {% include '@Category/Grid/category-grid.twig' %}

        <div class="cat grid"></div>

        {% include '@Category/Grid/category-node-grid.twig' %}

        <div class="cat node grid"></div>
        {% include '@Category/Form/category-form.twig' %}

        <div class="cat form"></div>
        {% include '@Category/Form/category-node-form.twig' %}

        <div class="cat node form"></div>
    </div>


    <div class="spy-layout sparse">

        <h3>Category Tree</h3>

        <div>
            <iframe src="/category/index/render" frameBorder="0" style="width: 100%; height: 500px;" ></iframe>
        </div>

    </div>

</div>


{% endblock %}

{% block temp_footer_js %}
    <script src="/bundles/Gui/scripts/plugins/jsTree/jstree.min.js"></script>
{% endblock %}
