{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Category' %}
{% block body_class %}spy-page{% endblock %}
{% block section_title %}{{ widget_title }}{% endblock %}

{% block content %}


    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Root nodes listing' } %}

        {% block widget_content %}

            {{ rootCategories | raw }}

            <div class="progress hidden" id="category-loader">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>

        {% endblock %}

    {% endembed %}

    {% embed '@Gui/Partials/widget.twig' with {
    widget_title: 'Category node tree',
    row_class: 'hidden',
    row_id: 'category-node-tree'
    } %}

        {% block widget_content %}
            <div id="jstree-container"></div>
        {% endblock %}

    {% endembed %}

    <div class="tabs-container hidden" id="category-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-attributes"> Attributes</a></li>
            <li class=""><a data-toggle="tab" href="#tab-urls">Urls</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-attributes" class="tab-pane active">
                <div class="panel-body">
                    <div id="category-attributes"></div>
                </div>
            </div>
            <div id="tab-urls" class="tab-pane">
                <div class="panel-body">
                    <div id="category-urls"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block head_css %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/Gui/styles/plugins/jsTree/style.min.css">
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script src="/bundles/Gui/scripts/plugins/jsTree/jstree.min.js"></script>
    <script src="/bundles/Gui/scripts/category.js"></script>
{% endblock %}


