{% extends '@Application/Layout/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block content %}
    <div class="alert alert-warning">{{ 'Not implemented yet !' | trans }}</div>
{% endblock %}
