parameters:
    ignoreErrors:
    - '#Call to an undefined method .+Criteria::.+\(\).#'
    - '#Method .+CategoryQueryContainer::query.+\(\) should return .+Spy.+Query but returns Propel\\Runtime\\ActiveQuery\\ModelCriteria.#'
    - '#Method .+CategoryQueryContainer::query.+\(\) should return .+Spy.+Query but returns Propel\\Runtime\\ActiveQuery\\Criteria.#'
    - '#Method .+Criteria::addJoinObject\(\) invoked with 2 parameters, 1 required.#'
    - '#Method .+CategoryQueryContainerInterface::queryCategory\(\) invoked with 2 parameters, 1 required.#'
    - '#Method .+CategoryTreeReader::getPath\(\) should return array but returns iterable<.+SpyCategoryNode>&.+ObjectCollection#'
    - '#Method .+CategoryTreeReader::getPathChildren\(\) should return array but returns iterable<.+SpyCategoryClosureTable>&.+ObjectCollection#'
    - '#Method .+CategoryTreeReader::getPathParents\(\) should return array but returns iterable<.+SpyCategoryClosureTable>&.+ObjectCollection#'
