.spy-layout.buttons {
	@include fbox(null, wrap);
	margin:$_yGutter (-$_xSpacing * 0.5) (-($_yGutter - $_ySpacing));

	&+* {
		margin-top:$_yGutter;
	}

	&>* {
		@include fitem(2);
		margin:0 ($_xSpacing * 0.5) $_ySpacing;
	}

	.button {
		&.default,
		&.accept {
			order:3;
		}

		&.abort,
		&.cancel,
		&.warning, {
			order:1;
		}
	}
}