.spy-layout.controls {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-items:flex-start;
	align-content:flex-start;

	&>* {
		order:0;
		flex-grow:0;
		flex-shrink:1;
	}

//	&>*+* {
//		margin-left:$_ySpacing;
//	}

	h1,h2,h3,h4,h5,h6 {
		flex-basis:100%;
		margin-bottom:4px;
	}

	*.button {
		order:1;
		flex-shrink:0;
		margin:20px 0 0;
	}
}