{% extends '@Gui/Layout/layout.twig' %}

{% if widget_title is not defined %}
    {% set widget_title = 'Add Asset' | trans %}
{% endif %}

{% block head_title -%}
    {{ widget_title }}
{%- endblock %}

{% block section_title %}{{ widget_title }}{% endblock %}

{% block action %}
    {{ backActionButton(url('/self-service-portal/list-asset'), 'Back to Assets' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Update Assets' | trans } %}
        {% block widget_content %}
            <div class="ibox-content">
                {% include '@SelfServicePortal/_partials/asset-form.twig' with {
                    sspAssetForm: sspAssetForm,
                } only %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
