<div class="form-group">
    <label class="control-label" for="user_is_agent">{{ 'Agent' | trans }}</label>
    {{ form_label(userForm.is_agent) }}
    {{ form_errors(userForm.is_agent) }}
    {{ form_widget(userForm.is_agent) }}
</div>
