div.auth {
	a.logout {
		@extend %reset-link;

		@include wh(block, null, 0, 50px);
		position:relative;
		overflow:hidden;
		padding:0 0 0 50px;

		&:before {
			@extend %svg-exit-riverbed;
			@extend %svg-exit-riverbed-size;

			content:'';
			@include abs(null, 18px, 16px);
		}
	}
}