<div class="row">
    <div class="col-sm-12">


        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'Order Source' } %}
            {% block widget_content %}
                {{ orderSourceName }}
            {% endblock %}
        {% endembed %}
    </div>
</div>
