@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@image-slider-height: 125px;
@image-slider-preview-margin-right: 10px;
@image-slider-preview-img-size: 38px;
@image-slider-showcard-img-size: 125px;
@image-slider-border-radius: 10px;
@image-slider-preview-border: 1px solid transparent;
@image-slider-preview-margin-bottom: 4px;

.image-slider {
    height: @image-slider-height;
    display: flex;

    &-preview {
        display: flex;
        flex-direction: column;
        margin-right: @image-slider-preview-margin-right;

        &-img {
            height: @image-slider-preview-img-size;
            width: @image-slider-preview-img-size;
            border-radius: @image-slider-border-radius;
            border: @image-slider-preview-border;

            &:not(:last-child) {
                margin-bottom: @image-slider-preview-margin-bottom;
            }

            &--selected {
                border-color: @green-dark;
            }
        }
    }

    &-showcard {
        width: @image-slider-showcard-img-size;
        height: @image-slider-showcard-img-size;
        border-radius: @image-slider-border-radius;

        &-image {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            max-height: 100%;
            max-width: 100%;
        }
    }
}
