<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{{ title | trans }}{% endblock %}</title>

    {% block head_css %}
        <link href="/bundles/css/style.external.min.css" rel="stylesheet">
        <link href="/bundles/css/style.internal.min.css" rel="stylesheet">
        <link href="/bundles/css/style.custom.min.css" rel="stylesheet">
    {% endblock %}

</head>
<body class="login">

<div class="row">
    <div class="spryker-login">
        <div class="login-spryker-logo animated fadeInLeft">
            <span></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="spryker-login">
        <div class="wrapper wrapper-content animated fadeInRight loginColumns">
            {% include '@FlashMessenger/Partials/flash-messages.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block footer_js %}
    <script src="/bundles/js/resources.external.min.js"></script>
    <script src="/bundles/js/resources.internal.min.js"></script>
    <script src="/bundles/js/resources.custom.min.js"></script>
    <script src="/bundles/js/templates.external.min.js"></script>
    <script src="/bundles/js/templates.internal.min.js"></script>
    <script src="/bundles/js/templates.custom.min.js"></script>
{% endblock %}

</body>
</html>
