<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pyz | Zed | Development</title>

    <link href="/bundles/Gui/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/bundles/Gui/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/bundles/Gui/styles/style.min.css" rel="stylesheet" />
</head>
<body class="login">

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center spryker-logo">
            <div style="background: url(/bundles/Gui/sprite/images/sprite.svg) top left no-repeat; width: 165px; height: 159px; margin: 0 auto;"></div>
            <div class="slogan">Commerce Framework</div>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
