<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pyz | Zed | Development</title>

    <link href="/bundles/Gui/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/bundles/Gui/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/bundles/Gui/styles/style.min.css" />
    <style>
        body.login {
            background: #262d36 none repeat scroll 0 0;
            color: #f5f6f8;
            font-family: "Fira Sans","HelveticaNeue","Helvetica","Arial",sans-serif;
            font-size: 15px;
            font-weight: 300;
            height: 100vh;
            line-height: 21px;
            margin: 0;
            position: relative;
        }
        body.login .spryker-logo {
            padding-bottom: 20px;
        }
        body.login .container {
            margin-top: 7%;
        }
        body.login .form-control,
        body.login .input-group-addon {
            background: #262d36;
            border: 0;
            border-bottom: 1px solid #ccc;
            border-color: #434e62;
        }
        body.login .input-group-addon a {
            color: #434e62;
            border: 1px solid #434e62;
            padding: 4px 6px;
        }
        body.login .slogan {
            font-size: 13px;
            font-family: "Fira Sans","HelveticaNeue","Helvetica","Arial",sans-serif;
        }
        body.login .form-group {
            padding-bottom: 10px;
        }
    </style>
</head>
<body class="login">

<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="text-center spryker-logo">
            <div style="background: url(/bundles/Gui/sprite/images/sprite.svg) top left no-repeat; width: 165px; height: 159px; margin: 0 auto;"></div>
            <div class="slogan">Commerce Framework</div>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
