parameters:
    ignoreErrors:
        - '#Method .+PriceProductQueryContainer::queryPriceEntityForProductAbstract\(\) should return Orm\\Zed\\PriceProduct\\Persistence\\SpyPriceProductQuery but returns Propel\\Runtime\\ActiveQuery\\Criteria#'
        - '#Method .+PriceProductQueryContainer::queryPriceEntityForProductConcrete\(\) should return Orm\\Zed\\PriceProduct\\Persistence\\SpyPriceProductQuery but returns Propel\\Runtime\\ActiveQuery\\Criteria#'
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Call to an undefined method .+SpyPriceProductQuery::joinWithPriceProductDefault\(\)#'
