{% extends '@Application/layout.twig' %}
{% block content %}

<ul class="list-unstyled">
  <li>
    <a href="/lumberjack#/c:search|q:{{{ order.incrementId }}}">
      <i class="icon-search"></i>
      {{ 'Search order in Lumberjack'|trans }}
    </a>
</ul>
{% endblock %}
