{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headSubTitle %}
    {{- 'Orders' | trans -}}
{% endblock %}

{% block content %}
    <web-mp-sales-orders
        cloak
        table-id="web-mp-sales-orders"
        table-config='{{ guiTableConfiguration(merchantOrderTableConfiguration) }}'>
        <h1 title>{{ 'Orders' | trans }}</h1>
    </web-mp-sales-orders>
{% endblock %}
