%menu-label-level1 {
	display:block;
	@include font(40px, 13px, $_rgbSpyGrayChateau, null, $_ffCutBold);
	text-transform:uppercase;
	@include pre(transition, color $_tFast ease-in);
}

%menu-label-level1-hover {
	color:$_rgbWhite;
	@include pre(transition-timing-function, ease-out);
}

%menu-label-level1-active {
	color:$_rgbWhite;
}


%menu-label-level2 {
	display:block;
	@include font(24px, 13px, $_rgbWhite, null, $_ffCutReg);
	text-transform:none;
}

%menu-label-level2-hover {
	font-weight:$_ffCutBold;
}

%menu-label-level2-active {
	font-weight:$_ffCutBold;
}


%menu-label-level3 {
	display:block;
	color:$_rgbSpyCasper;
	@include pre(transition, color $_tFast ease-in);
}

%menu-label-level3-hover {
	color:$_rgbWhite;
	@include pre(transition-timing-function, ease-out);
}

%menu-label-level3-active {
	color:$_rgbWhite;
}



%menu-label-level1-assembly {
	@extend %menu-label-level1;

	&:hover,
	&:focus {
		@extend %menu-label-level1-hover;
	}
}

%menu-label-level2-assembly {
	@extend %menu-label-level2;

	&:hover,
	&:focus {
		@extend %menu-label-level2-hover;
	}
}

%menu-label-level3-assembly {
	@extend %menu-label-level3;

	&:hover,
	&:focus {
		@extend %menu-label-level3-hover;
	}
}