parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Spryker\\Zed\\DataImport\\Business\\Model\\DataImportStep\\DataImportStepAwareInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataSet\\DataSetStepBrokerInterface::[a-zA-Z]*\(\)#'
        - '#Call to an undefined method Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterAfterImportAwareInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterBeforeImportAwareInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataSet\\DataSetStepBrokerAwareInterface::[a-zA-Z]*\(\)#'
        - '#Method Spryker\\Zed\\MerchantOpeningHoursDataImport\\Business\\MerchantOpeningHoursDataImportBusinessFactory::getMerchantOpeningHoursDateScheduleDataImporter\(\) should return Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterInterface but returns Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterAfterImportAwareInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterBeforeImportAwareInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataSet\\DataSetStepBrokerAwareInterface#'
        - '#Method Spryker\\Zed\\MerchantOpeningHoursDataImport\\Business\\MerchantOpeningHoursDataImportBusinessFactory::getMerchantOpeningHoursWeekdayScheduleDataImporter\(\) should return Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterInterface but returns Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterAfterImportAwareInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterBeforeImportAwareInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataImporterInterface\|Spryker\\Zed\\DataImport\\Business\\Model\\DataSet\\DataSetStepBrokerAwareInterface#'
