parameters:
    level: 6
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#1 \$reference of method .+SynchronizationDataTransfer::setReference\(\) expects string\|null, int given#'
