<div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
    <ul class="pagination">
        <li class="paginate_button-"><a href="#">1</a></li>
        <li class="paginate_button disabled"><a href="#">...</a></li>
        <li class="paginate_button "><a href="#">4</a></li>
        <li class="paginate_button active"><a href="#">5</a></li>
        <li class="paginate_button "><a href="#">6</a></li>
        <li class="paginate_button "><a href="#">...</a></li>
        <li class="paginate_button "><a href="#">10</a></li>
    </ul>
</div>
