spy-template {
	display:block;
}

spy-form {
	display:block;
	margin-bottom:$_yGutter;

	&>form.spy-layout.passthrough {
		@extend %layout-container-default;

		.spy-layout.buttons:last-child {
			margin-bottom:-18px;
		}
	}
}