<div class="small-12 large-6 columns">
    <div class="callout">
        <h4>{{ 'Shipping address' | trans }}</h4>

        {% include '@ManualOrderEntryGui/create/partials/address-selection.twig' with {'addressForm': form.shippingAddress} %}
    </div>
</div>

<div class="small-12 large-6 columns">
    <div class="callout">
        <h4>{{ 'Billing address' | trans }}</h4>

        {{ form_widget(form.billingSameAsShipping, {'attr': {'class': '__toggler __inverted'}}) }}
        <label for="form_billingSameAsShipping">{{ 'customer.billingSameAsShipping' | trans }}</label>

        <div class="__toggler-target">
            {% include '@ManualOrderEntryGui/create/partials/address-selection.twig' with {'addressForm': form.billingAddress} %}
        </div>
    </div>
</div>
