<div>
    {{ form_widget(form) }}
    {{ createActionButton(
        url('/customer/add',
            {'redirectUrl': url('/manual-order-entry-gui/create')}
        ),
        'Create Customer' | trans)
    }}
</div>
