
{% if form.manualOrderProducts|length > 0 %}
    <h4>Add Products</h4>
    <table class="manualOrderProducts">
        {% for product in form.manualOrderProducts %}
            <tr>
                <td>{{ form_row(product.sku) }}</td>
                <td>{{ form_row(product.quantity) }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div style="visibility: hidden">
        {{ form_widget(form) }}
    </div>
{% endif %}

