{% for payment in quoteTransfer.payments %}
    {% if payment.giftCard is null %}
        <tr>
            <td>
                <strong>{{ 'Payment' | trans }}:</strong>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>{{ payment.paymentMethod }}</td>
            <td>- {{ payment.amount | money }}</td>
        </tr>
    {% endif %}
{% endfor %}
