@mixin self-service-portal-image-uploader($name: '.image-uploader') {
    #{$name} {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;

        &.is-loading {
            #{$name}__spinner {
                display: flex;
            }
        }

        &__container {
            border: 0.0625rem solid $setting-color-input-border;
            position: relative;
            aspect-ratio: 1;
            max-height: 12.5rem;
            max-width: 21.875rem;
            width: 100%;

            &:focus-within,
            &:hover {
                border-color: $setting-color-input-border-focus;
            }
        }

        &__holder {
            display: flex;
            align-items: center;
        }

        &__input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &__info {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.625rem;
            gap: 0.3125rem;
        }

        &__tooltip {
            position: relative;
        }

        &__tooltip-info {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__button,
        &__delete {
            position: absolute;
            bottom: 0.3125rem;
        }

        &__button {
            left: 0.3125rem;
        }

        &__delete {
            right: 0.3125rem;
        }

        &__delete-input {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            z-index: $setting-zi-under-layer;
        }

        &__spinner {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        @content;
    }
}
