parameters:
    level: 8
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Access to undefined constant .+AuthenticationEvents::AUTHENTICATION_FAILURE.#'
        -
            identifier: missingType.iterableValue
