parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 7
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/ProductList/src/Spryker/Zed/ProductList/Persistence/ProductListRepository.php'
