parameters:
    checkMissingIterableValueType: false
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/ProductList/src/Spryker/Zed/ProductList/Persistence/ProductListRepository.php'
