{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headSubTitle %}
    {{- 'Create Offer' | trans -}}
{% endblock %}

{% block content %}
    <web-mp-product-offer
        cloak
        table-id="web-mp-product-offer"
        table-config='{{ guiTableConfiguration(productTableConfiguration) }}'>
        <h1 title>{{ 'Create Offer' | trans }}</h1>
        <span description>{{ 'To create your offer, choose a product from the list below.' | trans }}</span>
    </web-mp-product-offer>
{% endblock %}
