<table
    class="table table-striped table-bordered table-hover {{ config.class | default('gui-table-data') }}"
    data-ajax="/{{ app.request.get('module') }}/{{ app.request.get('controller') }}/{{ config.url }}"
    >
    {% include '@Gui/Table/thead.twig' %}
    {% include '@Gui/Table/tfoot.twig' %}
</table>
