{# this template is used to render the table without ajax call #}
<table class="table table-stripped table-bordered table-hover">
    <tr>
        {% for title in table.header %}
            <td>{{ title | trans }}</td>
        {% endfor %}
    </tr>
    {% for rows in table.data %}
        <tr>
            {% for column in rows %}
                <td>{{ column }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
