parameters:
    level: 7
    ignoreErrors:
        - '#Parameter \#1 \$dictionaryKey of method .+LabelDictionaryInterface::findLabel\(\) expects string, int given#'
        -
            identifier: missingType.iterableValue
