parameters:
    ignoreErrors:
        - '#Cannot access offset .+fk_product.+ on .+SpyProductLabel\.#'
        - '#Method .+ProductLabelStorageQueryContainer::query.+\(\) should return .+Spy.+Query but returns Propel\\Runtime\\ActiveQuery\\ModelCriteria#'
        - '#Method .+ProductLabelStorageQueryContainer::query.+\(\) should return .+Spy.+Query but returns Propel\\Runtime\\ActiveQuery\\Criteria#'
        - '#Parameter \#1 \$reference of method .+SynchronizationDataTransfer::setReference\(\) expects string|null, int given#'
        - '#Parameter \#1 \$dictionaryKey of method .+LabelDictionaryInterface::findLabel\(\) expects string, int given#'
