parameters:
    ignoreErrors:
    - '#Call to an undefined method .+Criteria::.+\(\).#'
    - '#Call to an undefined method .+DataSetStepBrokerInterface::addStep\(\).#'
    - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::addDataSetStepBroker\(\).#'
    - '#Call to an undefined method .+DataSetStepBrokerAwareInterface::import\(\).#'
