parameters:
    level: 8
    ignoreErrors:
        - '#Call to an undefined method Propel\\Runtime\\ActiveRecord\\ActiveRecordInterface::isNew\(\).#'
        - '#Call to an undefined method Propel\\Runtime\\ActiveRecord\\ActiveRecordInterface::isModified\(\).#'
        - '#Call to an undefined method Propel\\Runtime\\ActiveRecord\\ActiveRecordInterface::getPrimaryKey\(\).#'
        - '#Call to an undefined method Propel\\Runtime\\ActiveRecord\\ActiveRecordInterface::getByName\(\).#'
        - '#Call to an undefined method Propel\\Runtime\\ActiveQuery\\ModelCriteria::filterByPrimaryKey\(\).#'
