{% extends '@Gui/layout/layout.twig' %}

{% set widget_title = 'Overview of Merchants' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ createActionButton('/merchant-gui/create-merchant', 'Add Merchant' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of Merchants' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            {{ merchants | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
