<div>
    <div style="text-align: center;">
        {{ 'mail.customer.registration.text' | trans }}
        <a href="{{ mail.customer.confirmationLink }}">{{ 'mail.customer.registration.confirmation' | trans }}</a>
    </div>
</div>
