<div style="text-align: center;">
    {{ 'mail.customer.restore_password.text' | trans }}<br>
    <a href="{{ mail.customer.restorePasswordLink|replace({'token-placeholder': mail.customer.restorePasswordKey}) }}">change password </a>
</div>
