<div class="dummy-payment-form dummy-payment-invoice-form payment-form" id="dummyPaymentInvoice">
    <h3>{{ 'dummyPaymentInvoice.invoice' | trans }}</h3>

    <label>{{ 'dummyPaymentInvoice.date_of_birth' | trans }}</label>
    <div class="field">
        {{ form_widget(form.dummyPaymentInvoice.date_of_birth, { 'attr': {'placeholder': 'dummyPaymentInvoice.date_of_birth' | trans } }) }}
        {{ form_errors(form.dummyPaymentInvoice.date_of_birth) }}
    </div>
</div>
