{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Search Preferences' %}

{% block section_title widget_title | trans %}
{% block head_title widget_title | trans %}

{% block action %}
    <a href="#" class="btn-sm"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            {{ 'Preferences for Price and Category are defined by default. Those cannot be modified via this interface.' | trans }}
        </div>
    </div>

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_content %}

            {{ filtersTable | raw }}

        {% endblock %}

    {% endembed %}

{% endblock %}
