<div style="text-align: center;">
    {{ 'merchant_relation_request.mail.trans.merchant_notification.title' | trans }}<br>
    <a href="{{ mail.merchantRelationRequestTableLink }}">
        {{ 'merchant_relation_request.mail.trans.merchant_notification.button' | trans }}
    </a>
</div>
