%shared-button-default {
	@extend %button;

	$rgbb: $_rgbSpyDodgerBlue;
	$rgbf: $_rgbWhite;

	@include pre(box-shadow, 0 2px 0 $_rgbSpyBostonBlue);
	border-color:$rgbb;
	background:$rgbb;
	color:$rgbf;
	@include pre(transition-property, (box-shadow, border-color, background));
}

%shared-button-default-hover {
	$rgbb: $_rgbSpyBostonBlue;

	border-color:$rgbb;
	background:$rgbb;
	@include pre(box-shadow, 0 2px 0 $_rgbSpyRiverBed);
	@include pre(transition-timing-function, ease-in);
}

%shared-button-default-disabled {
	$rgbb: $_rgbSpyGrayChateau;

	border-color:$rgbb;
	background:$rgbb;
	@include pre(box-shadow, 0 0 0 $rgbb);
	cursor:default;
}