%shared-button-generic {
	@extend %button;

	$rgbb: $_rgbWhite;
	$rgbf: $_rgbSpyDodgerBlue;

	border-color:$rgbf;
	background:$rgbb;
	color:$rgbf;
	@include pre(transition-property, (background, color));
}

%shared-button-generic-hover {
	$rgbb: $_rgbSpyDodgerBlue;
	$rgbf: $_rgbWhite;

	border-color:$rgbb;
	background:$rgbb;
	color:$rgbf;
}

%shared-button-generic-disabled {
	$rgbb: $_rgbWhite;
	$rgbf: $_rgbSpyGrayChateau;

	border-color:$rgbf;
	background:$rgbb;
	color:$rgbf;
	cursor:default;
}