%shared-button-warning {
	@extend %button;

	$rgbb: $_rgbUiMonza;
	$rgbf: $_rgbWhite;

	@include pre(box-shadow, 0 2px 0 $_rgbUiCrownOfThorns);
	border-color:$rgbb;
	background:$rgbb;
	color:$rgbf;
	@include pre(transition-property, (box-shadow, border-color, background));
}

%shared-button-warning-hover {
	$rgbb: $_rgbUiCrownOfThorns;

	border-color:$rgbb;
	background:$rgbb;
	@include pre(box-shadow, 0 2px 0 $_rgbUiPaco);
	@include pre(transition-timing-function, ease-in);
}

%shared-button-warning-disabled {
	$rgbb: $_rgbSpyGrayChateau;

	border-color:$rgbb;
	background:$rgbb;
	@include pre(box-shadow, 0 0 0 $rgbb);
	cursor:default;
}