<div class="col-md-6 ajax-loaded">
    <div class="form-group">
        <div novalidate="novalidate" id="cart_rule_cart_rules_rule_{{ elementsCount }}">
            {% do form._token.setRendered %}
            {{ form_row(form) }}
        </div>
    </div>
</div>
