.lumberjack__output {
  margin: 0;
  padding: 0;
  list-style: none;

  min-height: 0;
  height: 100%;
  overflow: auto;

  background: #fff;

  position: relative;

  mark {
    background: transparent;
    color: inherit;
  }

  @import 'table';
  @import 'charts';
}


@import 'error';
@import 'query-infos';
@import 'query-result';
@import 'result-chart';
@import 'modal-window';

.lumberjack__result {
  position: relative;
}

.lumberjack__result-content {
  white-space: nowrap;
  overflow-x: auto;
}
