.lumberjack__modal-window {
  position: absolute;

  box-shadow: 0 10px 50px -10px #000;

  top: 50%;
  left: 50%;

  min-width: 100px;

  background: #fff;

  max-height: 90%;
  max-width: 90%;

  &.is-hidden {
    display: none;
  }
}

.lumberjack__modal-window__header {
  background: $ci-black;
  color: #fff;

  height: 24px;

  overflow: hidden;

  > h1 {
    font-family: 'Source Code Pro', Monaco, monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    margin: 0 10px 0 0;
    padding: 0 5px;

    float: left;
  }

  > button {
    float: right;

    background: $ci-blue-dark;
    border: none;
    color: #fff;
    height: 24px;
    line-height: 24px;
    margin: 0;

    cursor: pointer;

    &:hover {
      background: $ci-blue-light;
    }
  }
}

.lumberjack__modal-window__content {
  padding: 20px;

  overflow: auto;
}
