.lumberjack__query-infos {
  margin: 5px 10px;

  dfn[data-title] {
    cursor: help;
    border-bottom: 1px dashed $ci-blue-light;
    position: relative;

    &:hover{
      border-bottom: 0;

      &:before,
      &:after {
        position: absolute;
        bottom: 100%;
      }

      &:before {
        content: attr( data-title );

        color: $ci-blue-light;
        font-size: 11px;
        line-height: 12px;
        white-space: nowrap;

        background: $ci-black;

        padding: 5px 7px;

        border-radius: 3px;

        position: absolute;
        left: 0;
        margin-bottom: 5px;

        box-shadow: 0 0 3px 2px #fff;
      }

      &:after {
        content: '';
        border: 5px solid transparent;
        border-bottom: 0;
        border-top-color: $ci-black;
        left: 50%;
        margin-left: -5px;
      }
    }
  }

  dt, dd {
    display: inline-block;
    font-size: 12px;
  }

  dt {
    color: $ci-gray-dark;

    text-shadow: -1px -1px 0px #fff;

    &:after {
      content: ':';
    }
  }

  dd {
    margin-left: 5px;

    + dt {
      margin-left: 20px;
    }
  }

  .lumberjack__pager {
    a {
      color: #fff;
      text-align: center;
      text-decoration: none;

      // border-radius: 100%;

      display: inline-block;
      vertical-align: middle;

      padding: 0 5px;
      // min-width: 1.4em;

      font-size: 16px;

      // height: 1em;
      // line-height: 1em;

      background: $ci-blue-dark;

      @include transition( background .125s );

      &:hover {
        // text-decoration: unerline;
        background: $ci-blue-light;
      }
    }
  }
}

.lumberjack__query-pagination {

  .lumberjack__query-pagination__select {
    border: 1px solid $ci-blue-dark;
    padding: 2px;

    option {
      color: $ci-blue-dark;

      &[selected] {
        color: $ci-red-dark;
        font-weight: 700;
      }
    }
  }

  .lumberjack__query-pagination__submit {
    display: none;

    border: 0;
    color: $ci-blue-dark;
    background: none;
    cursor: pointer;

    &:hover {
      color: $ci-blue-light;
    }
  }

  &.is-changed {
    .lumberjack__query-pagination__submit {
      display: inline-block;
    }
  }
}
