{% extends '@Application/layout.twig' %}


{% block body_class %}spy-page{% endblock %}


{% block title_content %}Stock{% endblock %}


{% block content %}
    <div
        spy-app="spyFormat, spyGrid, spyLayout, spyForm"
        ng-strict-di
        ng-controller="ComController"
    >
        <spy-listen on="form_success" do="update()" scope="stock" channel="stock"></spy-listen>

        <spy-listen on="stock_product_grid_row_click" do="context.entity = $argument" channel="stock-product-form"></spy-listen>

        <spy-listen on="form_success" do="update()" scope="stock-product-grid" channel="stock-product-form"></spy-listen>
        <spy-listen on="form_success" do="close()" scope="stock_product-form" channel="stock-product-form"></spy-listen>
        <spy-listen on="form_abort" do="close()" scope="stock-product-form" channel="stock-product-form"></spy-listen>

        <section class="spy-layout n4 f2">
            <div>

                {% include '@Stock/Form/stock-form.twig' %}

                {% include '@Stock/Grid/stock-grid.twig' %}

            </div>

            <div>

                {% include '@Stock/Grid/stock-product-grid.twig' %}

                {% include '@Stock/Form/stock-product-form.twig' %}

            </div>
        </section>
    </div>
{% endblock %}