parameters:
    ignoreErrors:
    	    - '#Method .+UserRepository::getUserEntityByUserCredentials\(\) should return .+UserEntityInterface but returns null.#'
    	    - '#Method .+ClientRepository::getClientEntity\(\) should return .+ClientEntityInterface but empty return statement found.#'
    	    - '#Method .+ScopeRepository::getScopeEntityByIdentifier\(\) should return .+ScopeEntityInterface but returns null.#'
