parameters:
    ignoreErrors:
    	    - '#Method .+UserRepository::getUserEntityByUserCredentials\(\) should return .+UserEntityInterface but returns null.#'
    	    - '#Method .+ScopeRepository::getScopeEntityByIdentifier\(\) should return .+ScopeEntityInterface but returns null.#'
