parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
    - '#Call to an undefined method Silex\\Application::render\(\).#'
    - '#Comparison operation "<" between (1|3) and 3 is always (true|false).#'
    - '#Else branch is unreachable because previous condition is always true#'
