<div class="well">
    {{ tips | raw }}
</div>

{% include '@ConfigurableBundleGui/Template/_partials/translations.twig' with {
    currentLocale: currentLocale,
    translations: form.translations,
} %}
