parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Orm\\Zed\\Category\\Persistence\\SpyCategoryQuery\|Orm\\Zed\\Locale\\Persistence\\SpyLocaleQuery::useSpyCategoryStoreQuery\(\)#'
        - '#Cannot access an offset on Orm\\Zed\\ProductCategory\\Persistence\\SpyProductCategory.#'
