{% extends '@Gui/Layout/layout.twig' %}

{% block head_title 'Customers' | trans %}

{% block section_title 'Customers' | trans %}

{% block content %}

    <p>
        <a href="/customer/add" class="btn btn-primary ">{{ 'Add a new customer' | trans }}</a>
    </p>

    {% include '@Gui/Partials/Table/header.twig' with { table_title: '' } %}
    {{ customerTable | raw }}
    {% include '@Gui/Partials/Table/footer.twig' %}


{% endblock %}
