{% extends '@Gui/Layout/layout.twig' %}

{% block head_title 'Customer' | trans %}

{% block section_title 'Add a customer' | trans %}

{% block content %}

    <p>
        <a href="{{ app.request.getRequestUri() }}/add" class="btn btn-primary ">Add a new customer</a>
    </p>
    {{ customerTable | raw }}

{% endblock %}
