<?php

use Spryker\Shared\Ratepay\RatepayConstants;

$config[RatepayConstants::PROFILE_ID] = '';
$config[RatepayConstants::SECURITY_CODE] = '';
$config[RatepayConstants::SNIPPET_ID] = 'ratepay';
$config[RatepayConstants::SHOP_ID] = '';
$config[RatepayConstants::SYSTEM_ID] = 'Spryker ' . $config[ApplicationConstants::HOST_YVES];

/* Test URL - Live URL is https://gateway.ratepay.com/api/xml/1_0 */
$config[RatepayConstants::API_URL] = 'https://gateway-int.ratepay.com/api/xml/1_0';
