{% if searchResponse.paging.pageCount > 1 %}
    <div class="callout text-center">
        {% include '@FactFinderGui/layout/partials/pagination.twig' with {
        parameters: app.request.query.all()|merge({factfinder: pagingRote}),
        currentPage: searchResponse.paging.currentPage.pageNumber,
        paginationPath: 'fact-finder',
        maxPage: searchResponse.paging.pageCount,
        showAlwaysFirstAndLast: true
        } %}
    </div>
{% endif %}
