.spy-format.boolean {
	display:block;
	@include rel(null, 16px, 16px);
	@include pre(border-radius, 8px);
	background:$_rgbUiMonza;

	&:after {
		content:'';
		@include abs(null, 4px, 7px, 8px, 2px);
		background-color:$_rgbWhite;
	}

	&.true {
		background:$_rgbUiLima;

		&:after {
			@extend %svg-checkmark-white;
			@extend %svg-checkmark-white-size;

			left:2px;
			top:3px;
		}
	}
}