parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
    level: 7
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/ProductCustomerPermission/src/Spryker/Client/ProductCustomerPermission/Plugin/ProductCustomerPermissionQueryExpanderPlugin.php'
