table.spy-grid {
	$lh:18px;
	$fh:13px;

	table-layout:fixed;
	width:100%;
	margin:20px 0;
	@include pre(box-shadow, 0 1px 2px rgba($_rgbSpyRiverBed, 0.15));
	border-collapse:collapse;
	border-spacing:0;
	@include font($lh, $fh, $_rgbGridCopy, $_ffCopy, $_ffCutReg);
}

.spy-grid {
	@include font($lh, $fh, $_rgbCopy, $_ffCopy, $_ffCutReg);

	table {
		@extend table.spy-grid;
	}

	thead {
		tr {
			border-bottom:1px solid $_rgbSpyBotticelli;
			background: $_rgbGridOdd;
		}
	}

	tbody {
		tr {
			border-bottom:1px solid $_rgbSpyBotticelli;
			background: $_rgbGridOdd;

			&:last-child {
				border-bottom:none;
			}

			td {
				overflow:hidden;
				padding:11px 14px;
				text-overflow:ellipsis;

				a {
					@extend %reset-link;

					color:$_rgbSpyDodgerBlue;

					&[target] {
						@extend %link-external;
					}
				}
			}
		}
	}

	&.spy-interactive {
		tbody tr {
			cursor:pointer;

			&:hover {
				background: $_rgbSpyAthens;
			}
		}
	}
}