
<h4>{{ 'Assign related products' | trans }}</h4>

<div id="builder"></div>

<div>
    <div id="queryBuilderImport" style="display: none">
        {{ form_row(productRelationForm.querySet) }}
    </div>
</div>

<hr/>

{{ productRuleTable | raw }}

