{% extends '@Application/Layout/layout.twig' %}

{% block content %}

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'CMS page' } %}

                {% block widget_header_content %}

                        <a class="btn btn-sm btn-primary" href="/cms/page/add/">{{ 'Add CMS Page' | trans }}</a>

                {% endblock %}

                {% block widget_content %}

                        {{ pages | raw }}

                {% endblock %}

        {% endembed %}

        {% embed '@Gui/Partials/widget.twig' with { widget_title: 'CMS Redirect' } %}

                {% block widget_header_content %}

                        <a class="btn btn-sm btn-primary" href="/cms/redirect/add/">{{ 'Add CMS Redirect' | trans }}</a>

                {% endblock %}

                {% block widget_content %}

                        {{ redirects | raw }}

                {% endblock %}

        {% endembed %}

{% endblock %}
