{% extends '@Application/Layout/layout.twig' %}

{% block content %}

        <a class="btn btn-sm btn-primary" href="/cms/page/">{{ 'CMS Pages' | trans }}</a>
        <a class="btn btn-sm btn-primary" href="/cms/redirect/">{{ 'CMS Redirects' | trans }}</a>

{% endblock %}
