<li class="catalog__product">
  <img src="/images/products/rhinoceros.jpg" alt="" class="product__image">
  <h1 class="product__name">Nashorn</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/baby-panda.jpg" alt="" class="product__image">
  <h1 class="product__name">Pandababy</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/baby-white-tiger.jpg" alt="" class="product__image">
  <h1 class="product__name">Weißtigerbaby</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/baby-tiger.jpg" alt="" class="product__image">
  <h1 class="product__name">Tigerbaby</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/crocodile.jpg" alt="" class="product__image">
  <h1 class="product__name">Krokodil</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/horse-begging.jpg" alt="" class="product__image">
  <h1 class="product__name">Pferd</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/horse-black-white.jpg" alt="" class="product__image">
  <h1 class="product__name">Pferd 2</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/lion.jpg" alt="" class="product__image">
  <h1 class="product__name">Löwe</h1>
  <h2 class="product__price">€9,99</h2>
</li>
<li class="catalog__product">
  <img src="/images/products/ostrich.jpg" alt="" class="product__image">
  <h1 class="product__name">Strauß</h1>
  <h2 class="product__price">€9,99</h2>
</li>
