parameters:
    ignoreErrors:
        - '#Call to an undefined method Propel\\Runtime\\ActiveQuery\\ModelCriteria::.+#'
        - '#Call to an undefined method .+Criteria::setFormatter\(\).#'
        - '#Method .+ProductOptionStorageQueryContainer::query.+\(\) should return .+SpyProductAbstractProductOptionGroupQuery but returns Propel\\Runtime\\ActiveQuery\\Criteria.#'
