parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+SpyMerchantQuery\|.+SpyStoreQuery::filterByIsActive\(\).#'
        - '#Cannot access offset mixed on non-empty-array<int\|string, non-empty-array<int<0, max>, mixed>>\|int.#'
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/MerchantProductSearch/src/Spryker/Client/MerchantProductSearch/Plugin/Search/MerchantReferenceQueryExpanderPlugin.php'
