parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method .+SpyMerchantQuery\|.+SpyStoreQuery::filterByIsActive\(\).#'
        - '#Cannot access offset mixed on non-empty-array<non-empty-array<int<0, max>, mixed>>\|int\.#'
        -
            identifier: missingType.iterableValue
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/MerchantProductSearch/src/Spryker/Client/MerchantProductSearch/Plugin/Search/MerchantReferenceQueryExpanderPlugin.php'
