{% extends template('widget') %}

{% define data = {
    isCompatible: _widget.isCompatible,
    assetReference: _widget.assetReference,
    sku: _widget.sku
} %}

{% block body %}
    <div>
        {% if data.isCompatible %}
            <span class="status status--compatibility status--approved">{{ 'self_service_portal.asset.compatibility.compatible' | trans }}</span>
        {% else %}
            <span class="status status--compatibility status--rejected">{{ 'self_service_portal.asset.compatibility.not_compatible' | trans }}</span>
        {% endif %}
    </div>
{% endblock %}
