<table>
<caption>Characteristics with positive and negative sides</caption>
<thead>
<tr>
    <th> Characteristic
    <th> Negative
    <th> Positive
        <tbody>
<tr>
    <th> Mood
    <td> Sad
    <td> Happy
<tr>
    <th> Grade
    <td> Failing
    <td> Passing
</table>
