@include keyframes( query-fade ) {
  0% {
    border-color: $ci-red-light;
    border-left-width: 10px;
  }
  10% {
    border-color: $ci-red-dark;
  }
  30% {
    border-color: $ci-orange-dark;
  }
  60% {
    border-color: $ci-orange-light;
  }
  100% {
    border-color: $ci-gray-light;
    border-left-width: 3px;
  }
}

@include keyframes( spin ) {
  0% {
    @include transform( rotate( 0deg ) );
  }
  100% {
    @include transform( rotate( 360deg ) );
  }
}

@include keyframes( stopSpinning ) {
  0% {
    color: $ci-green-light;
  }
  5% {
    @include transform( scale( 1.25 ) rotate( 40deg ) );
  }
  100% {
    @include transform( rotate( 0deg ) );
  }
}

@include keyframes ( orange-green-pulse ) {
  from,
  to {
    color: $ci-orange-light;
    text-shadow: 0 0 5px $ci-orange-light;
  }
  50% {
    color: $ci-green-light;
    text-shadow: 0 0 5px $ci-green-light;
  }
}
