{% set chartDivId = chartType ~ '-' ~ data.key %}

{% block chartContent %}
    <div id="{{ chartDivId }}"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>/*<![CDATA[*/
        var chartLayout = {{ layout.toArray | json_encode | raw }};

        Plotly.plot('{{ chartDivId }}', chartData, chartLayout, { displayModeBar: false });

        /*]]>*/</script>
{% endblock %}
