parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method Spryker\\Service\\UtilDataReader\\Model\\BatchIterator\\PdoBatchIterator::valid\(\) should return bool but returns int<0, max>.#'
        - '#Method Spryker\\Service\\UtilDataReader\\Model\\BatchIterator\\PropelBatchIterator::valid\(\) should return bool but returns int<0, max>.#'
