{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    form: _view.form,
    sspAsset: _view.sspAsset,
    formAction: url('customer/asset/update', { 'reference': _view.sspAsset.reference }),
    title: 'ssp_asset.update.title' | trans,
    activePage: 'asset',
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [
                {
                    label: 'customer.account' | trans,
                    url: url('customer/overview'),
                },
                {
                    label: 'ssp_asset.list.title' | trans,
                    url: url('customer/asset'),
                },
                {
                    label: 'ssp_asset.update.title' | trans ~ ' ' ~ data.sspAsset.reference,
                }
            ]
        }
    } only %}
{% endblock %}

{% block customerContent %}
    <div class="box">
        {% block form %}
            {% include molecule('asset-form', 'SspAssetManagement') with {
                data: {
                    form: data.form,
                    formAction: data.formAction,
                    assetData: [
                        { title: 'ssp_asset.details.reference', value: data.sspAsset.reference },
                        { title: 'ssp_asset.details.status', value: block('status') },
                        { title: 'ssp_asset.details.created_date', value: data.sspAsset.createdDate | formatDateTime },
                        { title: 'ssp_asset.details.owner', value: data.sspAsset.companyBusinessUnit.name | default('ssp_asset.details.owner.undefined' | trans) },
                    ],
                },
            } only %}
        {% endblock %}
    </div>
{% endblock %}

{% block status %}
    {% include molecule('status') with {
        class: 'spacing-y',
        data: {
            label: ('ssp_asset.status.' ~ data.sspAsset.status) | trans,
            status: data.sspAsset.status,
        },
    } only %}
{% endblock %}
