{% extends '@ZedUi/LayoutCentral/layout-central.twig' %}

{% block content %}
    <mp-login>
        <form action="">
            <spy-form-item error="error" for="form-email">
                Email
                <spy-input control required="true" name="email" value="" placeholder="example@spryker.com"></spy-input>
            </spy-form-item>
            <spy-form-item for="form-password">
                Password
                <spy-input control required="true" type="password" name="password" value="" placeholder="Enter password"></spy-input>
            </spy-form-item>
            <spy-button type="submit">Login</spy-button>
        </form>
    </mp-login>
{% endblock %}

{% block footerJs %}
    {{ parent() }}
    <script src="{{ assetsPath('js/mp-login/polyfills-es5.js') }}"></script>
    <script src="{{ assetsPath('js/mp-login/main-es5.js') }}"></script>
{% endblock %}
