{% extends '@Application/layout.twig' %}

{% block body_class %}spy-page{% endblock %}

{% block head2 %}--{% endblock %}

{% block title_content %}Url{% endblock %}

{% block content %}
    <section
            class="spy-layout compact"
            spy-app="spyGrid,spyForm"
            ng-controller="GridController"
            ng-strict-di
            src="/url/index/grid"
            name="grid"
            on="{ form_success : 'update' }"
            ng-class="{ query : queryActive }"
            >

        <h3>{{ "url.index" | trans }}</h3>

        <spy-form
                class="spy-layout sparse"
                src="/url/form/add"
                name="key_edit"
                channel="glossary"
                >

            <div spy-input-text="field.url" options="{label: 'Url'}"></div>
            <div spy-input-select="field.fk_locale" options="{ label : 'Locale' }"></div>
            <div spy-input-select="field.resource_type" options="{ label : 'Resource Type' }"></div>
            <div spy-input-text="field.resource" options="{ label : 'Resource', reload : true }"></div>

            <div class="spy-layout buttons">
                <button class="button accept" ng-disabled="query" ng-click="update()">Update</button>
            </div>
        </spy-form>


        <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

        <table class="spy-grid spy-interactive">
            <thead>
            <tr>
                <th spy-grid-head="columns['url']" label="Url"></th>
                <th spy-grid-head="columns['locale_name']" label="Locale"></th>
                <th spy-grid-head="columns['fk_resource']" label="Resource"></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="row in rows">
                <td>{[{ row['url'] }]}</td>
                <td>{[{ row['locale_name'] }]}</td>
                <td>{[{ row['fk_resource_redirect'] }]}</td>
            </tr>
            <tr ng-if="!rows.length">
                <td colspan="4">{{ "grid.no.results" | trans }}</td>
            </tr>
            </tbody>
        </table>

        <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

    </section>

{% endblock %}