$ci-blue-light   : #33b5e5;
$ci-violet-light : #aa66cc;
$ci-green-light  : #99cc00;
$ci-orange-light : #ffbb33;
$ci-red-light    : #ff4444;
$ci-gray-light   : #ccc;

$ci-blue-dark   : #09c;
$ci-violet-dark : #93c;
$ci-green-dark  : #690;
$ci-orange-dark : #f80;
$ci-red-dark    : #c00;
$ci-gray-dark   : #999;

$ci-silver : #eee;
$ci-black  : #222;
