@import 'compass/css3';
@import 'ci';
@import 'mixins';

@include font-face( 'iconic', inline-font-files(
    'icomoon.woff', woff,
    'icomoon.ttf', truetype,
    'icomoon.svg', svg
  )
);

@import 'animations';

%iconic {
  font-family: iconic, sans-serif;
}

%l337 {
  font-family: iconic, monospace;
}

%ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &::before {
    font-family: iconic;
    // @extend %iconic;
    display: block;
    height: 100%;
  }
}

.lumberjack__container {
  font-family: sans-serif;
  font-size: 16px;

  max-height: 100%;
  min-height: 200px;
  // overflow: auto;
  // width: 100%;
  background: #fff;

  margin: -20px;

  * {
    @include box-sizing( border-box );
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: $ci-green-light;
    &:hover{
      background: $ci-orange-dark;
    }
  }
  ::-webkit-scrollbar-track {
    background: $ci-black;
  }

  a, a:visited, a:link {
    color: $ci-blue-dark;
  }

  @import 'input/autocomplete';
  @import 'input/datepicker';
}

@import 'input/command';
@import 'output/entries';
