@mixin keyframes( $name ) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation( $params ) {
  -webkit-animation: $params;
     -moz-animation: $params;
      -ms-animation: $params;
       -o-animation: $params;
}
