{% block content %}

<table class="table table-condensed">
    <thead>
    <tr>
        <td>Prefix</td>
        <td>{{ codePool.prefix }}</td>
    </tr>
    </thead>
    <tr>
        <td>Reusable</td>
        <td>
            {% if codePool.getIsReusable %}
                <i class="icon-check"></i>
            {% else %}
                <i class="icon-check-empty"></i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>One per Customer</td>
        <td>
            {% if codePool.getIsOncePerCustomer %}
                <i class="icon-check"></i>
            {% else %}
                <i class="icon-check-empty"></i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Refundable</td>
        <td>
            {% if codePool.getIsRefundable %}
                <i class="icon-check"></i>
            {% else %}
                <i class="icon-check-empty"></i>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Active</td>
        <td>
            {% if codePool.getIsActive %}
                <i class="icon-check"></i>
            {% else %}
                <i class="icon-check-empty"></i>
            {% endif %}
        </td>
    </tr>
</table>
<script>
    $('#number').popover('destroy');
    var options = {
        'title': '{{ 'Configuration of'|trans ~ codePool.name }}',
        'html': true,
        'content' : '{{ html }}',
        'placement' : 'left',
        'template' : '<div style="width: 350px" class="popover special-class"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
    }
    $('#number').popover(options);
    $('#number').popover('show');

    $('#number').focusout(function() {
        $('#number').popover('destroy');
    });
</script>
{% endblock %}
