@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@dashboard-stats-block-text-line-height: 1.7;

.mp-dashboard-stats-block {
    &__text {
        display: block;
        font-size: @font-size-base;
        font-weight: @font-weight-medium;
        color: @gray-darker;
        line-height: @dashboard-stats-block-text-line-height;

        &--count {
            color: @ink;
        }
    }
}
