parameters:
    level: 8
    ignoreErrors:
        - '#Call to an undefined method Propel\\Runtime\\ActiveQuery\\ModelCriteria::filterByFkAclEntitySegment\(\).#'
        -
            identifier: missingType.iterableValue
