<form method="GET">
    <div class="row">
        <div class="small-12 medium-12 large-4 xlarge-3 columns">
            <input id="catalog-filters" type="checkbox" class="__toggler __no-margin-bottom hide" checked>
            <div class="callout hide-for-large">
                <label for="catalog-filters" class="button hollow expanded __no-margin-bottom">
                    <i class="fa fa-filter"></i> Show/Hide filters
                </label>
            </div>
            <div class="__toggler-target">
                {% include '@Catalog/catalog/partials/filters.twig' %}
            </div>
        </div>

        <div class="small-12 medium-12 large-8 xlarge-9 columns">

            {% include '@FactFinder/layout/partials/sort.twig' %}

            {% include '@FactFinder/index/partials/pagination.twig' %}

            <div class="row">
                {% for record in searchResponse.result.records %}
                    <div class="small-12 medium-6 large-6 xlarge-4 columns">
                        {% include "@catalog/catalog/partials/product.twig" with {
                            detailsUrl: record.fields.ProductURL,
                            name: record.fields.Name,
                            priceValue: record.fields.Price,
                            imageUrl: record.fields.ImageURL
                        } %}
                    </div>
                {% endfor %}
            </div>

            {% include '@FactFinder/index/partials/pagination.twig' %}

        </div>
    </div>

    {% if searchString is defined and searchString != '' %}
        <input type="hidden" name="q" value="{{ searchString }}" />
    {% endif %}
</form>
