parameters:
    ignoreErrors:
        - '#Call to an undefined method Propel\\Runtime\\ActiveQuery\\(Model)?Criteria::#'
        - '#Method.+?QueryContainer::query.+?\(\) should return .+?Spy.+?Query but returns .+\.#'
        - '#Parameter \#1 \$v of method .+SpyDiscount::setFkDiscountVoucherPool\(\) expects int, null given.#'
        - '#Parameter \#1 \$value of method .+ClauseTransfer::setValue\(\) expects string|null, int given.#'
        - '#Parameter \#1 \$grossAmount of method .+MoneyValueTransfer::setGrossAmount\(\) expects int|null, string given.#'
        - '#Parameter \#1 \$amount of method .+DiscountCalculatorTransfer::setAmount\(\) expects string|null, (float|int) given.#'
        - '#Parameter \#1 \$validFrom of method .+DiscountGeneralTransfer::setValidFrom\(\) expects string|null, DateTime given.#'
        - '#Parameter \#1 \$validTo of method .+DiscountGeneralTransfer::setValidTo\(\) expects string|null, DateTime given.#'
        - '#Parameter \#1 \$v of method .+SpyDiscount::setAmount\(\) expects int, string|null given.#'
