<div class="payolution-form payolution-invoice-form payment-form" id="payolutionInvoice">
    <h3>{{ 'payment.payolution.invoice' | trans }}</h3>

    <label>{{ 'payolutionInvoice.date_of_birth' | trans }}</label>
    <div class="field">
        {{ form_widget(form.payolutionInvoice.date_of_birth, { 'attr': {'placeholder': 'payolutionInvoice.date_of_birth' | trans } }) }}
        {{ form_errors(form.payolutionInvoice.date_of_birth) }}
    </div>
</div>
