<section
    class="spy-grid interactive"
    ng-controller="GridController"
    src="/discount/grid/voucherPool"
    channel="voucher-pool-form"
    name="voucher-pool-grid"
>
    <h3>Voucher Pool</h3>

    <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

    <table>
        <thead>
            <tr>
                <th spy-grid-head="columns['category']" label="Category"></th>
                <th spy-grid-head="columns['name']" label="Name"></th>
                <th spy-grid-head="columns['template']" label="Template"></th>
                <th spy-grid-head="columns['is_active']" label="Is active"></th>
                <th spy-grid-head="columns['is_infinitely_usable']" label="Is infinitely usable"></th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in rows" ng-click="$emitAllChannels('voucher-pool-update-click', row)">
                <td>{[{ row['category'] }]}</td>
                <td>{[{ row['name'] }]}</td>
                <td>{[{ row['template'] }]}</td>
                <td><spy-format-boolean content="row['is_active']"></spy-format-boolean></td>
                <td><spy-format-boolean content="row['is_infinitely_usable']"></spy-format-boolean></td>
            </tr>
            <tr ng-if="!rows.length">
                <td colspan="5">No results found</td>
            </tr>
        </tbody>

    </table>

    <div spy-grid-pages="pages" labels="{ items : 'Show items %n', pages : 'Page %n of %m' }"></div>

    <div class="spy-layout buttons">
        <button class="button default"ng-click="$emitAllChannels('voucher-pool-update-click', {})">Add VoucherPool</button>
    </div>
</section>
