table.spy-grid {
  caption {
    text-align: left;
    border: 1px solid #d2dce7;
    padding: 10px 5px;
  }
  tr > th {
    padding: 11px 14px;
    text-align: left;
  }
}

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

.pull-right { float: right; }
.pull-left { float: left; }
.notes-item { margin-bottom: 10px; }
