parameters:
    ignoreErrors:
    - '#Call to an undefined method .+Criteria::.+\(\).#'
    - '#Method .+ProductOptionQueryContainer::query.+\(\) should return Orm\\Zed\\ProductOption\\Persistence\\SpyProductOptionGroupQuery but returns .+Query.#'
