@import '../sprite/scss/sprite.scss';
@import 'extend/index.scss';



body.spy-page {
	@include fbox(null, wrap);
	position:relative;		//Safari
	z-index:0;				//Safari
	overflow-y: scroll;
	margin:0;

	@import 'component/spy-page-header.scss';
	@import 'component/spy-page-nav.scss';
	@import 'component/spy-page-content.scss';
}