<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% if title is defined %}{{ title | trans }}{% endif %}{% endblock %}</title>

    {% block head_css %}
        <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-gui-commons.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% endblock %}

</head>
<body class="login">

<div class="login__wrapper">
    <div class="login__container">
        <div class="login__logo zed-logo"></div>

        {% include '@Messenger/Partials/flash-messages.twig' %}

        <div class="login-box">
            {% block login_heading %}
                <div class="login-box__heading">
                    <h1 class="login-box__title">{{ 'Login' | trans }}</h1>
                </div>
            {% endblock %}
            <div class="login-box__content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block footer_js %}
    <script src="{{ assetsPath('js/spryker-zed-gui-commons.js') }}"></script>
{% endblock %}

</body>
</html>
