<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% if title is defined %}{{ title | trans }}{% endif %}{% endblock %}</title>

    {% block head_css %}
        <link rel="stylesheet" href="{{ assetsPath('css/spryker-zed-gui-commons.css') }}">
    {% endblock %}

</head>
<body class="login">

<div class="row">
    <div class="spryker-login">
        <div class="login-spryker-logo">
            <span class="zed-logo"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="spryker-login">
        <div class="wrapper wrapper-content loginColumns">
            {% include '@Messenger/Partials/flash-messages.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block footer_js %}
    <script src="{{ assetsPath('js/spryker-zed-gui-commons.js') }}"></script>
{% endblock %}

</body>
</html>
