@import '../../styles.less';

.mp-dashboard-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -@dashboard-grid-x-padding -@dashboard-grid-y-padding;

    &--stats {
        margin: -@dashboard-grid-default-padding;
        justify-content: space-between;
    }
}
