<div class="container">
    <h3>Offer Items</h3>
    <table class="table table-bordered table-striped table-sm">
        {% include '@OfferGui/View/boxes/item-table-head.twig' %}
        {% for item in quote.items %}
            <tr>
                {% embed '@OfferGui/View/boxes/order-item.twig' with {item: item, displayTotals: true} %}{% endembed %}
            </tr>
            {% embed '@OfferGui/View/boxes/order-item-option.twig' with {item: item} %} {% endembed %}
        {% endfor %}
    </table>
</div>
