<section spy-app="spyForm">

    <spy-form
            ng-controller="FormController"
            ng-strict-di
            src="/user/form/password?id={{ user_id }}"
            {#name="password"#}
            on="{ form_success : 'update' }"
            ng-class="{ query : queryActive }"
            >

        <h3>Change password</h3>

        <div spy-input-text="field.password_old" options="{label: 'Old password'}"></div>
        <div spy-input-text="field.password" options="{label: 'New password'}"></div>
        <div spy-input-text="field.password_repeat" options="{label: 'Repeat password'}"></div>

        <button class="button default" type="submit" ng-disabled="query" ng-click="update()">Change password</button>

    </spy-form>

</section>
