<section spy-app="spyForm">

    <spy-form
        ng-controller="FormController"
        ng-strict-di
        src="/user/form/details?id={{ user_id }}"
        {#name="details"#}
        on="{ form_success : 'update' }"
        ng-class="{ query : queryActive }"
        >

    <h3>User details</h3>

        <div spy-input-text="field.first_name" options="{label: 'First name'}"></div>
        <div spy-input-text="field.last_name" options="{label: 'Last name'}"></div>
        <div spy-input-text="field.username" options="{label: 'Username'}"></div>
        <div spy-input-switch="field.status" options="{ label : 'Is active' }"></div>

        <button class="button default" type="submit" ng-disabled="query" ng-click="update()">Update</button>

    </spy-form>

</section>
