parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method .+ActiveRecordInterface::toArray\(\).#'
        - '#Cannot access offset .+ on DOMNamedNodeMap\.#'
