parameters:
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+ActiveRecordInterface::toArray\(\).#'
        - '#Parameter \#1 \$command of class Symfony\\Component\\Process\\Process constructor expects array, string given.#'
        - '#Cannot access offset .+ on DOMNamedNodeMap\.#'
