{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Attributes' } %}
    {% block widget_content %}

        <div class="col-lg-12">
            Attributes
        </div>

    {% endblock %}
{% endembed %}