{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Price & Taxes' } %}
    {% block widget_content %}

        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-2"><b>Price</b></div>
                    <div class="col-xs-10">{{ currentProduct.price.price | currency }}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-2"><b>Tax</b></div>
                    <div class="col-xs-10">{{ currentProduct.tax_set_id }}</div>
                </div>
            </div>
        </div>

    {% endblock %}
{% endembed %}