{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Category' } %}
    {% block widget_content %}

        <div class="col-lg-12">
            Category
        </div>

    {% endblock %}
{% endembed %}