{% embed '@Gui/Partials/widget.twig' with { widget_title: 'SEO (Meta Information)' } %}
    {% block widget_content %}

        <div class="col-lg-12">
            SEO (Meta Information)
        </div>

    {% endblock %}
{% endembed %}