{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Variants' } %}
    {% block widget_content %}

        <div class="col-lg-12">
            Variants
        </div>

    {% endblock %}
{% endembed %}