{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Image Sets' } %}
    {% block widget_content %}

        <div class="col-lg-12">
            Image Sets
        </div>

    {% endblock %}
{% endembed %}