parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Generated\\Glue\\Ide\\AutoCompletion\|Spryker\\Shared\\Kernel\\LocatorLocatorInterface::[a-zA-Z]*\(\)#'
