parameters:
    level: 7
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method .+ActiveRecordInterface::getStore\(\).#'
        - '#Call to an undefined method .+ActiveRecordInterface::getKey\(\).#'
        - '#Call to an undefined method .+ActiveRecordInterface::getData\(\).#'
