<div class="spy-layout sparse">
    <h3>Returns Overview</h3>
    <table class="spy-grid">
        <tr>
            <th>Item</th>
            <th>SKU</th>
            <th>Returned Qty</th>
            <th>Date</th>
        </tr>
        {% for i in 1..4 %}
            <tr>
                <td>Sample Product</td>
                <td>LKJ4324135</td>
                <td>1/1</td>
                <td>20.06.2015</td>
            </tr>
        {% endfor %}
    </table>
    <button class="button success">Add return</button>
</div>
