{% macro nodecCollectionTree(nodeCollection) %}
    <ol class="dd-list">
        {% for node in nodeCollection.nodes %}
            <li class="dd-item" data-id="{{ node.idCategoryNode }}">
                {% include '@Category/Tree/node-collection-tree-node.twig' with { node: node } %}

                {% if node.childrenNodes is defined and node.childrenNodes | length > 0 %}
                    {{ _self.nodecCollectionTree(node.childrenNodes) }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% import _self as nodecCollectionTree %}

{{ nodecCollectionTree.nodecCollectionTree(childNodes) }}
