{% macro tree(nodes) %}
    <ol class="dd-list">
        {% for node in nodes %}
            <li class="dd-item" data-id="{{ node.id }}">
                {% include '@Category/Tree/tree-node.twig' with { node: node } %}

                {% if node.children is defined and node.children|length > 0 %}
                    {{ _self.tree(node.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% import _self as tree %}

{{ tree.tree(categoryTree) }}
