<div class="container">
    <h3>Offer Items</h3>
    <table class="table table-bordered table-striped table-sm">
        {% include '@Sales/Offer/boxes/item-table-head.twig' %}
        {% if order.itemGroups is defined and order.itemGroups | length > 0 %}
            {% embed '@Sales/Offer/boxes/item-group.twig' with {groups: order.itemGroups} %}{% endembed %}
        {% else %}
            {% embed '@Sales/Offer/boxes/no-group-items.twig' with {items: order.items} %}{% endembed %}
        {% endif %}
    </table>
</div>
