<div>
    <div>
        {{ 'New' | trans }}
    </div>
    <div>
        {{ ordersCountNew }} {{ 'From the last %newOrdersLimit% days' | trans({ '%newOrdersLimit%': newOrdersLimit }) }}
    </div>
</div>
