{#
@var merchantOrderCounts \Generated\Shared\Transfer\MerchantOrderCountsTransfer
#}
<div class="mp-dashboard-card__heading-col">{{ 'Orders' | trans }}</div>

<div class="mp-dashboard-card__heading-col">
    <web-spy-chips color="grey">{{ merchantOrderCounts.total }}</web-spy-chips>
</div>

