parameters:
    ignoreErrors:
    - '#Call to an undefined method .+Criteria::.+\(\).#'
    - '#Method .+ should return .+Query but returns .+Criteria#'
    - '#Parameter \#1 $reference of method .+SynchronizationDataTransfer::setReference\(\) expects string|null, int given#'
