parameters:
    ignoreErrors:
    -
        message: '#Negated boolean expression is always false.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/SearchElasticsearchGui/src/Spryker/Zed/SearchElasticsearchGui/Communication/Plugin/Query/DocumentListQuery.php'
