.ui-helper-hidden-accessible{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 3;

  width: auto !important;

  background: $ci-black;
  cursor: default;

  font-family: sans-serif;

  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;

  margin-left: -.5em;

  @include box-shadow( 0 3px 5px -1px rgba( 0, 0, 0, .5 ));

  list-style: none;

  li {
    font-size: .8em;
    line-height: 1em;

    padding: .5em;
  }

  a {
    color: $ci-gray-dark;
    background: transparent;
    border: 0;
    text-decoration: none;
    @include transition( none );

    &.ui-state-focus {
      color: $ci-blue-light;
    }
  }
}

