.datepicker__anchor {
  position: absolute;
  z-index: 1;
  // margin-left: -.5em;
}

.ui-datepicker {
  // padding: .5em;
  color: $ci-gray-light;
  font-family: sans-serif;
  font-size: .8em;

  background: $ci-black;

  a, [data-event] {
    text-decoration: none;
    cursor: pointer;
  }

  .ui-state-disabled {
    cursor: no-drop;
  }

  .ui-icon {
    background: none;
  }

  .ui-datepicker-header {
    padding: .5em;
    position: relative;
  }

  .ui-datepicker-title {
    margin: 0 1.5em;
    text-align: center;
    white-space: nowrap;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    position: absolute;
    top: .5em;
    width: 1.8em;
  }
  .ui-datepicker-prev {
    text-align: left;
    left: .5em;
  }
  .ui-datepicker-next {
    text-align: right;
    right: .5em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th, td {
    border: 1px solid $ci-black !important;
    padding: 0 !important;
  }

  th, tr {
    background: none !important;
  }

  th {
    text-align: center !important;
  }

  td {
    text-align: right;

    background: $ci-silver;
    color: $ci-black;

    .ui-state-default {
      display: block;
      padding: .25em .25em .6em .5em;
    }

    &:hover {
      background: #fff;
    }

    &.ui-datepicker-unselectable {
      background: $ci-gray-light;
      color: $ci-gray-dark;
    }

    &.ui-datepicker-other-month {
      background: $ci-black;
    }
  }

  // .ui-state-hover,
  .ui-state-active {
    color: #fff !important;
    background: $ci-blue-dark;
  }
}

