@import '~@spryker/styles/src/lib/themes/default/variables/index.less';

@create-abstract-product-padding: 30px;
@create-abstract-product-card-margin-bottom: 20px;
@create-abstract-product-card-input-max-width: 420px;
@create-abstract-product-card-input-half-width: @create-abstract-product-card-input-max-width / 2;
@create-abstract-product-card-name-header-margin-bottom: 5px;
@create-abstract-product-card-name-header-icon-margin-right: 3px;
@create-abstract-product-card-name-header-icon-font-size: 15px;
@create-abstract-product-card-error-radios-margin-top: 14px;

.@{ajax-form-prefix-cls}-container {
    overflow-y: auto;

    &--loading {
        overflow: hidden;
    }
}

.mp-create-abstract-product {
    display: block;
    height: 100%;
    background-color: @gray-lighter;
    font: @font-default;
    letter-spacing: @letter-spacing-base;
    color: @ink;
    overflow-y: auto;

    &__header {
        background-color: @white;
        padding: @create-abstract-product-padding;

        .@{headline-prefix-cls} {
            padding-bottom: 0;
        }
    }

    &__title {
        font-size: @heading-3-font-size;
        font-weight: @font-weight-semi-bold;
    }

    &__content {
        display: block;
        padding: @create-abstract-product-padding;
    }

    &__card {
        display: block;
        margin-bottom: @create-abstract-product-card-margin-bottom;

        .@{input-prefix-cls} {
            max-width: @create-abstract-product-card-input-max-width;
        }

        &--half-width {
            .@{input-prefix-cls} {
                max-width: @create-abstract-product-card-input-half-width;
            }
        }

        &-name-input-header {
            display: flex;
            text-transform: uppercase;
            color: @ink;
            font-size: @font-size-sm;
            font-weight: @font-weight-medium;
            margin-bottom: @create-abstract-product-card-name-header-margin-bottom;

            &-icon {
                margin-right: @create-abstract-product-card-name-header-icon-margin-right;
                font-size: @create-abstract-product-card-name-header-icon-font-size;
            }
        }

        &-name-notification-message {
            color: @gray-dark;
        }
    }

    &__card-radios {
        .@{form-item-prefix-cls}-explain {
            margin-top: @create-abstract-product-card-error-radios-margin-top;
        }
    }

    .@{radio-group-spryker-prefix-cls} {
        &__item:last-child {
            padding-bottom: 0;
        }
    }
}
