parameters:
    level: 7
    ignoreErrors:
        - '#Method .+ should return .+Query but returns .+Criteria#'
        - '#Call to an undefined method .+SpyProductImageQuery\|.+SpyProductImageSetQuery::filterByFkLocale\(\)#'
        -
            identifier: missingType.iterableValue
