parameters:
    level: 8
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Orm\\Zed\\Category\\Persistence\\SpyCategoryQuery\|Orm\\Zed\\Store\\Persistence\\SpyStoreQuery::[a-zA-Z]*\(\)#'
        - '#Parameter \#2 \$size of function array_chunk expects int<1, max>, int given.#'
