<span>{{ priceToPay | money(true, offer.currencyIsoCode) }}</span>
{% if (subtotal - priceToPay > 0) > 0 %}
  <span {% if (subtotal - priceToPay > 0) %} class="discounted" {% endif %}>({{ subtotal | money(true, offer.currencyIsoCode) }})</span>
{% endif %}
