parameters:
    level: 8
    ignoreErrors:
        - '#Parameter \#3 \$depth of function .+expects int\<1, max\>, int\|int\<1, max\> given.#'
        -
            identifier: missingType.iterableValue
