<section
        class="spy-grid spy-layout sparse"
        spy-app="spyFormat, spyGrid, spyForm, spyLayout"
        ng-controller="GridController"
        ng-strict-di
        src="/acl/group/users/{{ query | default ('') }}"
        name="users"
        on="{ form_success : 'update' }"
        >
    <h3>Users</h3>

    <div spy-grid-pages="pages" labels="{ items : 'Show %n items', pages : 'Page %n of %m' }"></div>

    <table>
        <thead>
        <tr>
            <th spy-grid-head="columns['first_name']" label="First name"></th>
            <th spy-grid-head="columns['last_name']" label="Last name"></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="row in rows">
            <td>{[{ row['first_name'] }]}</td>
            <td>{[{ row['last_name'] }]}</td>
        </tr>
        </tbody>
    </table>

    <div spy-grid-pages="pages" labels="{ items : 'Show %n items', pages : 'Page %n of %m' }"></div>
</section>