<spy-form
    class="spy-layout sparse"
    src="/glossary/form/translation"
    name="key_add"
    channel="glossary"
>
    <div class="spy-layout buttons">
        <button class="btn btn-primary" ng-click="$emitAllChannels('glossary_edit')"><i class="fa fa-plus"></i> Add Translation</button>
    </div>
</spy-form>
