<spy-layer>
    <spy-form
        class="spy-layout sparse"
        src="/glossary/form/translation"
        name="key_edit"
        channel="glossary"
    >
        <h3>Edit translation</h3>

        <div spy-input-text="field.key" options="{ label : 'Key' }"></div>

        <div spy-fieldset="field.translations"></div>

        <div class="spy-layout buttons">
            <button class="button accept" ng-disabled="query" ng-click="update()">Update</button>
            <button class="button cancel" ng-disabled="query" ng-click="abort()">Cancel</button>
        </div>
    </spy-form>
</spy-layer>
