<spy-form
    class="spy-layout sparse"
    src="/glossary/form/translation"
    name="key_add"
    channel="glossary"
>
    <div class="spy-layout buttons">
        <button class="button default" ng-click="$emitAllChannels('glossary_edit')">Add Translation</button>
    </div>
</spy-form>
