.spy-grid th[spy-grid-head] {
	position:relative;
	padding:11px 14px;
	font-weight:$_ffCutReg;
	text-align:left;
	white-space:nowrap;

	&.filter {
		padding-left:32px;
	}

	&.sort {
		padding-right:32px;
	}

	div.title {
		@include wh(inline-block, border-box, 100%, $lh);
		vertical-align:top;

		label {
			display:inline-block;
			vertical-align:top;
			@include font(null, null, $_rgbSpyRiverBed, null, $_ffCutBold);
			text-transform:uppercase;
		}

		input {
			@include wh(none, border-box, 100%, $lh);
			margin:0 0 -1px;
			border-width:1px;
			border-style:none none solid;
			border-color:$_rgbSpyBotticelli;
			padding:0;
		}

		&.filter {
			@include pre(transition-property, width);
			@include pre(transition-duration, $_tFast);
			@include pre(transition-timing-function, ease-out);

			span {
				@include absolute(null, 0, 4px, 32px, 32px);
				cursor:pointer;

				&:before {
					@extend %svg-search-dodgerblue;
					@extend %svg-search-dodgerblue-size;

					content:'';
					@include absolute(null, 11px, 7px);
					@include vis(true, $_tFast, ease-out, top);
				}

				&:after {
					@extend %svg-x-dodgerblue;
					@extend %svg-x-dodgerblue-size;

					content:'';
					@include absolute(null, 15px, 10px);
					@include vis(false, $_tFast, ease-in);
				}
			}

			label {
				margin:0;
				@include vis(true, $_tFast, ease-out, margin-top);
				cursor:text;
			}

			input {
				@include wh(block, null, 0%);
				display:block;
				margin:-$lh 0 0;
				@include pre(transition-property, (width, margin-top));
				@include pre(transition-duration, $_tFast);
				@include pre(transition-timing-function, ease-out);
			}

			&.active {
				@include pre(transition-timing-function, ease-in);

				span {
					&:before {
						top:-11px;
						@include vis(false, $_tFast, ease-in, top);
					}

					&:after {
						@include vis(true, $_tFast, ease-out);
					}
				}

				label {
					margin:-$lh 0 0;
					@include vis(false, $_tFast, ease-in, margin-top);
				}

				input {
					width:100%;
					@include pre(transition-timing-function, ease-in);
				}
			}
		}
	}

	div.sort {
		display:inline-block;
		vertical-align:top;
		@include relative(null, 32px, 32px);
		overflow:hidden;
		margin:-7px 0 -7px -4px;
		cursor:pointer;

		&:before {
			@extend %svg-arrowup-dodgerblue;
			@extend %svg-arrowup-dodgerblue-size;

			content:'';
			@include absolute(null, 10px, 8px);
			opacity:1.0;
			@include pre(transition-property, (top, opacity));
			@include pre(transition-duration, $_tFast);
			@include pre(transition-timing-function, ease);
		}

		&:after {
			@extend %svg-arrowdown-dodgerblue;
			@extend %svg-arrowdown-dodgerblue-size;

			content:'';
			@include absolute(null, 10px, 16px);
			opacity:1.0;
			@include pre(transition-property, (top, opacity));
			@include pre(transition-duration, $_tFast);
			@include pre(transition-timing-function, ease);
		}

		&.selected {
			&:before {
				top:12px;
				opacity:1.0;
			}

			&:after {
				top:32px;
				opacity:0.0;
			}

			&.inverse {
				&:before {
					top:-8px;
					opacity:0.0;
				}

				&:after {
					top:12px;
					opacity:1.0;
				}
			}
		}
	}

	ul {
		display:block;
		list-style:none;
		@include absolute(-2px, 100%, null, null, -1px);
		margin:0;
		padding:0;
	}
}