[spy-grid-page] {
	@extend %control-default;

	position:relative;
	margin:0 38px;
	@include pre(border-radius, 0);

	label {
		cursor:pointer;
	}

	input {
		@extend %reset-input;
		@extend %control-input-pull;
	}

	button.prev {
		@extend %control-default;

		@include absolute(border-box,-38px, 0, 32px, 32px);
		@include pre(border-radius, 4px 0 0 4px);
		outline:none;
		border:none;
		padding:0;
		cursor:pointer;

		&:after {
			@extend %svg-arrowleft-dodgerblue;
			@extend %svg-arrowleft-dodgerblue-size;

			content:'';
			@include absolute(null, 12px, 10px);
		}
	}

	button.next {
		@extend %control-default;

		@include absolute(border-box, null, 0, 32px, 32px, -38px);
		@include pre(border-radius, 0 4px 4px 0);
		outline:none;
		border:none;
		padding:0;
		cursor:pointer;

		&:after {
			@extend %svg-arrowright-dodgerblue;
			@extend %svg-arrowright-dodgerblue-size;

			content:'';
			@include absolute(null, 12px, 10px);
		}
	}
}