{% extends '@ZedUi/Layout/merchant-layout-main.twig' %}
{% import _self as view %}

{% block headSubTitle %}
    {{- 'Offers' | trans -}}
{% endblock %}

{% block content %}
    <web-mp-offers-list
        cloak
        table-id="web-mp-offers-list"
        table-config='{{ guiTableConfiguration(productOfferTableConfiguration) }}'>
        <h1 title>{{ 'Offers' | trans }}</h1>

        <web-spy-button-link action url="/product-offer-merchant-portal-gui/product-list" size="lg">{{ 'Add Offer' | trans }}</web-spy-button-link>
    </web-mp-offers-list>
{% endblock %}
