parameters:
    level: 7
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - '%rootDir%/../../../vendor/spryker/spryker/Bundles/ProductPageSearch/src/Spryker/Zed/ProductPageSearch/Persistence/ProductPageSearchQueryContainer.php'
    ignoreErrors:
        - '#Cannot access offset .+ on .+SpyCategoryNode.#'
        - '#Parameter \#2 \$pageMapBuilder of method .+ProductConcretePageMapExpanderPluginInterface::expand\(\) expects .+ProductPageSearchExtension\\Dependency\\PageMapBuilderInterface, .+Search\\Business\\Model\\Elasticsearch\\DataMapper\\PageMapBuilderInterface given.#'
        - '#Parameter \#1 \$categoryNodeData of method Spryker\\Zed\\ProductPageSearch\\Communication\\Plugin\\PageDataExpander\\ProductCategoryPageDataLoaderExpanderPlugin::mapCategoryNodesWithLocaleIdAndNodeId\(\) expects array, iterable<Orm\\Zed\\Category\\Persistence\\SpyCategoryNode>&Propel\\Runtime\\Collection\\ObjectCollection given\.#'
        - '#Parameter \#1 \$categoryNodeData of method Spryker\\Zed\\ProductPageSearch\\Communication\\Plugin\\PageDataExpander\\ProductCategoryPageDataLoaderExpanderPlugin::mapCategoryNodesWithLocaleIdAndNodeId\(\) expects array, Propel\\Runtime\\Collection\\ObjectCollection given\.#'
        - '#Property .+\\PricePageDataExpanderPlugin::\$idStoreMapBuffer \(array<int>\|null\) does not accept array<int\|null>.#'
