parameters:
    level: 7
    ignoreErrors:
        - '#Call to an undefined method .+\\SpyShoppingListCompanyUserQuery.*::orderByIdQuoteRequest\(\)#'
        - '#Call to an undefined method .+\\SpyShoppingListCompanyUserQuery.*::useSpyQuoteRequestVersionQuery\(\)#'
        -
            identifier: missingType.iterableValue
