parameters:
    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'
        - '#Method .+ProductAttributeQueryContainer::query.+\(\) should return .+Spy.+Query but returns Propel\\Runtime\\ActiveQuery\\Criteria#'
        - '#Method .+ProductAttributeQueryContainer::query.+\(\) should return .+Spy.+Query but returns Propel\\Runtime\\ActiveQuery\\ModelCriteria#'
        - '#Binary operation "+=" between \(array|float|int\) and array results in an error.#'
