{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Api' %}

{% block head_title widget_title | trans %}

{% block action %}
{% endblock %}

{% block content %}

    <h2>{{ 'API' | trans }}</h2>
    <p>{{ 'This is a demo showcasing of the Zed REST API.' | trans }}</p>


    <h3>{{ 'Documentation' | trans }}</h3>
    <a href="https://academy.spryker.com/developing_with_spryker/module_guide/zed_api/zed_api.html" target="_blank">{{ 'Zed REST API' | trans }}</a>

{% endblock %}

