.lumberjack__result-chart {
  height: 150px;
  margin: 10px;

  &:empty {
    display: none;
  }

  > svg {
    width: 100%;
    height: 100%;
  }

  text {
    font-size: 10px;
  }

  .brush {
    .extent {
      fill: $ci-black;
      fill-opacity: .25;
      stroke: $ci-black;
      shape-rendering: crispEdges;
    }
  }

  .brush {
    .resize {
      text {
        // font-size: 11px;
        // line-height: 14px;
      }

      &.e {
        text {
          text-anchor: end;
        }
      }
    }
  }

  .axis {
    path,
    line {
      fill: none;
      // stroke: #222;
      shape-rendering: crispEdges;
    }

    .tick {
      stroke: fade-out( #000, .95 );
    }

    // .domain,
    // .tick {
    //   opacity: .05;
    // }

    .domain {
      stroke: #ccc;
    }

    .graph-label {
      font-size: 14px;
    }
  }

  .histogram,
  .area {
    fill: $ci-orange-dark;
    opacity: .75;
  }

  .histogram-shadow {
    fill: #bbb;
    opacity: .1;
  }
}
