<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block head_title %}{% if title is defined %}{{ title | trans }}{% endif %}{% endblock %}</title>

    {% block head_css %}
        <link rel="stylesheet" href="/assets/css/spryker-zed-gui-commons.css">
    {% endblock %}

</head>
<body class="login">

<div class="row">
    <div class="spryker-login">
        <div class="login-spryker-logo">
            <span class="zed-logo"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="spryker-login">
        <div class="wrapper wrapper-content loginColumns">
            {% include '@Messenger/Partials/flash-messages.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% block plugins_js %}
    <script src="/assets/js/vendors/jquery.min.js"></script>
    <script src="/assets/js/vendors/jquery-migrate.min.js"></script>
    <script src="/assets/js/vendors/jquery-ui.min.js"></script>
    <script src="/assets/js/vendors/jquery.dataTables.min.js"></script>
    <script src="/assets/js/vendors/dataTables.bootstrap.min.js"></script>
    <script src="/assets/js/vendors/dataTables.buttons.js"></script>
    <script src="/assets/js/vendors/buttons.print.js"></script>
    <script src="/assets/js/vendors/buttons.html5.js"></script>
    <script src="/assets/js/vendors/buttons.flash.js"></script>
    <script src="/assets/js/vendors/buttons.colVis.js"></script>
    <script src="/assets/js/vendors/buttons.bootstrap.js"></script>
    <script src="/assets/js/vendors/dataTables.responsive.js"></script>
    <script src="/assets/js/vendors/dataTables.select.js"></script>
{% endblock %}

{% block footer_js %}
    <script src="/assets/js/spryker-zed-gui-commons.js"></script>
{% endblock %}

</body>
</html>
