<div class="well">
    {% filter trans|raw %}
        <h3>Product Alternative(s)</h3>
        <p>Below are the product alternatives listed.</p>
    {% endfilter %}
</div>

<div class="form-group col-md-2">
    {{ form_errors(form) }}
    {{ form_widget(form) }}
</div>
