<div class="well">
    {% filter trans|raw %}
        <h3>Product Alternative(s)</h3>
        <p>Below are the product alternatives listed.</p>
    {% endfilter %}
</div>

<div class="form-group col-sm-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
    {{ form_label(form['searchtext-autocomplete']) }}
    {{ form_errors(form['searchtext-autocomplete']) }}
    {{ form_widget(form['searchtext-autocomplete']) }}
</div>
