parameters:
    level: 7
    ignoreErrors:
        - '#Parameter \#1 \$reference of method .+SynchronizationDataTransfer::setReference\(\) expects string\|null, int given#'
        -
            identifier: missingType.iterableValue
