{% extends '@Gui/layout/layout.twig' %}

{% set widget_title = 'Overview of Content Items' | trans %}

{% block head_title widget_title %}
{% block section_title widget_title %}

{% block action %}
    {{ createActionButton('/content-item-gui/create-content-item', 'Add Content Item' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_title -%}
            <h5>{{ 'List of Content Items' | trans}}</h5>
        {%- endblock %}
        {% block widget_content %}
            {{ cmsContentItems | raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}
