<label
	ng-class="{
		focus    : focus,
		disabled : disabled
	}"
	for="{{ unique }}"
>
	{{ label }}
	<span class="optional" ng-if="options.optional">({{ options.optional }})</span>
</label>

<div
	class="select"
	ng-show="!disabled"
	ng-class="{
		open     : focus,
		missing  : selection.length === 0,
		selected : selection.length === 1,
		invalid  : model.messages.length,
	}"
>
	<input
		id="{{ unique }}"
		type="text"
		name="{{ model.name }}"
		autocomplete="off"
		ng-model="value"
		ng-model-options="{ debounce : 500 }"
		ng-disabled="disabled"
		ng-focus="focusInput()"
		ng-blur="blurInput()"
	>

	<ul>
		<li
			ng-repeat="item in selection"
			ng-class="{ select : selectable === $index }"
			ng-click="selectItem(item); closeList()"
			ng-mouseenter="setSelectable($index)"
			ng-mouseleave="setSelectable(-1)"
		>{{ item.label }}</li>
	</ul>
</div>

<span class="select" ng-show="disabled">{{ value }}</span>

<div ng-if="model.messages.length" spy-field-message="model.messages"></div>