<label
	ng-class="{
		focus    : !disabled && focus,
		disabled : disabled
	}"
>
	{{ label }}
	<span class="optional" ng-if="options.optional">({{ options.optional }})</span>
</label>

<div
	class="select"
	ng-show="!disabled"
	ng-class="{
		open     : open,
		invalid  : model.messages.length
	}"
	tabindex="0"
	ng-focus="focusSelect()"
	ng-blur="blurSelect()"
>
	<span ng-click="open ? closeList() : openList()">{{ selected.label }}</span>

	<ul>
		<li
			ng-repeat="item in accepted"
			ng-class="{ select : selectable === $index }"
			ng-click="selectItem(item); closeList()"
			ng-mouseenter="setSelectable($index)"
			ng-mouseleave="setSelectable(-1)"
		>{{ item.label }}</li>
	</ul>
</div>

<span class="select" ng-show="disabled">{{ selected.label }}</span>

<div ng-if="model.messages.length" spy-field-message="model.messages"></div>