<div class="image-set-container" data-image-collection-prototype="{{ form_widget(form[formKey].vars.prototype.children.product_images.vars.prototype) | e }}"
    data-image-set-prototype="{{ form_widget(form[formKey].vars.prototype) | e }}"
>
    {% for productImageSet in form[formKey] %}
        {% if not productImageSet.vars.value.id_product_image_set and productImageSet.parent.parent.vars.valid %}
            {% do productImageSet.setRendered %}
        {% endif %}

        {% if not productImageSet.isRendered %}
            {{ form_widget(productImageSet) }}
        {% endif %}
    {% endfor %}

    <a href="#" class="btn btn-outline btn-primary add-another-image-set m-t-md">
        <i class="fa fa-files-o"></i> {{ 'Add image set' | trans }}
    </a>
</div>
