<div class="panel-body">
    <h3>Manage product variants</h3>
    <p>For the creation of product variants, start by selecting attributes and value that define the difference between your variations.</p>
    <p><i>Note: Editing generated variants by adding or removing attributes, leads to the creation of new variants. Current configurations must be recreated.</i></p>
</div>

<div class="panel-body second">
    {% for input in form.attribute_super %}
        <div class='col-md-10 col-sm-12 col-lg-6'>
            <div class='row vertical-align attribute_metadata_row col-lg-12'>
                <nobr>{{ form_row(input.name) }} {{ form_row(input.value) }} {{ form_row(input.value_hidden_id) }}</nobr>
            </div>
        </div>
    {% endfor %}
</div>