<div class="well">
    {% filter trans|raw %}
        <h3>Product variants</h3>
        <p>Lorem ipsum</p>
        <p><i>Note: Deactivated product variants are not available in the shop anymore.</i></p>
    {% endfilter %}
</div>

{{ variantTable | raw }}
