<div class="panel-body">
    <h3>Product variants</h3>

    <p>
        Lorem ipsum
    </p>

    <p>
        <i>Note: Deactivated product variants are not available in the shop anymore.</i>
    </p>
</div>

<div class="panel-body second">
    {{ variantTable | raw }}
</div>