.spy-grid {
	@extend %layout-container-default;

	h1,
	h2 {
		@extend %text-default;
	}

	h3 {
		@extend %text-title1;

		margin-left:$_xSpacing;
		margin-right:$_xSpacing;
	}

	h4 {
		@extend %text-title2;

		margin-left:$_xSpacing;
		margin-right:$_xSpacing;
	}

	h5 {
		@extend %text-title3;

		margin-left:$_xSpacing;
		margin-right:$_xSpacing;
	}

	h6 {
		@extend %text-large;

		margin-left:$_xSpacing;
		margin-right:$_xSpacing;
	}

	p {
		@extend %text-default;

		margin-left:$_xSpacing;
		margin-right:$_xSpacing;
	}
}