@mixin n1 {
	@include fbox(row, wrap);

	&>* {
		@include fitem(null, 100%);

		&:nth-child(1n) {
			margin-left:0;
			margin-right:0;
		}
	}
}



@function n2vars() {
	@return (
		ox : 0.5,
		oxGutter : $_xGutter * 0.5
	);
}

@mixin n2 {
	$var : n2vars();

	@include fbox(row, wrap);

	&>* {
		display:block;
		@include fitem(null, calc(50% - #{map-get($var, oxGutter)} ));
		margin-bottom:$_yGutter;
		@include pre(box-sizing, border-box);

		&:nth-child(2n+1) {
			margin-right:$_xGutter * map_get($var, ox);
		}

		&:nth-child(2n+2) {
			margin-left:$_xGutter * map_get($var, ox);
		}
	}
}

@mixin n2f1 {
	$var : n2vars();

	&.f1>*:nth-child(2n+1):nth-last-child(1) {
		@include fitem(null, 100%);
		margin-right:0;
	}
}



@function n3vars() {
	@return (
		oox : 0.67,
		oxx : 0.33,
		ooxGutter : $_xGutter * 0.67,
		oxxGutter : $_xGutter * 0.33
	);
}

@mixin n3 {
	$var : n3vars();

	@include fbox(row, wrap);

	&>* {
		display:block;
		@include fitem(null, calc(33.33% - #{map-get($var, ooxGutter)} ));
		margin-bottom:$_yGutter;
		@include pre(box-sizing, border-box);

		&:nth-child(3n+1) {
			margin-right:$_xGutter * map-get($var, oox);
		}

		&:nth-child(3n+2) {
			margin-left :$_xGutter * map-get($var, oxx);
			margin-right:$_xGutter * map-get($var, oxx);
		}

		&:nth-child(3n+3) {
			margin-left :$_xGutter * map-get($var, oox);
		}
	}
}

@mixin n3f2 {
	$var : n3vars();

	&.f2>*:nth-child(3n+2) {
		&:nth-last-child(1) {
			@include fitem(null, calc(66.67% - #{map-get($var, oxxGutter)} ));
			margin-right:0;
		}
	}
}

@mixin n3f1 {
	$var : n3vars();

	&.f1>*:nth-child(3n+1) {
		&:nth-last-child(1) {
			@include fitem(null, 100%);
			margin-right:0;
		}

		&:nth-last-child(2) {
			@include fitem(null, calc(66.67% - #{map-get($var, oxxGutter)} ));
			margin-right:$_xGutter * map-get($var, oxx);

			&+* {
				@include fitem(null, calc(33.33% - #{map-get($var, ooxGutter)} ));
				margin-left :$_xGutter * map-get($var, oox);
				margin-right:0;
			}
		}
	}
}

@mixin n3fn {
	$var : n2vars();

	&.fn>:nth-child(3n+1) {
		&:nth-last-child(2) {
			@include fitem(null, calc(50% - #{map-get($var, oxGutter)} ));
			margin-left :0;
			margin-right:map-get($var, oxGutter);

			&+* {
				@include fitem(null, calc(50% - #{map-get($var, oxGutter)} ));
				margin-left :map-get($var, oxGutter);
				margin-right:0;
			}
		}
	}
}

@mixin n3f2_n2 {
	&.f2>* {
		&:nth-child(3n+2) {
			&:nth-last-child(1) {
				@include fitem(null, 100%);
				margin-left:0;
				margin-right:0;
			}
		}

		&:nth-child(2n+1) {
			&:nth-last-child(2) {
				@include fitem(null, 100%);
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

@mixin n3f1_n2 {
	$var : n2vars();

	&.f1>*:nth-child(3n+1) {
		&:nth-last-child(2) {
			@include fitem(null, 100%);
			margin-left:0;
			margin-right:0;

			&:nth-child(2n+1) {
				&+* {
					@include fitem(null, 100%);
					margin-left:0;
					margin-right:0;
				}
			}

			&:nth-child(2n+2) {
				@include pre(order, 1);

				&+* {
					margin-left :map-get($var, oxGutter);
					margin-right:0;
				}
			}
		}

		&:nth-last-child(1) {
			@include fitem(null, 100%);
			margin-left:0;
			margin-right:0;
		}
	}
}

@mixin n3fn_n2 {
	$var : n2vars();

	&.fn>* {
		&:nth-child(3n+1) {
			&:nth-last-child(2) {
				@include fitem(null, 100%);
				margin-left: 0;
				margin-right: 0;

				& + * {
					@include fitem(null, 100%);
					margin-left: 0;
					margin-right: 0;
				}
			}
		}

		&:nth-child(2n+1) {
			&:nth-last-child(3) {
				@include fitem(null, 100%);
				margin-left:0;
				margin-right:0;
			}
		}
	}
}



@function n4vars() {
	@return (
		ooox : 0.75,
		ooxx : 0.50,
		oxxx : 0.25,
		oooxGutter : $_xGutter * 0.75,
		ooxxGutter : $_xGutter * 0.50,
		oxxxGutter : $_xGutter * 0.25
	);
}

@mixin n4 {
	$var : n4vars();

	@include fbox(row, wrap);

	&>* {
		display:block;
		@include fitem(null, calc(25% - #{map-get($var, oooxGutter)} ));
		margin-bottom:$_yGutter;
		@include pre(box-sizing, border-box);

		&:nth-child(4n+1) {
			margin-right:$_xGutter * map-get($var, ooox);
		}

		&:nth-child(4n+2) {
			margin-left :$_xGutter * map-get($var, oxxx);
			margin-right:$_xGutter * map-get($var, ooxx);
		}

		&:nth-child(4n+3) {
			margin-left :$_xGutter * map-get($var, ooxx);
			margin-right:$_xGutter * map-get($var, oxxx);
		}

		&:nth-child(4n+4) {
			margin-left :$_xGutter * map-get($var, ooox);
		}
	}
}

@mixin n4f3 {
	$var : n4vars();

	&.f3>*:nth-child(4n+3) {
		&:nth-last-child(1) {
			@include fitem(null, calc(50% - #{map-get($var, ooxxGutter)} ));
			margin-right:0;
		}
	}
}

@mixin n4f2 {
	$var : n4vars();

	&.f2>*:nth-child(4n+2) {
		&:nth-last-child(1) {
			@include fitem(null, calc(75% - #{map-get($var, oxxxGutter)} ));
			margin-right:0;
		}

		&:nth-last-child(2) {
			@include fitem(null, calc(50% - #{map-get($var, ooxxGutter)} ));
			margin-right:$_xGutter * map-get($var, oxxx);

			&+* {
				@include fitem(null, calc(25% - #{map-get($var, oooxGutter)} ));
				margin-left :$_xGutter * map-get($var, ooox);
				margin-right:0;
			}
		}
	}
}

@mixin n4f1 {
	$var : n4vars();

	&.f1>*:nth-child(4n+1) {
		&:nth-last-child(1) {
			@include fitem(null, 100%);
			margin-right:0;
		}

		&:nth-last-child(2) {
			@include fitem(null, calc(75% - #{map-get($var, oxxxGutter)} ));
			margin-right:$_xGutter * map-get($var, oxxx);

			&+* {
				@include fitem(null, calc(25% - #{map-get($var, oooxGutter)} ));
				margin-left:$_xGutter * map-get($var, ooox);
				margin-right:0;
			}
		}

		&:nth-last-child(3) {
			@include fitem(null, calc(50% - #{map-get($var, ooxxGutter)} ));
			margin-right:$_xGutter * map-get($var, ooxx);

			&+* {
				@include fitem(null, calc(25% - #{map-get($var, oooxGutter)} ));
				margin-left :$_xGutter * map-get($var, ooxx);
				margin-right:$_xGutter * map-get($var, oxxx);
			}

			&+*+* {
				@include fitem(null, calc(25% - #{map-get($var, oooxGutter)} ));
				margin-left :$_xGutter * map-get($var, ooox);
				margin-right:0;
			}
		}
	}
}

@mixin n4fn {
	$var : n4vars();

	&.fn>*:nth-child(4n+1) {
		&:nth-last-child(2) {
			@include fitem(null, calc(50% - #{map-get($var, ooxxGutter)} ));
			margin-right:$_xGutter * map-get($var, ooxx);

			&+* {
				@include fitem(null, calc(50% - #{map-get($var, ooxxGutter)} ));
				margin-left :$_xGutter * map-get($var, ooxx);
				margin-right:0;
			}
		}
	}
}