.spy-layout.n4 {
	$w4 : $_wMinTile * 4 + $_xGutter * 3;
	$w3 : $_wMinTile * 3 + $_xGutter * 2;
	$w2 : $_wMinTile * 2 + $_xGutter;

	@include smin($w4) {
		@include n4;
		@include n4f3;
		@include n4f2;
		@include n4f1;
		@include n4fn;
	}

	@include sclamp($w3, $w4 - 1px) {
		@include n3;
	}

	@include sclamp($w2, $w3 - 1px) {
		@include n2;
	}
}