parameters:
    ignoreErrors:
        - '#Call to an undefined method Propel\\Runtime\\ActiveQuery\\ModelCriteria::.+#'
        - '#Call to an undefined method .+Criteria::withColumn\(\).#'
        - '#Call to an undefined method .+Criteria::endUse\(\).#'
