parameters:
    ignoreErrors:
    -
        message: '#Parameter \#1 \$omsProcessorIdentifier of method Generated\\Shared\\Transfer\\SpySalesOrderEntityTransfer::setOmsProcessorIdentifier\(\) expects string\|null, int given.#'
        path: '%rootDir%/../../../vendor/spryker/spryker/Bundles/OmsMultiThread/src/Spryker/Zed/OmsMultiThread/Business/OrderExpander/OrderExpander.php'
