{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Attached Product Lists' | trans } %}
    {% block widget_content %}
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                {{ attachedProductListsTable | raw }}
            </div>
        </div>
    {% endblock %}
{% endembed %}
