<div class="flash-messages">
    {% for message in app.session.flashbag.get('flash.messages.success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('flash.messages.info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('flash.messages.error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
</div>
