{% extends '@Application/Layout/layout.twig' %}


{% block head_css_bundles -%}
    <link rel="stylesheet" type="text/css" href="{{ staticPath('Uiexample/styles/bundle.css') }}">
{%- endblock %}

{% block head_js_bundles -%}
    <script type="text/javascript" src="{{ staticPath('Uiexample/scripts/bundle.js') }}"></script>
{%- endblock %}


{% block body_class %}spy-page spy-example{% endblock %}


{% block content %}
    {% include '@UiExample/Partials/Layout/layout.twig'          %}
    {% include '@UiExample/Partials/Layout/spacing-sparse.twig'  %}
    {% include '@UiExample/Partials/Layout/spacing-compact.twig' %}
    {% include '@UiExample/Partials/Layout/spacing-plain.twig'   %}

    <section
        spy-app="spyAction,spyGrid,spyForm,spyFormAction,spyTemplate,spyFormat"
        ng-strict-di
        ng-controller="ComController"
    >
        {% include '@UiExample/Partials/Ng/index.twig' %}

        {% include '@UiExample/Partials/Action/index.twig' %}

        {% include '@UiExample/Partials/Grid/index.twig' %}

        {% include '@UiExample/Partials/Form/index.twig' %}

        {% include '@UiExample/Partials/Template/index.twig' %}
    </section>
{% endblock %}
