<div class="ibox-content ibox-content--alt">
    {% include '@StoreGui/_partials/store_switcher.twig' ignore missing with {
        lableName: 'Please select a store to see the category filters:' | trans,
    } %}
</div>
