{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Role list' %}

{% block head_title widget_title | trans %}

{% block content %}

    {% embed '@Gui/Partials/widget.twig' %}

        {% block widget_header_content %}
            <a href="/acl/role/create" class="btn btn-sm btn-primary ">{{ 'Add new role' | trans }}</a>
        {% endblock %}

        {% block widget_content %}

            {{ roleTable | raw }}

        {% endblock %}

    {% endembed %}

{% endblock %}

